<template>
    <div class="card " style="margin-top: 10px;">
        <h5 class="card-header txt-align-l">Chrono graf</h5>
        <div class="card-body">
            <div class="row" >
                <div class='col-md-12 txt-align-l'>
                    <iframe :src="urlLink" width="100%" height="1000px" style="border: solid 1px #30567f;"></iframe>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'logger',
    data () {
        return {
            urlLink: 'http://'+window.location.hostname+':8888/sources/1/dashboards/'
        }
    },
    props: {

    },
    components: {

    },
    methods: {

    },
    computed: {

    },
    async mounted (){

    }
}
</script>

<style scoped>
    @import '../../../../css/style.branchDetail.css';
</style>