<template>
    <div class='container'>
        <div class="py-4 text-center">
            <h2>History</h2>
        </div>
        <logger />
    </div>
</template>

<script>

import logger from './logger'

export default {
    name: 'log',
    data () {
        return {

        }
    },
    components: {
        logger
    }
}
</script>

<style scoped>

</style>