<template>
    <div class='container'>
        <div class="py-4 text-center">
            <h2>Mapping</h2>
            <b-spinner :hidden="!this.$store.state.uploads" label="Spinning">กำลังอัพโหลดไฟล์</b-spinner>
        </div>
            <!-- <b-container :hidden="!this.$store.state.uploads">
                <b-row>
                    <b-col cols='5'></b-col>
                    <b-col cols='1'>
                    <b-spinner label="Spinning"></b-spinner>
                    </b-col>
                    <b-col cols='5'></b-col>
                </b-row>
            </b-container> -->
        <mapping-call :hidden="this.$store.state.uploads" :apiMapping='apiMapping'/>
        <!-- <mapping-new :apiMapping='apiMapping'/> -->
    </div>
</template>

<script>

import mappingCall from './mapping'
// import mappingNew from './mappingNew'
import apiMapping from '@/serviceAPIS/get-mapping'

export default {
    name: 'mapping',
    data () {
        return {
            apiMapping: apiMapping
        }
    },
    components: {
        mappingCall,
        // mappingNew
    }
}
</script>

<style scoped>

</style>