<template>
    <b-form-file
        no-drop
        accept=".csv"
        multiple 
        :placeholder='"อัพโหลด .csv ไฟล์ Mapping"'
        drop-placeholder="Drop file here..."
        ref="file-input"
        @change="loadTextFromFile"
        size="md"
        :file-name-formatter="formatNames"
    ></b-form-file>
</template>

<script>

import mapping from './mapping.json'

export default {
    data () {
        return {
            placeholder_from: 'Click upload .csv [ '+ this.name +' ]'
        }
    },
    methods: {
        formatNames (files) {
            if (files.length === 1) {
                return files[0].name
            } else {
                return `${files.length} files selected`
            }
        },
        async loadTextFromFile(ev) {
            var file_name = ''
            var arr_upload_out = []
            var file_name_arr = []
            var file_length = ev.target.files.length
            for (var i = 0;i < file_length;i++){
              file_name += "\n-> " + ev.target.files[i].name + ""
            }
            var cm = confirm("คุณต้องการอัพเดทข้อมูลของ Mapping"  + " ไหม\nชื่อไฟล์: " + file_name)
            var iii = 0
            
            if (cm){
                for (var i = 0;i < ev.target.files.length;i++){
                    var reader = new FileReader();
                    var file = ev.target.files[i]
                    file_name_arr.push(ev.target.files[i].name)
                    reader.onload = (evt) => {
                        var temp = []
                        evt.target.result.split('\n').forEach((item, index, arr) => {
                            if (item.split(',')[0] !== '') {
                                temp.push({
                                    branch_code: item.split(',')[0],
                                    station_code:item.split(',')[1],
                                    station_type:item.split(',')[2],
                                    station_name:item.split(',')[3].toString() ,
                                    device_code:item.split(',')[4],
                                    name:item.split(',')[5].toString(),
                                    code:item.split(',')[6],
                                    map:item.split(',')[7],
                                    // c: 1,
                                    // collect: true,
                                    // dup: true,
                                    // tag: "",
                                    // topic: "SCADA/"+item.split(',')[0]+"/"+item.split(',')[1]+"/"+item.split(',')[2]+"/"+item.split(',')[3]+"/"+item.split(',')[4]+"/"+item.split(',')[5]+"/"+item.split(',')[6]
                                })   
                            }
                        })
                        arr_upload_out.push({
                            data: temp,
                            mappingName: file_name_arr[iii].split('.')[0]
                        })
                        iii++;
                        if (iii === ev.target.files.length){
                            const uploadss = async (DataUpload) => {
                                // var data = DataUpload.pop();

                                // this.$store.commit("SETUPLOADS", true);
                                console.log(JSON.stringify(DataUpload))
                                console.log(DataUpload)
                                try {
                                    const res = await this.apiMapping.uploads(DataUpload)
                                    if (res.status === 200){
                                        location.reload();
                                    }else {
                                        alert("Api Error.")
                                        location.reload();
                                    }   
                                } catch (error) {
                                    alert(error)
                                    location.reload();
                                }

                                clearInterval(interval);
                            }
                            var interval = setInterval(uploadss, 1000, arr_upload_out);
                            // const timeout = (ms) => {
                            //     return new Promise(resolve => setTimeout(resolve, ms));
                            // }
                            // this.$store.commit("SETUPLOADS", true);
                            // await timeout(20000);
                            // console.log(JSON.stringify(arr_upload_out))
                            // try {
                            //     const res = await this.apiMapping.uploads(arr_upload_out)
                            //     if (res.status === 200){
                            //         location.reload();
                            //     }else {
                            //         alert("Api Error.")
                            //         location.reload();
                            //     }   
                            // } catch (error) {
                            //     alert(error)
                            //     location.reload();
                            // }
                        }
                    }
                    reader.readAsText(file, "UTF-8");
                    reader.onerror = (evt) => {
                        console.log("error reading file")
                    }
                }
                // const timeout = (ms) => {
                //     return new Promise(resolve => setTimeout(resolve, ms));
                // }
                // this.$store.commit("SETUPLOADS", true);
                // await timeout(20000);
                // console.log(JSON.stringify(arr_upload_out))
                // try {
                //     const res = await this.apiMapping.uploads(arr_upload_out)
                //     if (res.status === 200){
                //         location.reload();
                //     }else {
                //         alert("Api Error.")
                //         location.reload();
                //     }   
                // } catch (error) {
                //     alert(error)
                //     location.reload();
                // }   

            } else {
                this.$refs['file-input'].reset()
            }
        }
    },
    mounted() {
    },
    props: {
        update_all: {
            type: Function
        },
        apiMapping: {
            type: Object
        },
        index: {
            type: Number
        },
        name: {
            type: String
        }
  },
}
</script>

<style scoped>
    @import '../../../../css/style.branchDetail.css';
    @import '../../../../css/style.mapping.css';
</style>