<template>
    <b-form-file
        no-drop
        accept=".csv"
        :placeholder='"Click upload .csv [ "+this.name+" ]"'
        drop-placeholder="Drop file here..."
        ref="file-input"
        @change="loadTextFromFile"
        size="md"
    ></b-form-file>
</template>

<script>

export default {
    data () {
        return {
            placeholder_from: 'Click upload .csv [ '+ this.name +' ]'
        }
    },
    methods: {
        loadTextFromFile(ev) {
            console.log(ev.target.files[0].name)
            var cm = confirm("คุณต้องการอัพเดทข้อมูลของ " + this.name + " ไหม\nชื่อไฟล์: " + ev.target.files[0].name)
            if (cm){
                this.$store.commit("UPLOAD_MAPPING_CSV_CLEAR", this.index);
                const file = ev.target.files[0];
                const reader = new FileReader();
                reader.onload = (e) => {
                    console.log(e)
                    e.target.result.split('\n').forEach((item, index, arr) => {
                        if (item.split(',')[0] !== '') {
                            console.log(item.split(','))
                            if (index !== 0){
                                this.$store.commit("UPLOAD_MAPPING_CSV", {
                                    index_map_csv: this.index,
                                    branch_code: item.split(',')[0],
                                    station_code:item.split(',')[1],
                                    station_type:item.split(',')[2],
                                    station_name:item.split(',')[3],
                                    device_code:item.split(',')[4],
                                    name:item.split(',')[5],
                                    code:item.split(',')[6],
                                    map:item.split(',')[7],
                                    c: 1,
                                    collect: true,
                                    dup: true,
                                    tag: "",
                                    topic: "SCADA/"+item.split(',')[0]+"/"+item.split(',')[1]+"/"+item.split(',')[2]+"/"+item.split(',')[3]+"/"+item.split(',')[4]+"/"+item.split(',')[5]+"/"+item.split(',')[6]
                                    // SCADA/5531011/KS/DPB/0/FLOW/2/TOTAL
                                });
                            }
                        }
                    })
                    this.update_all();
                }
                reader.readAsText(file);
            } else {
                this.$refs['file-input'].reset()
            }
        }
    },
    mounted() {
    },
    props: {
        update_all: {
            type: Function
        },
        apiMapping: {
            type: Object
        },
        index: {
            type: Number
        },
        name: {
            type: String
        }
  },
}
</script>

<style scoped>
    @import '../../../../css/style.branchDetail.css';
    @import '../../../../css/style.mapping.css';
</style>