<template>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/static/images/login/img-05.jpg');">
            <div class="wrap-login100 p-t-10 p-b-30">
                <!-- <form class="login100-form validate-form"> -->
                    <div class="login100-form-avatar">
                        <img src="/static/images/login/pwa_icon.png" alt="LOGO" height="100%" width="100%">
                    </div>

                    <span class="login100-form-title p-t-20 p-b-45">
                        SCADA SYNC
                    </span>

                    <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
                        <!-- Username -->
                        <input class="input100 form-contro" type="text" v-model="username" placeholder="username" value="">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                        <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
                        <!-- Username -->
                        <input class="input100 form-contro" type="password" v-model="password" placeholder="password" value="">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="container-login100-form-btn p-t-10 validate-form">
                        <button class="login100-form-btn" @click="login">
                            Login
                        </button>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>

import user from '@/serviceAPIS/get-user'

export default {
    data () {
        return {
            username: '',
            password: ''
        }
    },
    methods: {
        async login () {
            if (this.username && this.password){
                var res = await user.getUser();
                console.log(res.data)
                var checkuser = false;
                res.data.forEach((item, index, arr) => {
                    if (this.password === item.password && this.username === item.username){
                        console.log("ok")
                        this.$store.commit('SET_USER', item.name);
                        this.$store.commit('SET_TOKEN', "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlMzNiNDUxNGI2ZmIwYzgyM2VmMjFlOCIsInVzZXJuYW1lIjoiYWRtaW4iLCJleHAiOjE1ODU2MzA5ODEsImlhdCI6MTU4MDQ0Njk4MX0.wN4ApQXfLT0zCShgMZxalyHT85iUl6j8m58bilBNPN8");
                        this.$store.commit('SET_EMAIL', "admin.pwa@webmail.co.th");
                        this.$store.commit('SET_TYPE', item.type)
                        window.localStorage.setItem('user', item.name)
                        window.localStorage.setItem('email', "admin.pwa@webmail.co.th");
                        window.localStorage.setItem('token', "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVlMzNiNDUxNGI2ZmIwYzgyM2VmMjFlOCIsInVzZXJuYW1lIjoiYWRtaW4iLCJleHAiOjE1ODU2MzA5ODEsImlhdCI6MTU4MDQ0Njk4MX0.wN4ApQXfLT0zCShgMZxalyHT85iUl6j8m58bilBNPN8");
                        window.localStorage.setItem('type', item.type)
                        this.$router.push('/');
                        var checkuser = true;
                    }
                });
            } else {
                alert("can't login.")
            }
            
        }
    }
}
</script>

<style scoped>

</style>