<template>
    <div>

    </div>
</template>

<script>
export default {
    async mounted (){
        this.$store.commit('SET_TOKEN', "");
        this.$store.commit('SET_USER', "");
        this.$store.commit('SET_TYPE', "");
        this.$store.commit('SET_EMAIL', "");
        window.localStorage.setItem('token', '')
        window.localStorage.setItem('user', '')
        window.localStorage.setItem('email', '')
        window.localStorage.setItem('type', '')
        this.$router.push('/login')
    }
}
</script>

<style scoped>

</style>