<template>
    <div class='container'>
        <div class="py-4 text-center">
            <h2>Database Query</h2>
        </div>
        <dbconnection :getFlow='this.getFlow' :getQuery='this.getQuery'/>
        <br>
        <!-- <query :getQuery='this.getQuery'/>
        <br> -->
        <result />

        <br>
    </div>
</template>

<script>
import query from './query'
import result from './result'
import dbconnection from './dbconnection'
import getFlow from '@/serviceAPIS/get-flow'
import getQuery from '@/serviceAPIS/get-query'
import callApi from '@/serviceAPIS/AppApi'


export default {
    name: 'dbquery',
    data () {
        return {
            getQuery,
            getFlow: getFlow
        }
    },
    components: {
        query,
        result,
        dbconnection
    },
    methods : {

    },
    async mounted (){
        
        this.getQuery = callApi

        // const response2 = await getFlow.query();
        // const response3 = await getFlow.status();
        // this.$store.commit('SET_QUERY', response2.data);
    
        // this.$store.state.state_page.dquery.connection.fdata  = (response3.data);
        // this.$store.state.state_page.dquery.connection.data  = (response3.data.con);
       
    }
}



// export default {
//     name: 'dbquery',
//     data () {
//         return {
//             getQuery
//         }
//     },
//     components: {
//         query,
//         result,
//         dbconnection
//     },
//     methods : {

//     },
//     async mounted (){

//         this.getQuery = callApi
//         const response1 = await getFlow.flow();
//         this.$store.commit('SET_RESULT', response1.data)
//         console.log(response1)
//         const response2 = await getFlow.query();
//         console.log(response2)
//         const response3 = await getFlow.status();
//         console.log(response3)
//         this.$store.commit('SET_QUERY', response2.data);

        
//         var var_arr = []
//         console.log('----------------------------------------------')
//         this.$store.state.state_page.dquery.result.forEach( (item1, index1, arr1) => {
//             if (item1.name === 'MSSQL_DB2' || item1.name === 'MSSQL_DB1'){
//                 this.$store.state.state_page.dquery.result.forEach( (item2, index2, arr2) => {
//                     if (item1.mssqlCN === item2.id){
//                         var status_ = false
//                         if (item2.name === 'MYSQL_DB1'){
//                             status_ = response3.data.mssql1
//                         }else if (item2.name === 'MYSQL_DB2'){
//                             status_ = response3.data.mssql2
//                         }
//                         console.log('item1')
//                         console.log(item1)
//                         var_arr.push({
//                             connection_name: item1.name,
//                             db_name: item2.database,
//                             ip: item2.server,
//                             port: 3306,
//                             type: ( (item2.type === 'MSSQL-CN') ? 'MICROSOFT_DB' : ( (item2.type === "postgresdb") ? 'MARIA_DB' : ( (item2.type === "influxdb") ? 'INFLUX_DB' : 'null' ) ) ),
//                             user: "admin",
//                             pass: "1234",
//                             status: status_
//                         })
//                     }
//                 })
//             }
//         });
//         this.$store.state.state_page.dquery.connection.data  = (var_arr);
//         console.log('----------------------------------------------')

//     }
// }
</script>

<style scoped>

</style>