<template>
    <!-- <div class='container1'>
        <div class="row1">
            <div class="col-md-61">
                hello1
            </div>
            <div class="col-md-61">
                hello2
            </div>
        </div>
    </div> -->
    <div>
        <center><h1>404 Not Found</h1></center>
        <hr><center>
            <router-link tag="a" class="back" to="/summary">
                (>>) Back 
            </router-link>
        </center>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
    .row1 {
        display: flex;
        /* -ms-flex-wrap: wrap; */
        /* flex-wrap: wrap; */
    }
    .col-md-61 {
        position: relative;
        width: 100%;
        min-height: 1px;
        border: 1px solid #000;
    }
    .container1 {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        border: 1px solid #000;
        
    }
    .not-found {
        color: #000;
        display: fixed;
        top: 50%;
    }
    .back {
        color: #4365e3;
        font-weight: 700;
        font-size: 1.5em;
    }
    .back:hover {
        color: #4365e3;
    }
</style>