<template>
    <div>
        <headerR />
        <!-- <setting /> -->
        <router-view></router-view>
    </div>
</template>

<script>
    import headerR from './layout/header'

    export default {
        name: 'RenderView',
        components: {
            headerR,
            // setting
        },
        mounted () {
            if (this.$store.state.token === '' 
            || window.localStorage.getItem('token') === '' 
            || window.localStorage.getItem('token') === null 
            || this.$store.state.token === null 
            || window.localStorage.getItem('token') === undefined 
            || this.$store.state.token === undefined){
                this.$router.push('/login')
            }
        }
    }
</script>

<style scoped>

</style>   