<template>
    <div class='container'>
        <div class="py-4 text-center">
            <h2>Admin</h2>
        </div>
        <managerUser />
    </div>
</template>

<script>
import managerUser from './manager'

export default {
    name: 'user',
    data () {
        return {}
    },
    components: {
        managerUser
    }
}
</script>

<style scoped>

</style>