<template>

</template>

<script>

export default {
    name: 'viewUser',
    data () {
        return {}
    },
    components: {

    },
    methods: {

    },
    computed: {

    },
    mounted (){

    }
}
</script>

<style scoped>
    @import '../../../../css/style.dbconnection.css';
</style>