<template>

    <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #00468E;">
        <!-- <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="color: #FFFFFF;">PWA SCADA SYNC</a> -->

        <router-link tag="a" class="navbar-brand col-sm-3 col-md-2 mr-0" to="/summary" style="color: #FFFFFF;">
           <img src='static/img/logo.png' width="40px" height="40px"/> SCADA SYNC
        </router-link>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">TEST</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link tag="a" class="nav-link" to="/summary">
                        Summary
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" class="nav-link" to="/setting">
                        Settings
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" class="nav-link" to="/dbquery">
                        DB Query
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" class="nav-link" to="/mapping">
                        Mapping
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" class="nav-link" to="/log">
                        History
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link tag="a" class="nav-link nav-logout" to="/logout">
                        Logout
                    </router-link>
                </li>
            </ul>
        </div>
    </nav>

  
</template>

<script>

export default {
    name: 'headerR',
        components: {
    }
}
</script>

<style scoped>
    * {
        font-family: 'Roboto' !important;
        font-size: 1.02em;
    }
    .fonttttt {
        display: flex;
    }
    .nav-logout {
        color: #ea6666 !important;
    }
    .nav-item{
        width: 100px;
        text-align: center;
        border-radius: 8px 8px 8px 8px;
    }
    .nav-item:hover{
        background-color: #547ba2c2;
    }
    .sub_color {
        color: #FFFFFF;
    }
    .nav-link {
        color: #FFFFFF !important;
    }
</style>