<template>
    <div >

        <b-modal id="popup-add-tag-default" size="lg" title="กรุณากรอกชื่อประเภทสถานี" @ok="insert_new_type()">
            <!-- table  -->
            <b-container>
                <b-row>
                    <div style = 'color: #dd0000; padding-bottom: 10px;padding-left: 30px;'>*กรอกให้ครบ</div><br>
                </b-row>
                <b-row v-for='(item, index) in nothavetag' :key='index'>
                    <b-col cols='12'>
                        <b-form-group
                            id="fieldset-horizontal"
                            label-cols-sm="4"
                            label-cols-lg="3"
                            :label="item.tag + ''"
                            label-for="input-horizontal"
                        >
                            <b-form-input id="input-horizontal" placeholder="กรอกชื่อประเภทสถานี" v-model="nothavetag[index].type"></b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>
            <template v-slot:modal-footer="{ ok, cancel }">
                <b-button size="lg" variant="outline-primary" @click="ok()">OK</b-button>
                <b-button size="lg" variant="outline-primary" @click="cancel()">Cancel</b-button>
            </template>
        </b-modal>
        
        <div class="card " style="margin-top: 10px;">
            <h5 class="card-header txt-align-l">ตั้งค่าทั่วไป</h5>
                <b-container>
                    <b-row>
                        <b-col cols="4" class='txt-align-l'> 
                            <br> Server
                            <b-form-input v-model="server" placeholder=""></b-form-input>
                        </b-col>
                        <b-col cols="4" class='txt-align-l'>
                            <br> Email
                            <b-form-tags input-id="tags-basic" v-model="email" class="mb-2"></b-form-tags>
                        </b-col>
                        <b-col cols="4" class='txt-align-l'>
                            <br> Lost time (m)
                            <b-form-input type = 'number' v-model="lost_time" placeholder=""></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="4" class='txt-align-l'>
                            ระยะเวลาเก็บข้อมูล (วัน)
                            <b-form-input type = 'number' v-model="collect_data_time" placeholder=""></b-form-input>
                        </b-col>
                        <b-col cols='4'></b-col>
                        <b-col cols='4'>
                            <br>
                            <b-button 
                                size="md" 
                                variant="outline-primary"
                                style="margin-bottom:40px; width: 100%;"
                                @click="UPDATE_COMMONSETTINGEMAIL()"
                            >
                                UPDATE
                            </b-button>
                        </b-col>
                    </b-row>
                </b-container>
                <br>
        </div>
        <b-container style = 'padding-left: 0px !important; padding-right: 0px !important;'>
            <b-row>
                <b-col cols='12'>
                    <br>
                    <b-card no-body>

                        <b-tabs 
                            card 
                            v-on:input="tabActivated"
                            v-model="Config_tab.selected"
                        >
                            <b-tab 
                                v-for="item in Config_tab.content" 
                                :key="'dyn-tab-' + item.reg + item.ww" 
                                :title="item.ww_desc"
                            >
                                <!-- content on tab here. -->
                                <b-container>
                                    <b-row>
                                        <b-col cols='3' class='txt-align-l'>
                                            เขต
                                            <b-form-select 
                                                v-model="InfoDetialSelectUser.area.selected" 
                                                :options="InfoDetialSelectUser.area.options" 
                                                @change='InfoDetialSelectUserAreaChange()'
                                            ></b-form-select>
                                        </b-col>
                                        <b-col cols='3' class='txt-align-l'>
                                            รหัสเขต
                                            <b-form-input 
                                                v-model="InfoDetialSelectUser.areaid" 
                                                placeholder=""
                                                disabled
                                            ></b-form-input>
                                        </b-col>
                                        <b-col cols='3' class='txt-align-l'>
                                            สาขา
                                            <b-form-select 
                                                v-model="InfoDetialSelectUser.branch.selected" 
                                                :options="InfoDetialSelectUser.branch.options" 
                                                @change='InfoDetialSelectUserBranchChange()'
                                            ></b-form-select>
                                        </b-col>
                                        <b-col cols='3' class='txt-align-l'>
                                            CODE
                                            <b-form-input 
                                                v-model="InfoDetialSelectUser.branchid" 
                                                placeholder=""
                                                disabled
                                            ></b-form-input>
                                        </b-col>
                                    </b-row>
                                    <hr>
                                    <b-row>
                                        <b-col cols='12'>
                                            เลือกสถานี
                                            <b-form-select 
                                                v-model="StationDetialSelectUser.selected" 
                                                :options="StationDetialSelectUser.options" 
                                                @change='StationUserChange()'
                                            >
                                                <template v-slot:first>
                                                    <b-form-select-option 
                                                        :value="null" 
                                                        disabled
                                                    >
                                                        -- กรุณาเลือกสถานี --
                                                    </b-form-select-option>
                                                </template>
                                            </b-form-select>
                                        </b-col>
                                    </b-row>
                                    <b-row v-if='check_select'>
                                        <b-col cols='12'>
                                            <br>
                                            <h3>
                                                {{ 
                                                    StationDetialSelectUser.selected !== 'add_station' && StationDetialSelectUser.selected !== null
                                                    ? 
                                                    "จัดการสถานี : " + station.title.station[StationDetialSelectUser.selected].st_desc : (StationDetialSelectUser.selected === 'add_station' ? "----- เพิ่มสถานี -----" : "----- กรุณาเลือกสถานี -----")
                                                }}
                                                <b-button 
                                                    variant="outline-danger"
                                                    style="padding-top:2px !important; padding-bottom:1px !important;"
                                                    :hidden="!(StationDetialSelectUser.selected !== 'add_station' && StationDetialSelectUser.selected !== null)" 
                                                    @click='removeStation();'
                                                >
                                                    ลบ
                                                </b-button>

                                                <!-- <span
                                                    class='remove-station-link'
                                                    :hidden="!(StationDetialSelectUser.selected !== 'add_station' && StationDetialSelectUser.selected !== null)" 
                                                    @click='removeStation();'
                                                >
                                                    ลบ
                                                </span> -->
                                            </h3>
                                        </b-col>
                                    </b-row>
                                    <b-row v-if='check_select'>
                                        <b-col>
                                            <b-table-simple hover caption-top responsive :hidden="StationDetialSelectUser.selected === null">
                                                <b-thead>
                                                    <b-tr>
                                                        <b-th v-for='(item, index) in fields' :key='index' class="text-center">{{item.label}}</b-th>
                                                    </b-tr>
                                                </b-thead>
                                                <b-tbody>
                                                    <b-tr >
                                                        <b-td  :rowspan="tempate.length + 2" class="text-center">{{ 1 }}</b-td>
                                                        <b-td  :hidden="StationDetialSelectUser.selected === 'add_station'" :rowspan="tempate.length + 2" class="text-center">{{ stationValue.st_desc }}</b-td>
                                                        <b-td  :hidden="StationDetialSelectUser.selected === 'add_station'" :rowspan="tempate.length + 2" class="text-center" >{{ stationValue.st_code }}</b-td> 
                                                        <!-- for add -->
                                                        <b-td  :hidden="StationDetialSelectUser.selected !== 'add_station'" :rowspan="tempate.length + 2" class="text-center" >
                                                            <b-form-input 
                                                                placeholder="กรอกชื่อสถานี"
                                                                v-model='stationValue.st_desc'
                                                            ></b-form-input>    
                                                        </b-td> 
                                                        <b-td  :hidden="StationDetialSelectUser.selected !== 'add_station'" :rowspan="tempate.length + 2" class="text-center" >
                                                            <b-form-input 
                                                                placeholder="กรอกรหัสถานี"
                                                                v-model='stationValue.st_code'
                                                            ></b-form-input>
                                                        </b-td> 
                                                        <!-- for add -->
                                                    </b-tr>


                                                    <b-tr v-for='(item, index) in tempate' :key='index'>
                                                      <b-td class="text-center">{{ stationType.find(element => element.tag === item).type + " ("+stationType.find(element => element.tag ===item).tag+")" }} </b-td>
                                                      <b-td class="text-center">{{ stationValue.st_count[item] }}</b-td>
                                                      <b-td class="text-center" >
                                                      <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                          @click="(stationValue.st_count[item] += 1); increase(item);">
                                                          เพิ่ม
                                                      </b-button>
                                                      </b-td>
                                                      <b-td class="text-center" >
                                                      <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                          :disabled="stationValue.st_count[item] <= 0" 
                                                          @click="(stationValue.st_count[item] -= 1); decrease(item);">
                                                          ลด
                                                      </b-button>
                                                      </b-td>
                                                      <b-td class="text-center" >
                                                          <b-button 
                                                              :variant="(clecked === index && clecked !== null ? '' : 'outline-')+'primary'" 
                                                              size="sm" 
                                                              class="w-100 h-100"
                                                              @click='AddPump(item, index)'
                                                          >
                                                          จัดการปั้ม
                                                          </b-button>
                                                      </b-td>

                                                      <b-td class="text-center" >
                                                          <b-button 
                                                              variant="outline-danger" 
                                                              size="sm" 
                                                              class="w-100 h-100"
                                                              @click='delete_station_tag_type(item)'
                                                          >
                                                          ลบสถานี
                                                          </b-button>
                                                      </b-td>
                                                    </b-tr>

                                                    <b-tr :hidden="StationDetialSelectUser.selected === 'add_station'">
                                                        <b-td class="text-center" colspan="6"> 
                                                            <b-button 
                                                                variant="outline-primary" 
                                                                v-b-modal.popup-insert-station
                                                                size="sm" 
                                                                class="w-100 h-100"
                                                                @click="$bvModal.show('popup-insert-station')"
                                                            >   
                                                                เพิ่มสถานี
                                                            </b-button>
                                                        </b-td>
                                                    </b-tr>
                                                    
                                                </b-tbody>
                                            </b-table-simple>
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col cols='12'>
                                            <manager-pump 
                                                :branch_pump="managerpump"
                                                :hidden="StationDetialSelectUser.selected === null"
                                            />
                                        </b-col>
                                    </b-row>
                                    <b-row :hidden="!(StationDetialSelectUser.selected === 'add_station') || StationDetialSelectUser.selected === null">
                                        <b-col cols='10'></b-col>
                                        <b-col cols='2'>
                                            <b-button 
                                                size="md" 
                                                variant="primary"
                                                style="margin-bottom:40px; width: 100%;"
                                                @click='addSetting();'
                                            >
                                                ADD Setting
                                            </b-button>
                                        </b-col>
                                    </b-row>
                                    <b-row :hidden="StationDetialSelectUser.selected === 'add_station' || StationDetialSelectUser.selected === null">
                                        <b-col cols='7'></b-col>
                                        <b-col cols='5'>
                                            <b-button 
                                                size="md" 
                                                variant="outline-primary"
                                                style="margin-bottom:40px; width: 200px;"
                                                @click="RemoveSetting()"
                                            >
                                                Remove Setting
                                            </b-button>
                                            <b-button 
                                                size="md" 
                                                variant="primary"
                                                style="margin-bottom:40px; width: 200px;"
                                                @click="UpdateSetting()"
                                            >
                                                Update Setting
                                            </b-button>
                                        </b-col>
                                    </b-row>
                                    <b-row :hidden="StationDetialSelectUser.selected === 'add_station' || StationDetialSelectUser.selected !== null">
                                        <b-col cols='7'></b-col>
                                        <b-col cols='5'>
                                            <b-button 
                                                size="md" 
                                                variant="outline-primary"
                                                style="margin-bottom:40px; width: 200px;"
                                                @click="RemoveSetting_2()"
                                            >
                                                Remove Setting
                                            </b-button>
                                            <b-button 
                                                size="md" 
                                                variant="primary"
                                                style="margin-bottom:40px; width: 200px;"
                                                @click="UpdateSetting_2()"
                                            >
                                                Update Setting
                                            </b-button>
                                        </b-col>
                                    </b-row>
                                </b-container>
                                <!-- END -->
                                <br>
                            </b-tab>
                            <template 
                                v-slot:tabs-end
                            >
                                <b-nav-item 
                                    role="presentation" 
                                    @click.prevent="InsertConfig" 
                                    href="#"
                                ><b>+</b></b-nav-item>
                            </template>
                            <template 
                                v-slot:empty
                            >
                                <div 
                                    class="text-center text-muted"
                                >
                                    There are no open tabs<br>
                                    Open a new tab using the <b>+</b> button above.
                                </div>
                            </template>
                        </b-tabs>

                    </b-card>
                    <br>
                </b-col>
            </b-row>
        </b-container>


        <!-- modal -->
        <b-modal id="ModalAddBranch" 
            size="xl" 
            title="เพิ่มสถานี" 
            @ok="FNModalAddBranch()"
        >
            <b-container class="bv-example-row">
                <b-row>
                    <b-col cols='6' class='txt-align-l'>
                        เขต
                        <b-form-select 
                            v-model="addSettingSelected.area" 
                            :options="addSettingSelected.areaOption" 
                            @change='addSettingChangeArea()'

                        ></b-form-select>
                    </b-col>
                    <b-col cols='6' class='txt-align-l'>
                        สาขา
                        <b-form-select 
                            v-model="addSettingSelected.branch" 
                            :options="addSettingSelected.branchOption" 
                            @change='addSettingChangeBranch()'
                        ></b-form-select>
                    </b-col>
                </b-row>
            </b-container>
            <template v-slot:modal-footer="{ ok, cancel }">
                <b-button size="md" variant="outline-primary" @click="ok()">OK</b-button>
                <b-button size="md" variant="outline-primary" @click="cancel()">Cancel</b-button>
            </template>
        </b-modal>
        
        <b-modal id="popup-insert-station" size="lg" title="เพิ่มสถานี" @ok="insert_station()">
            <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="3"
                label-cols-lg="2"
                label="ชื่อประเภท"
                label-for="input-horizontal"
            >
                <b-form-input id="input-horizontal" v-model="new_tag_type.type"></b-form-input>
            </b-form-group>
            <b-form-group
                id="fieldset-horizontal"
                label-cols-sm="3"
                label-cols-lg="2"
                label="Code"
                label-for="input-horizontal"
            >
                <b-form-input id="input-horizontal" v-model="new_tag_type.tag"></b-form-input>
            </b-form-group>
            <template v-slot:modal-footer="{ ok, cancel }">
                <b-button size="lg" variant="outline-primary" @click="ok()">OK</b-button>
                <b-button size="lg" variant="outline-primary" @click="cancel()">Cancel</b-button>
            </template>
        </b-modal>
            
    </div>
</template>

<script>

import VueTableDynamic from 'vue-table-dynamic'
import ManagerPump from './managerpump'
import default_station from './default.json'
import default_st_count from './default_st_count.json'

export default {
    data () {
        return {
            nothavetag: [],
            clecked: null,
            new_tag_type: {
                tag: '',
                type: ''
            },
            check_select: false,
            server: '',
            email: [],
            lost_time: '',
            collect_data_time: '',
            fields: [
                { key: "index",label: '#', class: 'text-center'},
                { key: "station", label: 'สถานี', class: 'text-center' },
                { key: "station_id", label: 'รหัสสถานี', class: 'text-center' },
                { key: "station_type", label: 'ประเภทสถานี', class: 'text-center' },
                { key: "cnt", label: 'จำนวน', class: 'text-center' },
                { key: "increase", label: 'เพิ่ม', class: 'text-center' },
                { key: "decrease", label: 'ลด', class: 'text-center' },
                { key: "managepump", label: "จัดการ pump", class: 'text-center'},
                { key: "delete_station", label: "ลบสถานี", class: 'text-center'}
            ],
            config_select_branch: {
                option: [{
                    value: null, text: 'กรุณาเลือกสถานี'
                }],
                selected: null
            },
            Config_tab: {
                selected: 0,
                content: []
            },
            InfoDetialSelectUser: {
                area: {
                    selected: null,
                    options: [{
                        value: null,
                        text: 'กรุณาเลือกพื้นที่'
                    }]
                },
                areaid: '',
                branch: {
                    selected: null,
                    options: [{
                        value: null,
                        text: 'กรุณาเลือกสาขา'
                    }]
                },
                branchid: '',
            },
            StationDetialSelectUser: {
                selected: null,
                options: []
            },
            station:{
                title: ''
            },
            tempate: [],
            stationType: [],
            stationValue: {
                "st_code": "",
                "st_desc": "",
                "st_count": {},
                "pump": []
            },
            managerpump: [
                {
                    "st": "",
                    "st_id": "",
                    "st_code": "",
                    "pump": []
                },
                '',
                [{ value: null, text: 'Please select an option' }]
            ],
            addSettingSelected:{
                area:'',
                areaOption:[{
                    value: '',
                    text: '----- กรุณาเลือกพื้นที่ -----'
                }],
                branch:'',
                branchOption:[{
                    value: '',
                    text: '----- กรุณาเลือกสาขา -----'
                }],
            }
        }
    },
    props: {
        APISETTING: {
            type: Object
        }
    },
    components: {
        ManagerPump
    },
    methods: {
        addSettingChangeBranch () {
            // console.log(this.addSettingSelected.area)
            // console.log(this.addSettingSelected.branch)
            // console.log(this.$store.state.state_page.setting)
        },
        addSettingChangeArea() {
            this.addSettingSelected.branchOption = [{
                value: '',
                text: '----- กรุณาเลือกสาขา -----'
            }]
            this.$store.state.province[this.addSettingSelected.area].ww_all.forEach((item, index, arr) => {
                this.addSettingSelected.branchOption.push({
                    value: index,
                    text: item.ww_desc
                })
            })
        },
        removeStation() {
            console.log("removeStation")
            this.$store.commit("REMOVE_STATION", {
                indexSetting: this.Config_tab.selected,
                stationIndex: this.StationDetialSelectUser.selected
            })
            this.UpdateSetting_2()
        },
        addSetting() {
            console.log(this.stationValue)
            this.stationValue.st_count = default_st_count
            this.$store.commit("PUSH_STATION", {
                indexSetting: this.Config_tab.selected,
                station: this.stationValue
            })
            this.Update_Station_addSetting(this.Config_tab.selected)
        },
        async Update_Station_addSetting(index){
            const RESPONSTAPI = await this.APISETTING.UPDATE_LIST_INFO_BY_STATION(
                index,
                this.$store.state.state_page.setting[index]
            )
            if (RESPONSTAPI.status === 200){
                alert("Success")
                location.reload();
            }else {
                alert("Unsuccess")
                location.reload();
            }
        },
        async Update_common() {
            const res1 = await this.APISETTING.update_email(this.$store.state.state_page.email) 
            const res2 = await this.APISETTING.UPDATE_LIST_COMMONSETTING(this.$store.state.state_page.commonsetting)
            if (res1.status === 200 && res2.status === 200){
                alert("Success")
            } else {
                alert("Unsuccess")
            }
        },
        async Update_all() {
            console.log("Update_all")
            console.log(this.InfoDetialSelectUser.area.selected)
            const RESPONSTAPI = await this.APISETTING.UPDATE_LIST_INFO_BY_STATION(
                this.InfoDetialSelectUser.area.selected,
                this.$store.state.state_page.setting[this.Config_tab.selected]
            )
            if (RESPONSTAPI.status === 200){
                alert("Success")
                location.reload();
            }else {
                alert("Unsuccess")
                location.reload();
            }
        },
        initail () {
            this.$store.state.province.forEach((ItemProvince, IndexProvince, ArrProvince) => {
                this.addSettingSelected.areaOption.push({
                    value: IndexProvince,
                    text: ItemProvince.reg_desc
                })
            });
        },
        initailAreaBanchSelected(Detail) {
            this.InfoDetialSelectUser.branch.options = []
            this.$store.state.province.forEach((ItemProvince, IndexProvince, ArrProvince) => {
                if (ItemProvince.reg === Detail.reg){
                    this.InfoDetialSelectUser.area.selected = IndexProvince
                    this.InfoDetialSelectUser.areaid = ItemProvince.reg
                    ItemProvince.ww_all.forEach((itemBranch, indexBranch, arrBranch) => {
                        this.InfoDetialSelectUser.branch.options.push({
                            value: indexBranch,
                            text: itemBranch.ww_desc
                        })
                        if (itemBranch.ww.toString() === Detail.ww){
                            this.InfoDetialSelectUser.branch.selected = indexBranch
                            this.InfoDetialSelectUser.branchid = itemBranch.ww
                        }
                    })
                }
            })
        },
        tabActivated(tabIndex ){  
            this.StationDetialSelectUser.selected = null
            if (tabIndex !== -1){
                this.StationDetialSelectUser.options = []
                this.$store.state.state_page.setting[this.Config_tab.selected].station.forEach((itemStation, indexStation, arrStation) => {
                    this.StationDetialSelectUser.options.push({
                        value: indexStation,
                        text: itemStation.st_desc
                    })
                })
                this.StationDetialSelectUser.options.push({
                    value: 'add_station',
                    text: '------ เพิ่มสถานี ------'
                })
                this.StationDetialSelectUser.selected = null
                this.station.title = this.$store.state.state_page.setting[tabIndex]
                this.initailAreaBanchSelected(
                    this.$store.state.state_page.setting[tabIndex]
                )
            }
        },
        AddPump(STATIONTYPE, index) {
            console.log(STATIONTYPE)
            this.clecked = index
            this.managerpump = [
                {
                    "st": "",
                    "st_id": "",
                    "st_code": "",
                    "pump": []
                },
                '',
                [{ value: null, text: 'Please select an option' }]
            ]
            if (this.StationDetialSelectUser.selected !== 'add_station'){
                this.managerpump = [
                    this.$store.state.state_page.setting[this.Config_tab.selected].station[this.StationDetialSelectUser.selected], 
                    STATIONTYPE,
                    [{ value: null, text: 'Please select an option' }]
                ]
                var st_st = []
                this.managerpump[0].pump.forEach((item, index, arr) => {
                    if (item.st === STATIONTYPE){
                        st_st.push(item)
                    }
                })
                console.log("st_st: ")
                console.log(st_st)
                this.managerpump[3] = false
                // var new_array = [...new Set(arr_db_name)] 
                for (var i = 0;i < this.managerpump[0].st_count[STATIONTYPE];i++){
                    this.managerpump[2].push({ value: i + 1, text: "สถานีที่ "+ (i+1) })
                    this.managerpump[3] = true
                    // var check = true
                    // st_st.forEach((item, index, arr) => {
                    //     if (item.st_id === (i+1)){
                    //         check = false
                    //     }
                    // })
                    // if (check) {
                    //     this.managerpump[2].push({ value: i + 1, text: "สถานีที่ "+ (i+1) })
                    //     this.managerpump[3] = true
                    // }
                }
                console.log(this.managerpump)
            } else {
                this.managerpump = [
                    this.stationValue, 
                    STATIONTYPE,
                ]
                console.log(this.managerpump)
            }
        },
        StationUserChange() {
            this.nothavetag = []
            this.managerpump = [
                {
                    "st": "",
                    "st_id": "",
                    "st_code": "",
                    "pump": []
                },
                '',
                [{ value: null, text: 'Please select an option' }]
            ]
            this.check_select = false;
            this.tempate = []
            this.stationValue = []
            this.stationType = []
            console.log("Station Select Even Change")
            console.log(this.StationDetialSelectUser.selected)
            console.log()
            if (this.StationDetialSelectUser.selected !== 'add_station' && this.StationDetialSelectUser.selected !== null){
                this.stationType = this.$store.state.state_page.setting[this.Config_tab.selected].station[this.StationDetialSelectUser.selected].stationType
                for (let item in this.$store.state.state_page.setting[this.Config_tab.selected].station[this.StationDetialSelectUser.selected]){
                    this.stationValue[item] = this.$store.state.state_page.setting[this.Config_tab.selected].station[this.StationDetialSelectUser.selected][item]
                }
                console.log(this.stationValue.st_count)
            } else if (this.StationDetialSelectUser.selected === 'add_station'){
                this.stationValue  = {
                    "st_code": "",
                    "st_desc": "",
                    "st_count": {
                    },
                    "pump": []
                }
            }
            for (let attr in this.stationValue.st_count){
                this.tempate.push(attr)
                this.stationValue[attr] = 0;
            }
            console.log("%c[Tempate]",  "color: #668866;, backgrund-color: #ffcc99;")
            var tagall = []
            this.stationType.forEach((item1, index1, arr1) => {
                tagall.push(item1.tag)
            })
            console.log(this.tempate)
            console.log(tagall)
            this.tempate.forEach((item1 ,index1, arr1) => {
                var check = false;
                for (var i = 0;i < tagall.length;i++) {
                    if (item1 === tagall[i]){
                        check = true
                        break;
                    }
                }
                if (!check){
                    this.nothavetag.push({
                        tag: item1,
                        type: ''
                    })
                    this.stationType.push({
                        tag: item1,
                        type: ''
                    })
                }
            })
            console.log(this.nothavetag)
            if (this.nothavetag.length > 0){
                this.$bvModal.show('popup-add-tag-default')
            }
            var nothave = []
            this.check_select = true;
        },
        async FNModalAddBranch () {
            var finddd = this.$store.state.state_page.setting.find(Element => (Element.ww === (this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww).toString()))
            if (finddd !== undefined){
                // alert(JSON.stringify(this.$store.state.state_page.setting.find(Element => (Element.ww === (this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww).toString()))))
                alert("มีสาขานี้อยู่แล้ว")
                location.reload()
            } else {
                this.$store.commit("PUSH_SETTING",{
                    "reg": this.$store.state.province[this.addSettingSelected.area].reg,
                    "reg_desc": this.$store.state.province[this.addSettingSelected.area].reg_desc,
                    "ww": this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww,
                    "ww_desc": this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww_desc,
                    "station": []
                })
                const res = await this.APISETTING.UPDATE_LIST_INFO_BY_STATION(
                    this.$store.state.state_page.setting.length - 1, {
                        "reg": this.$store.state.province[this.addSettingSelected.area].reg,
                        "reg_desc": this.$store.state.province[this.addSettingSelected.area].reg_desc,
                        "ww": this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww,
                        "ww_desc": this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww_desc,
                        "station": []
                    }
                )
                if (res.status === 200){
                    location.reload()
                }
            }
        },
        UPDATE_COMMONSETTINGEMAIL() {
            this.$store.commit("UPDATE_COMMONSETTING", {
                collect_data_time: this.collect_data_time,
                collect_date: this.lost_time,
                server: this.server
            });
            this.$store.commit("UPDATE_EMAILSCADA", this.email);
            this.Update_common();
        },
        async RemoveSetting_2() {
            const res = await this.APISETTING.REMOVE_LIST_INFO_BY_STATION(this.Config_tab.selected)
            if (res.status === 200){
                alert("Success")
                location.reload();
            } else {
                alert("Unsuccess")
                location.reload();
            }
        },
        async UpdateSetting_2() {
            const res = await this.APISETTING.UPDATE_LIST_INFO_BY_STATION(
                this.Config_tab.selected,
                this.$store.state.state_page.setting[this.Config_tab.selected]
            )
            console.log(res)
            if (res.status === 200){
                alert("Success")
                location.reload();
            } else {
                alert("Unsuccess")
                location.reload();
            }
        },
        UpdateSetting() {
            this.$store.commit("UPDATE_STATIONTYPE", {
                indexSetting: this.Config_tab.selected,
                indexStation: this.StationDetialSelectUser.selected,
                st_count: this.stationValue.st_count
            });
            this.$store.commit("UPDATE_COMMONSETTING", {
                collect_data_time: this.collect_data_time,
                collect_date: this.lost_time,
                server: this.server
            });
            this.$store.commit("UPDATE_EMAILSCADA", this.email);
            console.log(this.$store.state.state_page.setting)
            this.Update_all_UpdateSetting();
        },
        async Update_all_UpdateSetting () {
            const res = await this.APISETTING.UPDATE_LIST_INFO_BY_STATION(
                this.Config_tab.selected,
                this.$store.state.state_page.setting[this.Config_tab.selected]
            )
            if (res.status === 200){
                alert("Success")
                location.reload();
            } else {
                alert("Unsuccess")
                location.reload();
            }
        },
        async RemoveSetting () {
            const res = await this.APISETTING.REMOVE_LIST_INFO_BY_STATION(this.Config_tab.selected)
            if (res.status === 200){
                alert("Success")
                location.reload();
            } else {
                alert("Unsuccess")
                location.reload();
            }
        },
        InsertConfig() {
            // call modal insert new config
            this.$root.$emit("bv::show::modal", "ModalAddBranch");
        },
        select_branch_config () {
            console.log('selection branch config')
            console.log(this.config_select_branch.selected)
        },
        async API_select_branch_config () {
            // api DEFALUT Station here.
            const res_default = await this.APISETTING.LIST_DEFALUT_STATION();
            console.log("api LIST_DEFALUT_STATION")
            console.log(res_default.data)
            // var res_default = {
            //     data: res_default
            // }
            const LIST_INFO = await this.APISETTING.LIST_INFO()
            console.log("%c[API] LIST_INFO", 'background: #dddddd; color: #ff00dd')
            console.log(LIST_INFO.data)
            if (LIST_INFO.status === 200){
                LIST_INFO.data.forEach((ItemListInfo, IndexListInfo, ArrListInfo) => {
                    ItemListInfo.station.forEach((item1, index1, arr1) => {
                        if (item1.stationType === undefined){
                            item1.stationType = default_station
                        }
                    });
                });
                LIST_INFO.data.forEach((item1, index, arr) => {
                  item1.station.forEach((item2, index, arr) => {
                    //   console.log(item2)
                  })
                })
                LIST_INFO.data.forEach((ItemListInfo, IndexListInfo, ArrListInfo) => {
                    this.Config_tab.content.push(ItemListInfo)
                    ItemListInfo.station.forEach((item ,index, arr) => {
                        if (item.pump === undefined){
                            item.pump = []
                        }
                        if (item.st_count === undefined){
                            item.st_count = {}
                        }
                        if (item.stationType === undefined){
                            item.stationType = [

                            ]
                            item.st_count = {}
                        }
                    })
                })
                this.$store.commit("SET_SETTING", LIST_INFO.data);
                console.log("API_select_branch_config")
                console.log(LIST_INFO.data)
                console.log("END")
            } else {
                alert(LIST_INFO)
            }
        },
        async API_find_email () {
            const email = await this.APISETTING.find_email();
            if (email.status === 200){
                this.$store.commit("SET_EMAILSCADA", email.data);
                this.email = this.$store.state.state_page.email.mail_send
            }
        },
        async API_commomsetting () {
            const commonsetting = await this.APISETTING.LIST_COMMONSETTING();
            if (commonsetting.status === 200){
                this.$store.commit("SET_COMMONSETTING", commonsetting.data);
                this.server = this.$store.state.state_page.commonsetting.server
                this.lost_time = this.$store.state.state_page.commonsetting.collect_date
                this.collect_data_time = this.$store.state.state_page.commonsetting.collect_data_time
            }else {
                alert(commonsetting);
            }
        },
        async API_province () {
            const PROVINCEDETAIL = await this.APISETTING.PROVINCE()
            if (PROVINCEDETAIL.status === 200){
                this.$store.commit("SET_PROVINCE", PROVINCEDETAIL.data);
                PROVINCEDETAIL.data.forEach((ItemProvince, IndexProvince, ArrProvince) => {
                    this.InfoDetialSelectUser.area.options.push({
                        value: IndexProvince,
                        text: ItemProvince.reg_desc
                    })
                })
                this.$store.state.province.forEach((item, index, arr) => {
                    item.ww_all.forEach((item2, index2, arr2) => {
                        item2.ww = item2.ww.toString();
                    })
                })
                this.initail();
            } else {
                alert(PROVINCEDETAIL)
            }
        },
        InfoDetialSelectUserAreaChange () {
            if (this.InfoDetialSelectUser.area.selected === null){
                this.InfoDetialSelectUser.areaid = ''
            }else {
                this.$store.commit("UPDATE_AREA",{
                    indexSetting: this.Config_tab.selected,
                    reg: this.$store.state.province[this.InfoDetialSelectUser.area.selected].reg,
                    reg_desc: this.$store.state.province[this.InfoDetialSelectUser.area.selected].reg_desc
                })
                this.InfoDetialSelectUser.areaid = this.$store.state.province[this.InfoDetialSelectUser.area.selected].reg
                this.InfoDetialSelectUser.branch.options = [{
                    value: null,
                    text: 'กรุณาเลือกสาขา'
                }]
                this.InfoDetialSelectUser.branch.selected = null
                this.$store.state.province
                    [this.InfoDetialSelectUser.area.selected]
                    .ww_all.forEach((itemBranch, indexBranch, arrBranch) => {
                        this.InfoDetialSelectUser.branch.options.push({
                            value: indexBranch,
                            text: itemBranch.ww_desc
                        })
                })
            }
        },
        InfoDetialSelectUserBranchChange() {
            if (this.InfoDetialSelectUser.branch.selected === null) {
                this.InfoDetialSelectUser.branchid = ''
            } else {
                this.$store.commit("UPDATE_BRANCH",{
                    indexSetting: this.Config_tab.selected,
                    ww: (this.$store.state.province
                        [this.InfoDetialSelectUser.area.selected]
                        .ww_all[this.InfoDetialSelectUser.branch.selected].ww).toString(),
                    ww_desc: this.$store.state.province
                        [this.InfoDetialSelectUser.area.selected]
                        .ww_all[this.InfoDetialSelectUser.branch.selected].ww_desc
                })
                this.InfoDetialSelectUser.branchid = this.$store.state.province
                    [this.InfoDetialSelectUser.area.selected]
                    .ww_all[this.InfoDetialSelectUser.branch.selected].ww
                console.log("เขต : ")
                console.log(this.$store.state.province
                    [this.InfoDetialSelectUser.area.selected].reg_desc)
                console.log("รหัสเขต : ")
                console.log(this.$store.state.province
                    [this.InfoDetialSelectUser.area.selected].reg)
                console.log("สาขา : ")
                console.log(this.$store.state.province
                    [this.InfoDetialSelectUser.area.selected]
                    .ww_all[this.InfoDetialSelectUser.branch.selected].ww_desc)
                console.log("CODE : ")
                console.log(this.$store.state.province
                    [this.InfoDetialSelectUser.area.selected]
                    .ww_all[this.InfoDetialSelectUser.branch.selected].ww)
            }
        },
        insert_station(){
            if (this.new_tag_type.tag === undefined || this.new_tag_type.type === undefined){
                alert("กรอกข้อมูลให้ครบถ้วน")
            } else {
                this.$store.commit("PUSH_STATION_TAG_TYPE",{
                    indexSetting: this.Config_tab.selected,
                    indexStation: this.StationDetialSelectUser.selected,
                    station_tag_type: {
                        tag: this.new_tag_type.tag,
                        type: this.new_tag_type.type
                    }
                })
                this.Update_all_UpdateSetting();
            }
        },
        delete_station_tag_type(tag) {
            var index = this.$store.state.state_page.setting[this.Config_tab.selected].station[this.StationDetialSelectUser.selected].stationType.findIndex(element => element.tag === tag)

            this.$store.state.state_page.setting[this.Config_tab.selected].station[this.StationDetialSelectUser.selected].stationType.splice(index, 1)

            delete this.$store.state.state_page.setting[this.Config_tab.selected].station[this.StationDetialSelectUser.selected].st_count[tag]

            this.Update_all_UpdateSetting();
        },
        increase(item) {
            this.managerpump[3] = true
            this.managerpump[2].push({ value: this.stationValue.st_count[item], text: 'สถานีที่ ' + this.stationValue.st_count[item] })
        },
        decrease(item){
            console.log(this.managerpump[0].pump)
            if (this.stationValue.st_count[item] === 0){
                this.managerpump[0].pump = []
            }
            this.managerpump[0].pump.forEach((item1, index1, arr1) => {
                if (item1.st_id === this.stationValue.st_count[item]) {
                    // this.managerpump[0].pump.splice(index1, 1)
                    this.managerpump[0].pump.pop();
                }
            })
            console.log( this.managerpump[0].pump)
            this.managerpump[2].forEach((item1, index, arr) => {
                if (item1.value === this.stationValue.st_count[item] + 1) {
                    this.managerpump[2].splice(index, 1)
                    // this.managerpump[2].pop();
                }
            })
        },
        insert_new_type() {

        }
    },
    mounted (){
        this.API_province();
        this.API_select_branch_config();
        this.API_commomsetting();
        this.API_find_email();
        this.$root.$on('bv::modal::hide', (bvEvent, modalId) => {
            // console.log('Modal is about to be shown', bvEvent, modalId)
            console.log(modalId)
            if (modalId === 'popup-add-tag-default'){
                var check = true;
                this.nothavetag.forEach((item, index, arr) => {
                    if (item.type === ''){
                        location.reload();
                        check = false
                    }else {
                        this.$store.commit("PUSH_STATION_TAG_TYPE_MULTI", {
                            indexSetting: this.Config_tab.selected,
                            indexStation: this.StationDetialSelectUser.selected,
                            tag: item.tag,
                            type: item.type
                        })
                    }
                })
                if (check){
                    this.Update_all_UpdateSetting();
                }
            }
        })
    }
}
</script>

<style scoped>
    .remove-station-link{
        font-size: 22px;
        text-decoration: underline;
        color: #007bff;
        cursor: pointer;
    }
</style>