<template>
    <div>
        <div class="card " style="margin-top: 10px;">
            <h5 class="card-header txt-align-l">ตั้งค่าทั่วไป</h5>
                <b-container>
                    <b-row>
                        <b-col cols="4" class='txt-align-l'> 
                            <br> Server
                            <b-form-input v-model="server" placeholder=""></b-form-input>
                        </b-col>
                        <b-col cols="4" class='txt-align-l'>
                            <br> Email
                            <b-form-tags input-id="tags-basic" v-model="email" class="mb-2"></b-form-tags>
                        </b-col>
                        <b-col cols="4" class='txt-align-l'>
                            <br> Lost time (m)
                            <b-form-input type = 'number' v-model="lost_time" placeholder=""></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="4" class='txt-align-l'>
                            ระยะเวลาเก็บข้อมูล (วัน)
                            <b-form-input type = 'number' v-model="collect_data_time" placeholder=""></b-form-input>
                        </b-col>
                        <b-col cols='4'></b-col>
                        <b-col cols='4'>
                            <br>
                            <b-button 
                                size="md" 
                                variant="outline-primary"
                                style="margin-bottom:40px; width: 100%;"
                                @click="UPDATE_COMMONSETTINGEMAIL()"
                            >
                                UPDATE
                            </b-button>
                        </b-col>
                    </b-row>
                </b-container>
                <br>
        </div>
        <b-container style = 'padding-left: 0px !important; padding-right: 0px !important;'>
            <b-row>
                <b-col cols='12'>
                    <br>
                    <b-card no-body>

                        <b-tabs 
                            card 
                            v-on:input="tabActivated"
                            v-model="Config_tab.selected"
                        >
                            <b-tab 
                                v-for="item in Config_tab.content" 
                                :key="'dyn-tab-' + item.reg + item.ww" 
                                :title="item.ww_desc"
                            >
                                <!-- content on tab here. -->
                                <b-container>
                                    <b-row>
                                        <b-col cols='3' class='txt-align-l'>
                                            เขต
                                            <b-form-select 
                                                v-model="InfoDetialSelectUser.area.selected" 
                                                :options="InfoDetialSelectUser.area.options" 
                                                @change='InfoDetialSelectUserAreaChange()'
                                            ></b-form-select>
                                        </b-col>
                                        <b-col cols='3' class='txt-align-l'>
                                            รหัสเขต
                                            <b-form-input 
                                                v-model="InfoDetialSelectUser.areaid" 
                                                placeholder=""
                                                disabled
                                            ></b-form-input>
                                        </b-col>
                                        <b-col cols='3' class='txt-align-l'>
                                            สาขา
                                            <b-form-select 
                                                v-model="InfoDetialSelectUser.branch.selected" 
                                                :options="InfoDetialSelectUser.branch.options" 
                                                @change='InfoDetialSelectUserBranchChange()'
                                            ></b-form-select>
                                        </b-col>
                                        <b-col cols='3' class='txt-align-l'>
                                            CODE
                                            <b-form-input 
                                                v-model="InfoDetialSelectUser.branchid" 
                                                placeholder=""
                                                disabled
                                            ></b-form-input>
                                        </b-col>
                                    </b-row>
                                    <hr>
                                    <b-row>
                                        <b-col cols='12'>
                                            เลือกสถานี
                                            <b-form-select 
                                                v-model="StationDetialSelectUser.selected" 
                                                :options="StationDetialSelectUser.options" 
                                                @change='StationUserChange()'
                                            >
                                                <template v-slot:first>
                                                    <b-form-select-option 
                                                        :value="null" 
                                                        disabled
                                                    >
                                                        -- กรุณาเลือกสถานี --
                                                    </b-form-select-option>
                                                </template>
                                            </b-form-select>
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col cols='12'>
                                            <br>
                                            <h3>
                                                {{ 
                                                    StationDetialSelectUser.selected !== 'add_station' && StationDetialSelectUser.selected !== null
                                                    ? 
                                                    "จัดการสถานี : " + station.title.station[StationDetialSelectUser.selected].st_desc : (StationDetialSelectUser.selected === 'add_station' ? "----- เพิ่มสถานี -----" : "----- กรุณาเลือกสถานี -----")
                                                }}
                                                <b-button 
                                                    variant="outline-danger"
                                                    style="padding-top:2px !important; padding-bottom:1px !important;"
                                                    :hidden="!(StationDetialSelectUser.selected !== 'add_station' && StationDetialSelectUser.selected !== null)" 
                                                    @click='removeStation();'
                                                >
                                                    ลบ
                                                </b-button>
                                                <!-- <span
                                                    class='remove-station-link'
                                                    :hidden="!(StationDetialSelectUser.selected !== 'add_station' && StationDetialSelectUser.selected !== null)" 
                                                    @click='removeStation();'
                                                >
                                                    ลบ
                                                </span> -->
                                            </h3>
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col>
                                            <b-table-simple hover caption-top responsive :hidden="StationDetialSelectUser.selected === null">
                                                <b-thead>
                                                    <b-tr>
                                                        <b-th v-for='(item, index) in fields' :key='index' class="text-center">{{item.label}}</b-th>
                                                    </b-tr>
                                                </b-thead>
                                                <b-tbody>
                                                    <b-tr >
                                                        <b-td  rowspan="11" class="text-center">{{ 1 }}</b-td>
                                                        <b-td  :hidden="StationDetialSelectUser.selected === 'add_station'" rowspan="11" class="text-center">{{ stationValue.st_desc }}</b-td>
                                                        <b-td  :hidden="StationDetialSelectUser.selected === 'add_station'" rowspan="11" class="text-center" >{{ stationValue.st_code }}</b-td> 
                                                        <!-- for add -->
                                                        <b-td  :hidden="StationDetialSelectUser.selected !== 'add_station'" rowspan="11" class="text-center" >
                                                            <b-form-input 
                                                                placeholder="กรอกชื่อสถานี"
                                                                v-model='stationValue.st_desc'
                                                            ></b-form-input>    
                                                        </b-td> 
                                                        <b-td  :hidden="StationDetialSelectUser.selected !== 'add_station'" rowspan="11" class="text-center" >
                                                            <b-form-input 
                                                                placeholder="กรอกรหัสถานี"
                                                                v-model='stationValue.st_code'
                                                            ></b-form-input>
                                                        </b-td> 
                                                        <!-- for add -->
                                                    </b-tr>


<!-- new station  fix --> 
 <b-tr>
    <b-td class="text-center">{{ stationType.find(element => element.tag === "MB").type + " ("+stationType.find(element => element.tag === "MB").tag+")" }} </b-td>
    <b-td class="text-center">{{ stationValue.st_count.MB }}</b-td>
    <b-td class="text-center" >
    <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
        @click="(stationValue.st_count.MB += 1)">
        เพิ่ม
    </b-button>
    </b-td>
    <b-td class="text-center" >
    <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
        :disabled="stationValue.st_count.MB <= 0" 
        @click="(stationValue.st_count.MB -= 1)">
        ลด
    </b-button>
    </b-td>
    
    <b-td class="text-center" >
        <b-button 
            variant="outline-primary" 
            size="sm" 
            class="w-100 h-100"
            @click='AddPump("MB")'
        >
        เพิ่มปั้ม
        </b-button>
    </b-td>
</b-tr>

<b-tr>
    <b-td class="text-center">{{ stationType.find(element => element.tag === "POINT").type + " ("+stationType.find(element => element.tag === "POINT").tag+")" }} </b-td>
    <b-td class="text-center">{{ stationValue.st_count.POINT }}</b-td>
    <b-td class="text-center" >
    <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
        @click="(stationValue.st_count.POINT += 1)">
        เพิ่ม
    </b-button>
    </b-td>
    <b-td class="text-center" >
    <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
        :disabled="stationValue.st_count.POINT <= 0" 
        @click="(stationValue.st_count.POINT -= 1)">
        ลด
    </b-button>
    </b-td>
    
    <b-td class="text-center" >
        <b-button 
            variant="outline-primary" 
            size="sm" 
            class="w-100 h-100"
            @click='AddPump("POINT")'
        >
        เพิ่มปั้ม
        </b-button>
    </b-td>
</b-tr>


                                                    <b-tr>
                                                        <b-td class="text-center">{{ stationType.find(element => element.tag === "BOOSTER").type + " ("+stationType.find(element => element.tag === "BOOSTER").tag+")" }} </b-td>
                                                        <b-td class="text-center">{{ stationValue.st_count.BOOSTER }}</b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            @click="(stationValue.st_count.BOOSTER += 1)">
                                                            เพิ่ม
                                                        </b-button>
                                                        </b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            :disabled="stationValue.st_count.BOOSTER <= 0" 
                                                            @click="(stationValue.st_count.BOOSTER -= 1)">
                                                            ลด
                                                        </b-button>
                                                        </b-td>
                                                        
                                                        <b-td class="text-center" >
                                                            <b-button 
                                                                variant="outline-primary" 
                                                                size="sm" 
                                                                class="w-100 h-100"
                                                                @click='AddPump("BOOSTER")'
                                                            >
                                                            เพิ่มปั้ม
                                                            </b-button>
                                                        </b-td>
                                                    </b-tr>
                                                    <b-tr>
                                                        <b-td class="text-center">{{ stationType.find(element => element.tag === "SEDIMENT").type + " ("+stationType.find(element => element.tag === "SEDIMENT").tag+")" }} </b-td>
                                                        <b-td class="text-center">{{ stationValue.st_count.SEDIMENT }}</b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            @click="(stationValue.st_count.SEDIMENT += 1)">
                                                            เพิ่ม
                                                        </b-button>
                                                        </b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            :disabled="stationValue.st_count.SEDIMENT <= 0" 
                                                            @click="(stationValue.st_count.SEDIMENT -= 1)">
                                                            ลด
                                                        </b-button>
                                                        </b-td>
                                                        
                                                        <b-td class="text-center" >
                                                            <b-button 
                                                                variant="outline-primary" 
                                                                size="sm" 
                                                                class="w-100 h-100"
                                                                @click='AddPump("SEDIMENT")'
                                                            >
                                                            เพิ่มปั้ม
                                                            </b-button>
                                                        </b-td>
                                                    </b-tr>

                                                    <b-tr>
                                                        <b-td class="text-center">{{ stationType.find(element => element.tag === "FILTATION").type + " ("+stationType.find(element => element.tag === "FILTATION").tag+")" }} </b-td>
                                                        <b-td class="text-center">{{ stationValue.st_count.FILTATION }}</b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            @click="(stationValue.st_count.FILTATION += 1)">
                                                            <!-- @click="(stationValue.st_count.FILTATION += 1)" -->
                                                            เพิ่ม
                                                        </b-button>
                                                        </b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            :disabled="stationValue.st_count.FILTATION <= 0" 
                                                            @click="(stationValue.st_count.FILTATION -= 1)">
                                                            ลด
                                                        </b-button>
                                                        </b-td>
                                                        
                                                        <b-td class="text-center" >
                                                            <b-button 
                                                                variant="outline-primary" 
                                                                size="sm" 
                                                                class="w-100 h-100"
                                                                @click='AddPump("FILTATION")'
                                                            >
                                                            เพิ่มปั้ม
                                                            </b-button>
                                                        </b-td>
                                                    </b-tr>
                                                    <b-tr>
                                                        <b-td class="text-center">{{ stationType.find(element => element.tag === "CHEMICAL").type + " ("+stationType.find(element => element.tag === "CHEMICAL").tag+")" }} </b-td>
                                                        <b-td class="text-center">{{ stationValue.st_count.CHEMICAL }}</b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            @click="(stationValue.st_count.CHEMICAL += 1)">
                                                            เพิ่ม
                                                        </b-button>
                                                        </b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            :disabled="stationValue.st_count.CHEMICAL <= 0" 
                                                            @click="(stationValue.st_count.CHEMICAL -= 1)">
                                                            ลด
                                                        </b-button>
                                                        </b-td>
                                                        
                                                        <b-td class="text-center" >
                                                            <b-button 
                                                                variant="outline-primary" 
                                                                size="sm" 
                                                                class="w-100 h-100"
                                                                @click='AddPump("CHEMICAL")'
                                                            >
                                                            เพิ่มปั้ม
                                                            </b-button>
                                                        </b-td>
                                                    </b-tr>
                                                    <b-tr>
                                                        <b-td class="text-center">{{ stationType.find(element => element.tag === "RWP").type + " ("+stationType.find(element => element.tag === "RWP").tag+")" }} </b-td>
                                                        <b-td class="text-center">{{ stationValue.st_count.RWP }}</b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            @click="(stationValue.st_count.RWP += 1)">
                                                            เพิ่ม
                                                        </b-button>
                                                        </b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            :disabled="stationValue.st_count.RWP <= 0" 
                                                            @click="(stationValue.st_count.RWP -= 1)">
                                                            ลด
                                                        </b-button>
                                                        </b-td>
                                                        
                                                        <b-td class="text-center" >
                                                            <b-button 
                                                                variant="outline-primary" 
                                                                size="sm" 
                                                                class="w-100 h-100"
                                                                @click='AddPump("RWP")'
                                                            >
                                                            เพิ่มปั้ม
                                                            </b-button>
                                                        </b-td>
                                                    </b-tr>
                                                    <b-tr>
                                                        <b-td class="text-center">{{ stationType.find(element => element.tag === "HSP").type + " ("+stationType.find(element => element.tag === "HSP").tag+")" }} </b-td>
                                                        <b-td class="text-center">{{ stationValue.st_count.HSP }}</b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            @click="(stationValue.st_count.HSP += 1)">
                                                            เพิ่ม
                                                        </b-button>
                                                        </b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            :disabled="stationValue.st_count.HSP <= 0" 
                                                            @click="(stationValue.st_count.HSP -= 1)">
                                                            ลด
                                                        </b-button>
                                                        </b-td>
                                                        
                                                        <b-td class="text-center" >
                                                            <b-button 
                                                                variant="outline-primary" 
                                                                size="sm" 
                                                                class="w-100 h-100"
                                                                @click='AddPump("HSP")'
                                                            >
                                                            เพิ่มปั้ม
                                                            </b-button>
                                                        </b-td>
                                                    </b-tr>
                                                    <b-tr>
                                                        <b-td class="text-center">{{ stationType.find(element => element.tag === "DPB").type + " ("+stationType.find(element => element.tag === "DPB").tag+")" }} </b-td>
                                                        <b-td class="text-center">{{ stationValue.st_count.DPB }}</b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            @click="(stationValue.st_count.DPB += 1)">
                                                            เพิ่ม
                                                        </b-button>
                                                        </b-td>
                                                        <b-td class="text-center" >
                                                        <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                                            :disabled="stationValue.st_count.DPB <= 0" 
                                                            @click="(stationValue.st_count.DPB -= 1)">
                                                            ลด
                                                        </b-button>
                                                        </b-td>
                                                        
                                                        <b-td class="text-center" >
                                                            <b-button 
                                                                variant="outline-primary" 
                                                                size="sm" 
                                                                class="w-100 h-100"
                                                                @click='AddPump("DPB")'
                                                            >
                                                            เพิ่มปั้ม
                                                            </b-button>
                                                        </b-td>
                                                    </b-tr>
<!-- <b-tr>
    <b-td class="text-center" colspan="5"> 
        <b-button 
            variant="outline-primary" 
            v-b-modal.popup-insert-station
            size="sm" 
            class="w-100 h-100"
            @click="$bvModal.show('popup-insert-station')"
        >   
            เพิ่มสถานี
        </b-button>
    </b-td>
</b-tr> -->
                                                </b-tbody>
                                            </b-table-simple>
                                        </b-col>
                                    </b-row>
                                    <b-row>
                                        <b-col cols='12'>
                                            <manager-pump 
                                                :branch_pump="managerpump"
                                                :hidden="StationDetialSelectUser.selected === null"
                                            />
                                        </b-col>
                                    </b-row>
                                    <b-row :hidden="!(StationDetialSelectUser.selected === 'add_station') || StationDetialSelectUser.selected === null">
                                        <b-col cols='10'></b-col>
                                        <b-col cols='2'>
                                            <b-button 
                                                size="md" 
                                                variant="primary"
                                                style="margin-bottom:40px; width: 100%;"
                                                @click='addSetting();'
                                            >
                                                ADD Setting
                                            </b-button>
                                        </b-col>
                                    </b-row>
                                    <b-row :hidden="StationDetialSelectUser.selected === 'add_station' || StationDetialSelectUser.selected === null">
                                        <b-col cols='7'></b-col>
                                        <b-col cols='5'>
                                            <b-button 
                                                size="md" 
                                                variant="outline-primary"
                                                style="margin-bottom:40px; width: 200px;"
                                                @click="RemoveSetting()"
                                            >
                                                Remove Setting
                                            </b-button>
                                            <b-button 
                                                size="md" 
                                                variant="primary"
                                                style="margin-bottom:40px; width: 200px;"
                                                @click="UpdateSetting()"
                                            >
                                                Update Setting
                                            </b-button>
                                        </b-col>
                                    </b-row>
                                    <b-row :hidden="StationDetialSelectUser.selected === 'add_station' || StationDetialSelectUser.selected !== null">
                                        <b-col cols='7'></b-col>
                                        <b-col cols='5'>
                                            <b-button 
                                                size="md" 
                                                variant="outline-primary"
                                                style="margin-bottom:40px; width: 200px;"
                                                @click="RemoveSetting_2()"
                                            >
                                                Remove Setting
                                            </b-button>
                                            <b-button 
                                                size="md" 
                                                variant="primary"
                                                style="margin-bottom:40px; width: 200px;"
                                                @click="UpdateSetting_2()"
                                            >
                                                Update Setting
                                            </b-button>
                                        </b-col>
                                    </b-row>
                                </b-container>
                                <!-- END -->
                                <br>
                            </b-tab>
                            <template 
                                v-slot:tabs-end
                            >
                                <b-nav-item 
                                    role="presentation" 
                                    @click.prevent="InsertConfig" 
                                    href="#"
                                ><b>+</b></b-nav-item>
                            </template>
                            <template 
                                v-slot:empty
                            >
                                <div 
                                    class="text-center text-muted"
                                >
                                    There are no open tabs<br>
                                    Open a new tab using the <b>+</b> button above.
                                </div>
                            </template>
                        </b-tabs>

                    </b-card>
                    <br>
                </b-col>
            </b-row>
        </b-container>


        <!-- modal -->
        <b-modal id="ModalAddBranch" 
            size="xl" 
            title="เพิ่มสถานี" 
            @ok="FNModalAddBranch()"
        >
            <b-container class="bv-example-row">
                <b-row>
                    <b-col cols='6' class='txt-align-l'>
                        เขต
                        <b-form-select 
                            v-model="addSettingSelected.area" 
                            :options="addSettingSelected.areaOption" 
                            @change='addSettingChangeArea()'

                        ></b-form-select>
                    </b-col>
                    <b-col cols='6' class='txt-align-l'>
                        สาขา
                        <b-form-select 
                            v-model="addSettingSelected.branch" 
                            :options="addSettingSelected.branchOption" 
                            @change='addSettingChangeBranch()'
                        ></b-form-select>
                    </b-col>
                </b-row>
            </b-container>
            <template v-slot:modal-footer="{ ok, cancel }">
                <b-button size="md" variant="outline-primary" @click="ok()">OK</b-button>
                <b-button size="md" variant="outline-primary" @click="cancel()">Cancel</b-button>
            </template>
        </b-modal>
        
        <b-modal id="popup-insert-station" size="lg" title="Large Modal">Hello Large Modal!</b-modal>
    </div>
</template>

<script>

import VueTableDynamic from 'vue-table-dynamic'
import ManagerPump from './managerpump'

export default {
    data () {
        return {
            server: '',
            email: [],
            lost_time: '',
            collect_data_time: '',
            fields: [
                { key: "index",label: '#', class: 'text-center'},
                { key: "station", label: 'สถานี', class: 'text-center' },
                { key: "station_id", label: 'รหัสสถานี', class: 'text-center' },
                { key: "station_type", label: 'ประเภทสถานี', class: 'text-center' },
                { key: "cnt", label: 'จำนวน', class: 'text-center' },
                { key: "increase", label: 'เพิ่ม', class: 'text-center' },
                { key: "decrease", label: 'ลด', class: 'text-center' },
                { key: "managepump", label: "จัดการ pump", class: 'text-center'}
            ],
            config_select_branch: {
                option: [{
                    value: null, text: 'กรุณาเลือกสถานี'
                }],
                selected: null
            },
            Config_tab: {
                selected: 0,
                content: []
            },
            InfoDetialSelectUser: {
                area: {
                    selected: null,
                    options: [{
                        value: null,
                        text: 'กรุณาเลือกพื้นที่'
                    }]
                },
                areaid: '',
                branch: {
                    selected: null,
                    options: [{
                        value: null,
                        text: 'กรุณาเลือกสาขา'
                    }]
                },
                branchid: '',
            },
            StationDetialSelectUser: {
                selected: null,
                options: []
            },
            station:{
                title: ''
            },
            stationType: [
                {
                    tag: 'SEDIMENT',
                    type: 'ถังตกตะกอน',
                    val: 0,
                },{
                    tag: 'FILTATION',
                    type: 'โรงกรองน้ำ',
                    val: 0,
                },{
                    tag: 'CHEMICAL',
                    type: 'โรงจ่ายสารเคมี',
                    val: 0,
                },{
                    tag: 'CLEARWELL',
                    type: 'ถังน้ำใส',
                    val: 0,
                },{
                    tag: 'ELEVATE',
                    type: 'หอถังสูง',
                    val: 0,
                },{
                    tag: 'RWP',
                    type: 'โรงสูบน้ำแรงต่ำ',
                    val: 0,
                },{
                    tag: 'HSP',
                    type: 'โรงสูบน้ำแรงสูง',
                    val: 0,
                },{
                    tag: 'DPB',
                    type: 'สถานีจ่ายน้ำ',
                    val: 0,
                },{
                    tag: 'BOOSTER',
                    type: 'สถานีเพิ่มแรงดัน',
                    val: 0,
                }, {
                    tag: "MB",
                    type: "สถานี Modlie Plant",
                    val: 0
                }, {
                    tag: "POINT",
                    type: "จุดติดตั้ง (นอกสถานี)",
                    val : 0
                }
            ],
            stationValue: {
                "st_code": "",
                "st_desc": "",
                "st_count": {
                    "SEDIMENT": 0,
                    "FILTATION": 0,
                    "CHEMICAL": 0,
                    "CLEARWELL": 0,
                    "ELEVATE": 0,
                    "RWP": 0,
                    "HSP": 0,
                    "DPB": 0,
                    "BOOSTER": 0,
                    "MB": 0,
                    "POINT": 0
                },
                "pump": []
            },
            managerpump: [
                {
                    "st": "",
                    "st_id": "",
                    "st_code": ""
                }
            ],
            addSettingSelected:{
                area:'',
                areaOption:[{
                    value: '',
                    text: '----- กรุณาเลือกพื้นที่ -----'
                }],
                branch:'',
                branchOption:[{
                    value: '',
                    text: '----- กรุณาเลือกสาขา -----'
                }],
            }
        }
    },
    props: {
        APISETTING: {
            type: Object
        }
    },
    components: {
        ManagerPump
    },
    methods: {
        addSettingChangeBranch () {
            // console.log(this.addSettingSelected.area)
            // console.log(this.addSettingSelected.branch)
            // console.log(this.$store.state.state_page.setting)
        },
        addSettingChangeArea() {
            this.addSettingSelected.branchOption = [{
                value: '',
                text: '----- กรุณาเลือกสาขา -----'
            }]
            this.$store.state.province[this.addSettingSelected.area].ww_all.forEach((item, index, arr) => {
                this.addSettingSelected.branchOption.push({
                    value: index,
                    text: item.ww_desc
                })
            })
        },
        removeStation() {
            console.log("removeStation")
            this.$store.commit("REMOVE_STATION", {
                indexSetting: this.Config_tab.selected,
                stationIndex: this.StationDetialSelectUser.selected
            })
            this.UpdateSetting_2()
        },
        addSetting() {
            this.$store.commit("PUSH_STATION", {
                indexSetting: this.Config_tab.selected,
                station: this.stationValue
            })
            this.Update_Station_addSetting(this.Config_tab.selected)
        },
        async Update_Station_addSetting(index){
            const RESPONSTAPI = await this.APISETTING.UPDATE_LIST_INFO_BY_STATION(
                index,
                this.$store.state.state_page.setting[index]
            )
            if (RESPONSTAPI.status === 200){
                alert("Success")
                location.reload();
            }else {
                alert("Unsuccess")
                location.reload();
            }
        },
        async Update_common() {
            const res1 = await this.APISETTING.update_email(this.$store.state.state_page.email) 
            const res2 = await this.APISETTING.UPDATE_LIST_COMMONSETTING(this.$store.state.state_page.commonsetting)
            if (res1.status === 200 && res2.status === 200){
                alert("Success")
            } else {
                alert("Unsuccess")
            }
        },
        async Update_all() {
            console.log("Update_all")
            console.log(this.InfoDetialSelectUser.area.selected)
            const RESPONSTAPI = await this.APISETTING.UPDATE_LIST_INFO_BY_STATION(
                this.InfoDetialSelectUser.area.selected,
                this.$store.state.state_page.setting[this.Config_tab.selected]
            )
            if (RESPONSTAPI.status === 200){
                alert("Success")
                location.reload();
            }else {
                alert("Unsuccess")
                location.reload();
            }
        },
        initail () {
            this.$store.state.province.forEach((ItemProvince, IndexProvince, ArrProvince) => {
                this.addSettingSelected.areaOption.push({
                    value: IndexProvince,
                    text: ItemProvince.reg_desc
                })
            });
        },
        initailAreaBanchSelected(Detail) {
            this.InfoDetialSelectUser.branch.options = []
            this.$store.state.province.forEach((ItemProvince, IndexProvince, ArrProvince) => {
                if (ItemProvince.reg === Detail.reg){
                    this.InfoDetialSelectUser.area.selected = IndexProvince
                    this.InfoDetialSelectUser.areaid = ItemProvince.reg
                    ItemProvince.ww_all.forEach((itemBranch, indexBranch, arrBranch) => {
                        this.InfoDetialSelectUser.branch.options.push({
                            value: indexBranch,
                            text: itemBranch.ww_desc
                        })
                        if (itemBranch.ww.toString() === Detail.ww){
                            this.InfoDetialSelectUser.branch.selected = indexBranch
                            this.InfoDetialSelectUser.branchid = itemBranch.ww
                        }
                    })
                }
            })
        },
        tabActivated(tabIndex ){  
            this.StationDetialSelectUser.selected = null
            if (tabIndex !== -1){
                this.StationDetialSelectUser.options = []
                this.$store.state.state_page.setting[this.Config_tab.selected].station.forEach((itemStation, indexStation, arrStation) => {
                    this.StationDetialSelectUser.options.push({
                        value: indexStation,
                        text: itemStation.st_desc
                    })
                })
                this.StationDetialSelectUser.options.push({
                    value: 'add_station',
                    text: '------ เพิ่มสถานี ------'
                })
                this.StationDetialSelectUser.selected = null
                this.station.title = this.$store.state.state_page.setting[tabIndex]
                this.initailAreaBanchSelected(
                    this.$store.state.state_page.setting[tabIndex]
                )
            }
        },
        AddPump(STATIONTYPE) {
            if (this.StationDetialSelectUser.selected !== 'add_station'){
                this.managerpump = [
                    this.$store.state.state_page.setting[this.Config_tab.selected].station[this.StationDetialSelectUser.selected], 
                    STATIONTYPE
                ]
                console.log(this.managerpump)
            } else {
                this.managerpump = [
                    this.stationValue, 
                    STATIONTYPE
                ]
                console.log(this.managerpump)
            }
        },
        StationUserChange() {
            console.log("Station Select Even Change")
            console.log(this.StationDetialSelectUser.selected)
            if (this.StationDetialSelectUser.selected !== 'add_station' && this.StationDetialSelectUser.selected !== null){
                this.stationValue = this.$store.state.state_page.setting[this.Config_tab.selected].station[this.StationDetialSelectUser.selected]
                if (this.stationValue.st_count.MB === undefined && this.stationValue.st_count.POINT === undefined){
                    this.stationValue.st_count.MB = 0
                    this.stationValue.st_count.POINT = 0
                }
                console.log(this.stationValue.st_count)
            } else if (this.StationDetialSelectUser.selected === 'add_station'){
                this.stationValue  = {
                    "st_code": "",
                    "st_desc": "",
                    "st_count": {
                        "SEDIMENT": 0,
                        "FILTATION": 0,
                        "CHEMICAL": 0,
                        "CLEARWELL": 0,
                        "ELEVATE": 0,
                        "RWP": 0,
                        "HSP": 0,
                        "DPB": 0,
                        "BOOSTER": 0,
                        "MB": 0,
                        "POINT": 0
                    },
                    "pump": []
                }
            }
        },
        async FNModalAddBranch () {
            var finddd = this.$store.state.state_page.setting.find(Element => (Element.ww === (this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww).toString()))
            if (finddd !== undefined){
                // alert(JSON.stringify(this.$store.state.state_page.setting.find(Element => (Element.ww === (this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww).toString()))))
                alert("มีสาขานี้อยู่แล้ว")
                location.reload()
            } else {
                this.$store.commit("PUSH_SETTING",{
                    "reg": this.$store.state.province[this.addSettingSelected.area].reg,
                    "reg_desc": this.$store.state.province[this.addSettingSelected.area].reg_desc,
                    "ww": this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww,
                    "ww_desc": this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww_desc,
                    "station": []
                })
                const res = await this.APISETTING.UPDATE_LIST_INFO_BY_STATION(
                    this.$store.state.state_page.setting.length - 1, {
                        "reg": this.$store.state.province[this.addSettingSelected.area].reg,
                        "reg_desc": this.$store.state.province[this.addSettingSelected.area].reg_desc,
                        "ww": this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww,
                        "ww_desc": this.$store.state.province[this.addSettingSelected.area].ww_all[this.addSettingSelected.branch].ww_desc,
                        "station": []
                    }
                )
                if (res.status === 200){
                    location.reload()
                }
            }
        },
        UPDATE_COMMONSETTINGEMAIL() {
            this.$store.commit("UPDATE_COMMONSETTING", {
                collect_data_time: this.collect_data_time,
                collect_date: this.lost_time,
                server: this.server
            });
            this.$store.commit("UPDATE_EMAILSCADA", this.email);
            this.Update_common();
        },
        async RemoveSetting_2() {
            const res = await this.APISETTING.REMOVE_LIST_INFO_BY_STATION(this.Config_tab.selected)
            if (res.status === 200){
                alert("Success")
                location.reload();
            } else {
                alert("Unsuccess")
                location.reload();
            }
        },
        async UpdateSetting_2() {
            const res = await this.APISETTING.UPDATE_LIST_INFO_BY_STATION(
                this.Config_tab.selected,
                this.$store.state.state_page.setting[this.Config_tab.selected]
            )
            console.log(res)
            if (res.status === 200){
                alert("Success")
                location.reload();
            } else {
                alert("Unsuccess")
                location.reload();
            }
        },
        UpdateSetting() {
            this.$store.commit("UPDATE_STATIONTYPE", {
                indexSetting: this.Config_tab.selected,
                indexStation: this.StationDetialSelectUser.selected,
                st_count: this.stationValue.st_count
            });
            this.$store.commit("UPDATE_COMMONSETTING", {
                collect_data_time: this.collect_data_time,
                collect_date: this.lost_time,
                server: this.server
            });
            this.$store.commit("UPDATE_EMAILSCADA", this.email);
            this.Update_all_UpdateSetting();
        },
        async Update_all_UpdateSetting () {
            const res = await this.APISETTING.UPDATE_LIST_INFO_BY_STATION(
                this.Config_tab.selected,
                this.$store.state.state_page.setting[this.Config_tab.selected]
            )
            if (res.status === 200){
                alert("Success")
                location.reload();
            } else {
                alert("Unsuccess")
                location.reload();
            }
        },
        async RemoveSetting () {
            const res = await this.APISETTING.REMOVE_LIST_INFO_BY_STATION(this.Config_tab.selected)
            if (res.status === 200){
                alert("Success")
                location.reload();
            } else {
                alert("Unsuccess")
                location.reload();
            }
        },
        InsertConfig() {
            // call modal insert new config
            this.$root.$emit("bv::show::modal", "ModalAddBranch");
        },
        select_branch_config () {
            console.log('selection branch config')
            console.log(this.config_select_branch.selected)
        },
        async API_select_branch_config () {
            const LIST_INFO = await this.APISETTING.LIST_INFO()
            if (LIST_INFO.status === 200){
                LIST_INFO.data.forEach((item1, index, arr) => {
                    item1.station.forEach((item2, index, arr) => {
                        if (item2.st_count.MB === undefined && item2.st_count.POINT === undefined){
                            item2.st_count.MB = 0;
                            item2.st_count.POINT = 0;
                        }
                    })
                })
                this.$store.commit("SET_SETTING", LIST_INFO.data);
                LIST_INFO.data.forEach((ItemListInfo, IndexListInfo, ArrListInfo) => {
                    this.Config_tab.content.push(ItemListInfo)
                })
            } else {
                alert(LIST_INFO)
            }
        },
        async API_find_email () {
            const email = await this.APISETTING.find_email();
            if (email.status === 200){
                this.$store.commit("SET_EMAILSCADA", email.data);
                this.email = this.$store.state.state_page.email.mail_send
            }
        },
        async API_commomsetting () {
            const commonsetting = await this.APISETTING.LIST_COMMONSETTING();
            if (commonsetting.status === 200){
                this.$store.commit("SET_COMMONSETTING", commonsetting.data);
                this.server = this.$store.state.state_page.commonsetting.server
                this.lost_time = this.$store.state.state_page.commonsetting.collect_date
                this.collect_data_time = this.$store.state.state_page.commonsetting.collect_data_time
            }else {
                alert(commonsetting);
            }
        },
        async API_province () {
            const PROVINCEDETAIL = await this.APISETTING.PROVINCE()
            if (PROVINCEDETAIL.status === 200){
                this.$store.commit("SET_PROVINCE", PROVINCEDETAIL.data);
                PROVINCEDETAIL.data.forEach((ItemProvince, IndexProvince, ArrProvince) => {
                    this.InfoDetialSelectUser.area.options.push({
                        value: IndexProvince,
                        text: ItemProvince.reg_desc
                    })
                })
                this.$store.state.province.forEach((item, index, arr) => {
                    item.ww_all.forEach((item2, index2, arr2) => {
                        item2.ww = item2.ww.toString();
                    })
                })
                this.initail();
            } else {
                alert(PROVINCEDETAIL)
            }
        },
        InfoDetialSelectUserAreaChange () {
            if (this.InfoDetialSelectUser.area.selected === null){
                this.InfoDetialSelectUser.areaid = ''
            }else {
                this.$store.commit("UPDATE_AREA",{
                    indexSetting: this.Config_tab.selected,
                    reg: this.$store.state.province[this.InfoDetialSelectUser.area.selected].reg,
                    reg_desc: this.$store.state.province[this.InfoDetialSelectUser.area.selected].reg_desc
                })
                this.InfoDetialSelectUser.areaid = this.$store.state.province[this.InfoDetialSelectUser.area.selected].reg
                this.InfoDetialSelectUser.branch.options = [{
                    value: null,
                    text: 'กรุณาเลือกสาขา'
                }]
                this.InfoDetialSelectUser.branch.selected = null
                this.$store.state.province
                    [this.InfoDetialSelectUser.area.selected]
                    .ww_all.forEach((itemBranch, indexBranch, arrBranch) => {
                        this.InfoDetialSelectUser.branch.options.push({
                            value: indexBranch,
                            text: itemBranch.ww_desc
                        })
                })
            }
        },
        InfoDetialSelectUserBranchChange() {
            if (this.InfoDetialSelectUser.branch.selected === null) {
                this.InfoDetialSelectUser.branchid = ''
            } else {
                this.$store.commit("UPDATE_BRANCH",{
                    indexSetting: this.Config_tab.selected,
                    ww: (this.$store.state.province
                        [this.InfoDetialSelectUser.area.selected]
                        .ww_all[this.InfoDetialSelectUser.branch.selected].ww).toString(),
                    ww_desc: this.$store.state.province
                        [this.InfoDetialSelectUser.area.selected]
                        .ww_all[this.InfoDetialSelectUser.branch.selected].ww_desc
                })
                this.InfoDetialSelectUser.branchid = this.$store.state.province
                    [this.InfoDetialSelectUser.area.selected]
                    .ww_all[this.InfoDetialSelectUser.branch.selected].ww
                console.log("เขต : ")
                console.log(this.$store.state.province[this.InfoDetialSelectUser.area.selected].reg_desc)
                console.log("รหัสเขต : ")
                console.log(this.$store.state.province[this.InfoDetialSelectUser.area.selected].reg)
                console.log("สาขา : ")
                console.log(this.$store.state.province
                    [this.InfoDetialSelectUser.area.selected]
                    .ww_all[this.InfoDetialSelectUser.branch.selected].ww_desc)
                console.log("CODE : ")
                console.log(this.$store.state.province
                    [this.InfoDetialSelectUser.area.selected]
                    .ww_all[this.InfoDetialSelectUser.branch.selected].ww)
            }
        }
    },
    mounted (){
        this.API_province();
        this.API_select_branch_config();
        this.API_commomsetting();
        this.API_find_email();
    }
}
</script>

<style scoped>
    .remove-station-link{
        font-size: 22px;
        text-decoration: underline;
        color: #007bff;
        cursor: pointer;
    }
</style>