<template>
    <div class='container'>
        <div class="py-4 text-center">
            <h2>Settings</h2>
        </div>
        <branchDetailv3 :APISETTING='this.apiSetting' />
        <connection />
        <!-- <test /> -->
    </div>
</template>

<script>
import branchDetailv1 from './branchDetail_v1'
import branchDetailv2 from './branchDetail_v2'
import branchDetailv3 from './branchDetail_v3'
import connection from './connection'

// import apiSetting from '@/serviceAPIS/get-setting'

import AppApi from '@/serviceAPIS/AppApi'

export default {
    name: 'setting',
    data () {
        return {
            apiSetting: AppApi
        }
    },
    components: {
        branchDetailv1,
        branchDetailv2,
        branchDetailv3,
        connection
    },
    methods : { 
        get_api_connection() {
            return {
                data: {
                    
                }
            }
        }
    }
}
</script>

<style scoped>

</style>