<template>
    <!-- v-if='branch_pump[0].pump.length !== 0' -->
    <b-table-simple hover caption-top responsive>
        <b-thead>
            <b-tr>
                <b-th v-for='(item, index) in fields' :key='index' class="text-center">{{item.label}}</b-th>
            </b-tr>
        </b-thead>

        <b-tbody>
            <b-tr v-for="(item, index) in (branch_pump[0] ? branch_pump[0].pump : [])" :key="index">
                <b-td class="text-center" v-if="branch_pump[1] === item.st">
                    {{(branch_pump[1] ? branch_pump[1] : 'เลือกประเภทสถานี')}}
                </b-td>
                <b-td class="text-center" v-if="branch_pump[1] === item.st">
                    {{item.st_id}}
                </b-td>
                <b-td class="text-center" v-if="branch_pump[1] === item.st">
                    {{(branch_pump[1] === item.st ? item.st_code : '')}}
                </b-td>
                <b-td class="text-center" v-if="branch_pump[1] === item.st">
                    <b-button variant="outline-primary" size="sm" class="w-100 h-100"
                    @click="remove(index)"
                    >
                    ลบ
                    </b-button>
                </b-td>
            </b-tr>

            <b-tr v-if='branch_pump[3]'>
                <b-td class="text-center" >
                    {{(branch_pump[1] ? branch_pump[1] : 'เลือกประเภทสถานี')}}
                </b-td>
                <b-td class="text-center" >
                    <b-input-group>
                        <b-form-select v-model="selected_pump_index" :options="branch_pump[2]" @change="pump_index_change()"></b-form-select>
                    </b-input-group>
                </b-td>
                <b-td class="text-center" >
                    <b-input-group>
                        <b-form-input
                            class='text-center'
                            v-model="pump_name"
                            :disabled="!branch_pump[1]"
                            :placeholder="(branch_pump[1] ? 'เพิ่มชื่อปั้ม' : 'กรุณาเลือกเลือกประเภทสถานี')"
                        ></b-form-input>
                        <b-input-group-append>
                            
                        </b-input-group-append>
                    </b-input-group>
                </b-td>
                <b-td class="text-center" >
                    <b-button variant="primary" size="sm" class="w-100 h-100"
                        @click="add()"
                        :disabled="(branch_pump[1] ? false : true)"
                    >
                        เพิ่ม
                    </b-button>
                </b-td>
            </b-tr>

        </b-tbody>
    </b-table-simple>
</template>

<script>

export default {
    name: 'ManagerPump',
    data () {
        return {

            /// option pump index
            selected_pump_index: null,
            
            tag: '',
            pump_name: '',
            fields: [
                { key: "station",label: 'Station', class: 'text-center'},
                { key: "tag_station",label: 'Station Index', class: 'text-center'},
                { key: "pump_name",label: 'Pump Name', class: 'text-center'},
                { key: "delete",label: '', class: 'text-center'},
            ]
        }
    },
    props: {
        branch_pump: {
            type: Array
        },
        options_pump_option: {
            type: Array
        }
    },
    methods : { 
        remove (index){
            this.branch_pump[2].push({ value: this.branch_pump[0].pump[index].st_id , text: 'สถานีที่ ' + this.branch_pump[0].pump[index].st_id })
            this.branch_pump[0].pump.splice(index, 1)
            this.branch_pump[3] = true
        },
        pump_index_change() {
            this.tag = this.selected_pump_index
            console.log(this.selected_pump_index)
        },
        add(){
            if (this.selected_pump_index !== null && this.pump_name !== ''){
                console.log(this.branch_pump[2])
                this.branch_pump[2].forEach((item ,index,arr) => {
                    //delete option pump index
                    // if (item.value === this.selected_pump_index){
                    //     this.branch_pump[2].splice(index, 1)
                    // }
                });
                console.log(this.branch_pump)
                if (this.pump_name || this.tag){
                    this.branch_pump[0].pump.push({
                        st: this.branch_pump[1],
                        st_id: this.selected_pump_index,
                        st_code: this.pump_name
                    })
                }
                console.log(this.branch_pump)
                this.tag = ""
                this.pump_name = ''
                if (this.branch_pump[2].length === 1){
                    this.branch_pump[3] = false
                }   
                this.selected_pump_index = null
            } else {
                alert('กรอกข้อมูลให้ครบถ้วน')
            }
        }
    },
    mounted() {
        console.log("from managerpump")
    }
}
</script>

<style scoped>

</style>