<template>
    <div class='container'>
        <div class="py-4 text-center">
            <h2>Mapping</h2>
        </div>
        <mapping-call :apiMapping='apiMapping'/>
        <!-- <mapping-new :apiMapping='apiMapping'/> -->
    </div>
</template>

<script>

import mappingCall from './mapping'
// import mappingNew from './mappingNew'
import apiMapping from '@/serviceAPIS/get-mapping'

export default {
    name: 'mapping',
    data () {
        return {
            apiMapping: apiMapping
            
        }
    },
    components: {
        mappingCall,
        // mappingNew
    }
}
</script>

<style scoped>

</style>