<template>
  <div>
    <!-- card show mapping  -->
    <b-card class="mb-3">
        <b-table
            sticky-header
            :fields="fields_mapping"
            :items="items"
            :bordered="true"
            :hover="true"
            responsive
        >
            <template v-slot:cell(view_tag)="data">
                <b-button @click="viewParam(data)">View</b-button>
            </template>
            <template v-slot:cell(sql_map)="data">
                <div v-for="name in data.item.sql_map" :key="name" class="margin-right-10px">
                    <b-badge variant="primary">{{ name }}</b-badge>
                </div>
            </template>
        </b-table>

        <b-button
            v-b-modal="'add_mapping'"
            variant="success"
            style="margin-bottom:40px; width: 200px;"
            >ADD Mapping
        </b-button>
    </b-card>
    
    <!-- modal for add new mapping -->
    <b-modal id="add_mapping" size="xl" title="Insert Mapping" @ok="addItemMapping()">
        <b-container class="bv-example-row">
            <b-row>
                <b-col>

                    <div class="mt-2">
                        Name:
                        <b-form-input v-model="mapInsert.name" placeholder="Enter name"></b-form-input>
                    </div>

                </b-col>
                <b-col>
        
                    <div class="mt-2">
                        Code:
                        <b-form-input v-model="mapInsert.code" placeholder="Enter Code"></b-form-input>
                    </div>

                </b-col>
            </b-row>


            <b-row>
                <b-col>
                    <div class="mt-2">
                        Type:
                        <b-form-input v-model="mapInsert.type" placeholder="Enter type"></b-form-input>
                    </div>
                </b-col>
                <b-col>
                    <div class="mt-2">
                        Type Name:
                        <b-form-input v-model="mapInsert.nameType" placeholder="Enter type name"></b-form-input>
                    </div>
                </b-col>
            </b-row>


        <b-row>
            <b-col>
                <div class="mt-2">
                    SQL MAP:
                    <b-form-tags v-model="mapInsert.tag_sql_map" class="mb-2"></b-form-tags>
                </div>
            </b-col>
            <b-col></b-col>
        </b-row>

        </b-container>


        <template v-slot:modal-footer="{ ok, cancel }">
            <!-- <b>Custom Footer</b> -->
            <b-button size="lg" variant="success" @click="ok()">OK</b-button>
            <b-button size="lg" variant="danger" @click="cancel()">Cancel</b-button>
        </template>
    </b-modal>

    <!-- card show tag -->
    <b-card>
        <h2>{{infoModal.title}}</h2>
        <b-table
            sticky-header
            :fields="fields_parameter"
            :bordered="true"
            :items="sub_items"
            :hover="true"
            responsive
            id="ret_table"
        >
            <template v-slot:cell(edit)="data">
            <b-button @click="editParam(data)" variant="warning">EDIT</b-button>
            </template>
            <template v-slot:cell(delete)="data">
            <b-button :id="data.item.no" @click="delParam(data)" variant="danger">DELETE</b-button>
            </template>
            <template v-slot:cell(duplicate)="data">
            <b-form-checkbox
                :id="'checkbox-id-' + data.item.no"
                v-model="data.item.duplicate"
                :name="'checkbox-' + data.item.no"
                :value="data.duplicate"
                unchecked-value="false"
            ></b-form-checkbox>
            </template>
        </b-table>
        <b-button
            v-b-modal="'add_tag'"
            @click="addTag"
            variant="success"
            style="margin-bottom:40px; width: 200px;"
        >ADD TAG</b-button>
    </b-card>


        
  </div>
</template>

<script>
import VueJsonPretty from "vue-json-pretty";

export default {
  name: "mappingNew",
  data() {
    return {
      filter: null,
      filterOn: [],
      mapInsert: {
        name: "",
        code: "",
        type: "",
        nameType: "",
        tag_sql_map: []
      },
      stickyHeader: true,
      noCollapse: true,

      fields_parameter: [
        {
          key: "no",
          label: "#"
        },
        {
          key: "tag",
          label: "TAG"
        },
        {
          key: "map",
          label: "MAP"
        },
        {
          key: "period_min",
          label: "period"
        },
        {
          key: "mqtt_topic",
          label: "MQTT TOPIC"
        },
        {
          key: "duplicate",
          label: "DUPLICATE"
        },
        {
          key: "edit",
          label: "edit"
        },
        {
          key: "delete",
          label: "delete"
        }
      ],

      fields_mapping: [
        {
          key: "no",
          label: "#"
        },
        {
          key: "name",
          label: "MapName"
        },
        {
          key: "code",
          label: "Code"
        },
        {
          key: "type",
          label: "Type"
        },
        {
          key: "station_name",
          label: "Name Type"
        },
        {
          key: "sql_map",
          label: "SQL_MAP"
        },
        {
          key: "view_tag",
          label: "VIEW TAG"
        }
      ],
      items: [],
      sub_items: [],
      items_duplicate: [],
      Gmap: [],
      infoModal: {
        title: "",
        data: "",
        tag: "",
        mqtt_topic:"",
        period_min:1,
        duplicate:false,
        m_id: null
      },
      Tag: []
    };
  },
  components: {
    VueJsonPretty
  },
  props: {
    apiMapping: {
      type: Object
    }
  },
  methods: {
    async addItemMapping () {
        this.items.push(
            this.mapInsert
        )
        console.log(this.items)
        this.$store.commit('PUSH_MAPPING',{
                "name": this.mapInsert.name,
                "type": this.mapInsert.type,
                "code": this.mapInsert.code,
                "count": 1,
                "sql_map": [
                    this.mapInsert.tag_sql_map
                ],
                "data": [],
                "st_desc": "สถานีเพิ่มแรงดัน"
            },
        )
    },
    mapTypeName(in_type) {
        var found = this.$store.state.scada_tag.STATION.filter(function(item) {
            return item.tag === in_type;
        });
        return found[0].st_desc;
    },
    viewParam(tag_data) {
        console.log(tag_data);
        this.sub_items = [];
        this.infoModal.title = tag_data.item.name;
        this.infoModal.m_id = tag_data.index;
        tag_data.item.data.forEach((item, index, arr) => {
            this.sub_items.push({
                no: index + 1,
                tag: item.tag,
                map: item.map,
                period_min: item.period_min,
                mqtt_topic: item.mqtt_topic,
                duplicate: item.duplicate,
                map_id: tag_data.index
            });
        });
    },
    addTag() {
        console.log(this.infoModal);
        //console.log(this.sub_items);

       if(this.infoModal.m_id !== null){
            var tmp = {
                no: this.sub_items.length + 1,
                tag: "",
                map: "",
                period_min: 1,
                mqtt_topic: "",
                duplicate: true
            }
            var data = {
                item:tmp
            }
        this.sub_items.push(data);

        console.log("=======")
        console.log(this.infoModal.m_id)
        console.log(this.items)
        this.items[this.infoModal.m_id].data.push(data);
        
        //this.items[this.infoModal.m_id].data[t_index] = data.item;
        this.editParam(this.sub_items[this.sub_items.length-1])
      
       }
     
    },
    maptable(){
        var items = this.$store.state.state_page.mapping
        
        items.forEach((item, index, arr) => {
            var tmep_items = [];

            item.data.forEach((item, index, arr) => {
                tmep_items.push({
                    no: index + 1,
                    tag: item.tag,
                    map: item.map,
                    period_min: item.c,
                    mqtt_topic: item.topic,
                    duplicate: item.dup
                });
            });

            this.items.push({
                no: index + 1,
                name: item.name,
                code: item.code,
                type: item.type,
                station_name: this.mapTypeName(item.type),
                sql_map: item.sql_map,
                data: tmep_items
            });
        });
        console.log("!!!! mounted this.items")
        console.log(this.items)
    }
  },
  computed: {},
    async mounted() {
        this.$root.$on("bv::modal::show", (bvEvent, modalId) => {
            console.log("Modal is about to be shown", bvEvent, modalId);
        });

        const Gmap = await this.apiMapping.getMap();

        if (this.$store.state.scada_tag === null) {
            const Tag = await this.apiMapping.getTag();
            this.$store.commit("SET_SCADA_TAG", Tag.data);
        }

        this.$store.commit("SET_MAPPING", Gmap.data);

        this.maptable()

    }
};
</script>

<style scoped>
    @import "../../../../css/style.branchDetail.css";
    @import "../../../../css/style.mapping.css";
</style>