<template>
</template>

<script>

import VueJsonPretty from 'vue-json-pretty'


export default {
}
</script>

<style scoped>
    @import '../../../../css/style.branchDetail.css';
    @import '../../../../css/style.mapping.css';
</style>