<template>
  <div>
    <b-card class="mb-3">
      <b-table
        sticky-header
        :fields="fields_mapping"
        :items="items"
        :bordered="true"
        :hover="true"
        responsive
      >
        <template v-slot:cell(view_tag)="data">
          <b-button @click="viewParam(data)" variant="outline-primary">View</b-button>
        </template>
        <template v-slot:cell(edit_tag)="data">
          <b-button v-b-modal="'edit-mapping-'+ data.index" variant="outline-primary">Edit</b-button>


                <!-- edit mapping -->
                <b-modal :id="'edit-mapping-' + data.index" size="xl" :title="data.item.name" @ok="editItemMapping(data.index)">
                    <b-container class="bv-example-row">
                        <b-row>
                            <b-col>

                                <div class="mt-2">
                                    Name:
                                    <b-form-input v-model="items[data.index].name" placeholder="Enter name"></b-form-input>
                                </div>

                            </b-col>
                            <b-col>
                    
                                <div class="mt-2">
                                    Station Code:
                                    <b-form-input v-model="items[data.index].code" placeholder="Enter Code"></b-form-input>
                                </div>

                            </b-col>
                        </b-row>

                        <b-row>
                            <b-col>
                                <div class="mt-2">
                                    Station Type:
                                    <b-form-input v-model="items[data.index].type" placeholder="Enter type"></b-form-input>
                                    <!-- <b-form-select v-model="items[data.index].type" class="mb-3">
                                        <b-form-select-option v-for='(item, index) in this.$store.state.scada_tag.STATION' :key='index' :value="item.tag">{{item.st_desc}}</b-form-select-option>
                                    </b-form-select> -->
                                    
                                </div>
                            </b-col>
                            <b-col>
                                <div class="mt-2">
                                    Station Index:
                                    <b-form-input v-model="items[data.index].station_index" placeholder="Enter index"></b-form-input>
                                    <!-- <b-form-select v-model="items[data.index].type" class="mb-3">
                                        <b-form-select-option v-for='(item, index) in this.$store.state.scada_tag.STATION' :key='index' :value="item.tag">{{item.st_desc}}</b-form-select-option>
                                    </b-form-select> -->
                                    
                                </div>
                            </b-col>
                            <b-col hidden>
                                <!-- <div class="mt-2">
                                    Type Name:
                                    <b-form-input v-model="items[data.index].station_name" placeholder="Enter type name"></b-form-input>
                                </div> -->
                            </b-col>
                        </b-row>


                    <b-row>
                        <b-col>
                            <div class="mt-2">
                                SQL MAP:
                                <b-form-tags v-model="items[data.index].sql_map" class="mb-2"></b-form-tags>
                            </div>
                        </b-col>
                        <b-col hidden>
                            <div class='mt-2'>
                                Description:
                                <b-form-input v-model="items[data.index].station_name" placeholder="Enter description"></b-form-input>
                            </div>
                        </b-col>
                    </b-row>

                    </b-container>


                    <template v-slot:modal-footer="{ ok, cancel }">
                        <!-- <b>Custom Footer</b> -->
                        <b-button size="lg" variant="outline-primary" @click="ok()">OK</b-button>
                        <b-button size="lg" variant="outline-primary" @click="cancel()">Cancel</b-button>
                    </template>
                </b-modal>

                
        </template>
        <template v-slot:cell(delete_tag)="data">
          <b-button @click="deleteMap(data.index)" variant="outline-primary">Delete</b-button>
        </template>
        <template v-slot:cell(sql_map)="data">
          <div v-for="name in data.item.sql_map" :key="name" class="margin-right-10px">
            <b-badge variant="primary">{{ name }}</b-badge>
          </div>
        </template>
      </b-table>

      <b-button
        v-b-modal="'add_mapping'"
        variant="outline-primary"
        style="margin-bottom:40px; width: 200px;"
      >ADD Mapping</b-button>
      <b-button
        v-b-modal="'gen_mapping'"
        variant="outline-primary"
        style="margin-bottom:40px; width: 200px;"
        :hidden='!getmapping_spinning'
      >Generate Mapping</b-button>
      <b-spinner 
        :hidden='getmapping_spinning'
        label="Spinning"
      ></b-spinner>
    </b-card>

    <!-- gen mapping -->
    <b-modal id="gen_mapping" size="xl" title="Generate Mapping" @ok="gen_mapping_fn()">
        <b-container class="bv-example-row">

        <b-row>
            <b-col>
              Generate               
            </b-col>
        </b-row>

        </b-container>


        <template v-slot:modal-footer="{ ok, cancel }">
            <!-- <b>Custom Footer</b> -->
            <b-button size="md" style="margin-bottom:40px; width: 200px;" variant="primary" @click="ok()">OK</b-button>
            <b-button size="md" style="margin-bottom:40px; width: 200px;" variant="primary" @click="cancel()">Cancel</b-button>
        </template>
    </b-modal>


    <!-- insert mapping -->
    <b-modal id="add_mapping" size="xl" title="Insert Mapping" @ok="addItemMapping()">
        <b-container class="bv-example-row">
            <b-row>
                <b-col>

                    <div class="mt-2">
                        Name:
                        <b-form-input v-model="mapInsert.name" placeholder="Enter name"></b-form-input>
                    </div>

                </b-col>
                <b-col>
        
                    <div class="mt-2">
                        Station Code:
                        <b-form-input v-model="mapInsert.code" placeholder="Enter Code"></b-form-input>
                    </div>

                </b-col>
            </b-row>


            <b-row>
                <b-col>
                    <div class="mt-2">
                        Station Type:
                        <!-- <b-form-input v-model="mapInsert.type" placeholder="Enter type"></b-form-input> -->

                        <b-form-select v-model="mapInsert.type" class="mb-3">
                            <b-form-select-option v-for='(item, index) in this.$store.state.scada_tag.STATION' :key='index' :value="item.tag">{{item.st_desc}}</b-form-select-option>
                        </b-form-select>

                    </div>
                </b-col>
                <b-col>
                  <div class="mt-2">
                      Station Index:
                      <b-form-input  v-model="mapInsert.station_index" placeholder="Enter type"></b-form-input>
                      <!-- <b-form-select v-model="items[data.index].type" class="mb-3">
                          <b-form-select-option v-for='(item, index) in this.$store.state.scada_tag.STATION' :key='index' :value="item.tag">{{item.st_desc}}</b-form-select-option>
                      </b-form-select> -->
                      
                  </div>
                </b-col>
                <b-col hidden>
                    <div class="mt-2">
                        <!-- Type Name:
                        <b-form-input v-model="mapInsert.nameType" placeholder="Enter type name"></b-form-input> -->
                    </div>
                </b-col>
            </b-row>


        <b-row>
            <b-col>
                <div class="mt-2">
                    SQL MAP:
                    <b-form-tags v-model="mapInsert.tag_sql_map" class="mb-2"></b-form-tags>
                </div>
            </b-col>
            <b-col hidden>
                <div class='mt-2'>
                    Description:
                    <b-form-input v-model="mapInsert.desc" placeholder="Enter description"></b-form-input>
                </div>
            </b-col>
        </b-row>

        <b-row>
            <b-col>
                
            </b-col>
            <b-col>
                
            </b-col>
        </b-row>

        </b-container>

        <template v-slot:modal-footer="{ ok, cancel }">
            <!-- <b>Custom Footer</b> -->
            <b-button size="md" style="margin-bottom:40px; width: 200px;" variant="primary" @click="ok()">OK</b-button>
            <b-button size="md" style="margin-bottom:40px; width: 200px;" variant="primary" @click="cancel()">Cancel</b-button>
        </template>
    </b-modal>

    <!-- View Parameter Table -->

    <b-card>
      <h2>{{infoModal.title}}</h2>
      <!-- <b-table
        sticky-header
        :fields="fields_parameter"
        :bordered="true"
        :items="sub_items"
        :hover="true"
        responsive
        id="ret_table"
      > -->
      <!-- {{check}} -->
      <b-table
        :fields="fields_parameter"
        :bordered="true"
        :items="sub_items"
        :hover="true"
        responsive
        id="ret_table"
      >
        <template v-slot:cell(select_item)="data">
          <b-form-group>
            <b-form-checkbox-group id="checkbox-group-2" v-model="check_del_item" name="flavour-2">
              <b-form-checkbox :value="data"></b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
        </template>
        <template v-slot:cell(edit)="data">
          <b-button @click="editParam(data)" variant="outline-primary">EDIT</b-button>
        </template>
        <template v-slot:cell(delete)="data">
          <b-button :id="data.item.no" @click="delParam(data)" variant="outline-primary">DELETE</b-button>
        </template>
        <template v-slot:cell(duplicate)="data">
          <b-form-checkbox
            :id="'checkbox-id-' + data.item.no"
            v-model="data.item.duplicate"
            :name="'checkbox-' + data.item.no"
            :value="data.duplicate"
            unchecked-value="false"
          ></b-form-checkbox>
        </template>
        <template v-slot:cell(collect)="data">
          <b-form-checkbox
            :id="'checkbox-id-collect-' + data.item.no"
            v-model="data.item.collect"
            :name="'checkbox-collect-' + data.item.no"
            :value="data.collect"
            unchecked-value="false"
          ></b-form-checkbox>
        </template>
      </b-table>
      <b-button
        v-b-modal="'add_tag'"
        @click="addTag"
        :disabled='check_click_from_param_table'
        variant="outline-primary"
        style="margin-bottom:40px; width: 200px;"
      >ADD TAG</b-button>
      <b-button
        @click="delSelect"
        variant="outline-primary"
        style="margin-bottom:40px; width: 200px;"
      >Delete</b-button>
    </b-card>

    <b-row align-h="end">
      <!-- <b-button
        @click="update_all"
        variant="primary"
        size="lg"
        style="width: 200px;"
        class="mt-3 "
      >SAVE</b-button> -->
    </b-row>

    <!-- Info modal save -->
    <b-modal :id="'modal-add-tag'" :title="infoModal.title" size="xl" @ok="saveData">
      <b-row>
        <b-col>
          <b-input-group size="lg" prepend="Branch Code" class="mb-3">
            <b-form-input v-model="infoModal.data.branch_code"> {{infoModal.data.branch_code}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Station Code" class="mb-3">
            <b-form-input v-model="infoModal.data.station_code"> {{infoModal.data.station_code}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Station Type" class="mb-3">
            <b-form-input v-model="infoModal.data.station_type"> {{infoModal.data.station_type}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Station Name" class="mb-3">
            <b-form-input v-model="infoModal.data.station_name"> {{infoModal.data.station_name}} </b-form-input>
          </b-input-group>
        </b-col>
        <b-col>
          <b-input-group size="lg" prepend="Device Code" class="mb-3">
            <b-form-input v-model="infoModal.data.device_code"> {{infoModal.data.device_code}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Name" class="mb-3">
            <b-form-input v-model="infoModal.data.name"> {{infoModal.data.name}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Code" class="mb-3">
            <b-form-input v-model="infoModal.data.code"> {{infoModal.data.code}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Period(min)" class="mb-3">
            <b-form-input  v-model="infoModal.data.period_min">{{infoModal.data.period_min}}</b-form-input>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row class="mb-3">
        <b-col cols="8">
          <b-input-group size="lg" prepend="MQTT-TOPIC" class="mb-3">
            <b-form-input v-model="infoModal.data.mqtt_topic">{{infoModal.data.mqtt_topic}}</b-form-input>
          </b-input-group>
        </b-col>  
        <b-col cols='2'>
          <b-form-checkbox switch size="lg" v-model="infoModal.data.duplicate">Duplicate</b-form-checkbox>
        </b-col>
        <b-col cols="2">
          <b-form-checkbox switch size="lg" v-model="infoModal.data.collect">Collect</b-form-checkbox>
        </b-col>


      </b-row>

      <b-row>
        <b-col cols="8">
          <b-input-group size="lg" prepend="MAP" class="mb-3">
            <b-form-input v-model="infoModal.data.map">{{infoModal.data.map}}</b-form-input>
          </b-input-group>
        </b-col>  
      </b-row>

    </b-modal>

    <!-- Info modal edit -->
    <b-modal :id="'ed-modal-edit'" :title="infoModal.tag" size="xl" @ok="saveEditData">
        <b-row>
        <b-col>
          <b-input-group size="lg" prepend="Branch Code" class="mb-3">
            <b-form-input v-model="infoModal.data.branch_code"> {{infoModal.data.branch_code}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Station Code" class="mb-3">
            <b-form-input v-model="infoModal.data.station_code"> {{infoModal.data.station_code}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Station Type" class="mb-3">
            <b-form-input v-model="infoModal.data.station_type"> {{infoModal.data.station_type}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Station Name" class="mb-3">
            <b-form-input v-model="infoModal.data.station_name"> {{infoModal.data.station_name}} </b-form-input>
          </b-input-group>
        </b-col>
        <b-col>
          <b-input-group size="lg" prepend="Device Code" class="mb-3">
            <b-form-input v-model="infoModal.data.device_code"> {{infoModal.data.device_code}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Name" class="mb-3">
            <b-form-input v-model="infoModal.data.name"> {{infoModal.data.name}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Code" class="mb-3">
            <b-form-input v-model="infoModal.data.code"> {{infoModal.data.code}} </b-form-input>
          </b-input-group>
          <b-input-group size="lg" prepend="Period(min)" class="mb-3">
            <b-form-input  v-model="infoModal.data.period_min">{{infoModal.data.period_min}}</b-form-input>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row class="mb-3">
        <b-col cols="8">
          <b-input-group size="lg" prepend="MQTT-TOPIC" class="mb-3">
            <b-form-input v-model="infoModal.data.mqtt_topic">{{infoModal.data.mqtt_topic}}</b-form-input>
          </b-input-group>
        </b-col>  
        <b-col cols='2'>
          <b-form-checkbox switch size="lg" v-model="infoModal.data.duplicate">Duplicate</b-form-checkbox>
        </b-col>
        <b-col cols="2">
          <b-form-checkbox switch size="lg" v-model="infoModal.data.collect">Collect</b-form-checkbox>
        </b-col>

      </b-row>
      <b-row>
        <b-col cols="8">
          <b-input-group size="lg" prepend="MAP" class="mb-3">
            <b-form-input v-model="infoModal.data.map">{{infoModal.data.map}}</b-form-input>
          </b-input-group>
        </b-col>
      </b-row>
      <!-- <b-row>
        <b-col>
          <b-input-group size="lg" prepend="TAG" class="mb-3">
            <b-form-input v-model="infoModal.data.tag">{{infoModal.data.tag}}</b-form-input>
          </b-input-group>
        </b-col>

        <b-col>
          <b-input-group size="lg" prepend="MAP" class="mb-3">
            <b-form-input v-model="infoModal.data.map">{{infoModal.data.map}}</b-form-input>
          </b-input-group>
        </b-col>
      </b-row>

      <b-input-group size="lg" prepend="MQTT-TOPIC" class="mb-3">
        <b-form-input v-model="infoModal.data.mqtt_topic">{{infoModal.data.mqtt_topic}}</b-form-input>
      </b-input-group>
      <b-row class="mb-3">
        <b-col cols="4">
          <b-input-group size="lg" prepend="Period(min)" class="mb-3">
            <b-form-input v-model="infoModal.data.period_min">{{infoModal.data.period_min}}</b-form-input>
          </b-input-group>
        </b-col>
        <b-col cols="2">
          <b-form-checkbox switch size="lg" v-model="infoModal.data.duplicate">Duplicate</b-form-checkbox>
        </b-col>
      </b-row> -->
    </b-modal>

  </div>
</template>

<script>
import VueJsonPretty from "vue-json-pretty";
export default {
  name: "mapping",
  data() {
    return {
      getmapping_spinning: true,
      tag_data:0,
      check_del_item: [],
      tag_sql_map: [],
      filter: null,
      mapInsert: {
        name: "",
        type: "",
        nameType: "",
        tag_sql_map:[],
        desc: '',
        code: 1 
      },
      stickyHeader: true,
      noCollapse: true,
      fields_parameter: [
        {
          key: "select_item",
          label: "Select"
        },
        {
          key: "branch_code",
          label: "Branch Code"
        },
        {
          key: "station_code",
          label: "Station Code"
        },
        {
          key: "station_type",
          label: "Station Type"
        },
        {
          key: "station_name",
          label: "Station Name"
        },
        {
          key: "device_code",
          label: "Device Code"
        },
        {
          key: "name",
          label: "Name"
        },
        {
          key: "code",
          label: "Code"
        },
        {
          key: "mqtt_topic",
          label: "MQTT TOPIC"
        },
        {
          key: "map",
          label: "MAP"
        },
        {
          key: "period_min",
          label: "period"
        },
        {
          key: "duplicate",
          label: "Duplicate"
        },
        {
          key: "collect",
          label: "Collect"
        },
        {
          key: "edit",
          label: "edit"
        },
        {
          key: "delete",
          label: "delete"
        }
      ],
      // fields_parameter: [
      //   {
      //     key: "select_item",
      //     label: "Select"
      //   },
      //   {
      //     key: "no",
      //     label: "#"
      //   },
      //   {
      //     key: "tag",
      //     label: "TAG"
      //   },
      //   {
      //     key: "map",
      //     label: "MAP"
      //   },
      //   {
      //     key: "period_min",
      //     label: "period"
      //   },
      //   {
      //     key: "mqtt_topic",
      //     label: "MQTT TOPIC"
      //   },
      //   {
      //     key: "duplicate",
      //     label: "Duplicate"
      //   },
      //   {
      //     key: "edit",
      //     label: "edit"
      //   },
      //   {
      //     key: "delete",
      //     label: "delete"
      //   }
      // ],

      fields_mapping: [
        {
          key: "no",
          label: "#"
        },
        {
          key: "name",
          label: "MapName"
        },
        {
          key: "type",
          label: "Station Type"
        },
        {
          key: "code",
          label: "Station  Code"
        },
        // {
        //   key: "station_name",
        //   label: "Name Type"
        // },
        {
          key: "station_index",
          label: "Station Index"
        },
        {
          key: "sql_map",
          label: "SQL MAP"
        },
        {
          key: "view_tag",
          label: "VIEW TAG"
        },{
            key: "edit_tag",
            lavel: "EDIT"
        }, {
            key: "delete_tag",
            lavel: "DELETE"
        }
      ],
      items: [],
      sub_items: [],
      items_duplicate: [],
      Gmap: [],
      infoModal: {
        title: "",
        tag: "แก้ไขแท็ค",
        data: {},
        tag: "",
        mqtt_topic:"",
        period_min:1,
        duplicate:false,
        m_id: null,
        collect:false
      },
      Tag: [],
      check_click_from_param_table: true
    };
  },
  components: {
    VueJsonPretty
  },
  props: {
    apiMapping: {
      type: Object
    }
  },
  methods: {
    async gen_mapping_fn() {
      console.log("gen mapping")
      this.getmapping_spinning=false
      var res = await this.apiMapping.getmapping();
      console.log(res);
      if (res.status === 200){
        this.getmapping_spinning=true;
        location.reload();
        // setTimeout(function(){ this.getmapping_spinning=true; location.reload();}, 10000);
      }else {
        alert("error.")
      }
    },
    async update_all () {
        this.apiMapping.updateMap(this.$store.state.state_page.mapping).then( (res) => {
            console.log(res.data)
            console.log(res.status)
            if (res.status === 200){
                location.reload()
            }else {
                alert("error.")
            }
        }).catch((err) => {
            console.log(err)
        });
    },
    async addItemMapping() {
      if (
        this.mapInsert.name &&
        this.mapInsert.type 
        // &&
        // this.mapInsert.nameType
      ) {
        console.log(this.mapInsert.type)
        console.log(this.$store.state.scada_tag.STATION)
        var save = []
        this.items.push({
            no: ( (this.items.length !== 0) ? this.items[this.items.length - 1].no + 1 : 0),
            name: this.mapInsert.name,
            code: this.mapInsert.code,
            station_name: this.mapInsert.station_index, // this is index mapping
            type: this.mapInsert.type,
            sql_map: this.mapInsert.tag_sql_map,
            data: [],
            station_name: this.mapTypeName(this.mapInsert.type),
            st_desc: this.mapInsert.desc
        })
        console.log(this.mapInsert)
        this.$store.commit("PUSH_MAPPING",{
            name: this.mapInsert.name,
            code: this.mapInsert.code,
            station_name: this.mapInsert.station_index,
            type: this.mapInsert.type,
            sql_map: this.mapInsert.tag_sql_map,
            data: [],
            st_desc: this.mapInsert.desc
        })
        this.update_all()
      }
    },
    async editItemMapping(index) {
        if (
            this.items[index].name &&
            this.items[index].type
        ) {

            this.$store.commit("UPDATE_MAPPING",{
                index_map: index,
                data: {
                    code: this.items[index].code,
                    name: this.items[index].name,
                    sql_map: this.items[index].sql_map,
                    station_name: this.items[index].station_index,
                    st_desc: this.items[index].station_name,
                    type: this.items[index].type
                }
            })
            this.update_all();
        }
    },
    fullName(value) {
      return `${value.first} ${value.last}`;
    },
    onFiltered(filteredItems) {},
    mapTypeName(in_type) {
        var found = this.$store.state.scada_tag.STATION.filter(function(item) {
            return item.tag === in_type;
        });
        console.log("check ----- mapType")
        return  (found[0] === undefined ? 'Unknow' : found[0].st_desc)  
        // found[0].st_desc;
        // return "Unknow"
    },

    viewParam(tag_data) {
        this.tag_data = tag_data.index
        console.log('!!!!!!!!!!!!!! tag_data')
        console.log(tag_data);
        this.check_click_from_param_table = false
        this.sub_items = [];
        this.infoModal.title = tag_data.item.name;
        this.infoModal.m_id = tag_data.index;
        console.log("tag_data.index")
        console.log(tag_data.index)
        tag_data.item.data.forEach((item, index, arr) => {
            this.sub_items.push({
                no: index + 1,
                "branch_code": item.branch_code,
                "station_code": item.station_code,
                "station_type": item.station_type,
                "station_name": item.station_name,
                "device_code": item.device_code,
                "name": item.name,
                "code": item.code,
                "collect": item.collect,
                tag: item.tag,
                map: item.map,
                period_min: item.period_min,
                mqtt_topic: item.mqtt_topic,
                duplicate: item.duplicate,
                map_id: tag_data.index
            });
        });
    },
    saveEditData() {
        console.log("!!!!!! saveEditData")
        console.log(this.items[this.infoModal.m_id])
        console.log(this.items[this.infoModal.m_id].data[this.infoModal.index - 1])
        var arr = {
            no: this.infoModal.data.no,

            "branch_code": this.infoModal.data.branch_code,
            "station_code": this.infoModal.data.station_code,
            "station_type": this.infoModal.data.station_type,
            "station_name": this.infoModal.data.station_name,
            "device_code": this.infoModal.data.device_code,
            "name": this.infoModal.data.name,
            "code": this.infoModal.data.code,
            "collect": this.infoModal.data.collect,

            tag: this.infoModal.data.tag,
            map: this.infoModal.data.map,
            period_min: ( isNaN(this.infoModal.data.period_min) ? 1 : this.infoModal.data.period_min ),
            mqtt_topic: this.infoModal.data.mqtt_topic,
            duplicate: this.infoModal.data.duplicate,
            map_id: this.infoModal.data.map_id
        }
        console.log(arr)
        this.items[this.infoModal.m_id].data[this.infoModal.index - 1] = arr
        console.log(this.infoModal.m_id + " + " + this.infoModal.index - 1)
        this.$store.commit("UPDATE_MAPPING_DATA",{
            data: {
                "tag": this.infoModal.data.tag,
                "map": this.infoModal.data.map,

                "branch_code": this.infoModal.data.branch_code,
                "station_code": this.infoModal.data.station_code,
                "station_type": this.infoModal.data.station_type,
                "station_name": this.infoModal.data.station_name,
                "device_code": this.infoModal.data.device_code,
                "name": this.infoModal.data.name,
                "code": this.infoModal.data.code,
                "collect": this.infoModal.data.collect,


                "c": ( isNaN(this.infoModal.data.period_min) ? 1 : this.infoModal.data.period_min ),
                "topic": this.infoModal.data.mqtt_topic,
                "dup": this.infoModal.data.duplicate,
            },
            index_map: this.infoModal.m_id,
            index_tag: this.infoModal.index - 1
        })
        console.log("this.infoModal.m_id")
        console.log(this.infoModal.m_id)
        console.log("this.infoModal.index - 1")
        console.log(this.infoModal.index - 1)
        console.log("!!!!!! saveEditData")
        this.update_all();
    },
    deleteMap(index) {
        console.log(index)
        this.$store.commit("DELETE_MAPPING", {
            index_map: index
        })
        this.update_all();
    },
    saveData() {
        console.log("saveData")
        console.log(this.infoModal)
        if (this.infoModal.data.branch_code
        && this.infoModal.data.station_code
        && this.infoModal.data.station_type
        && this.infoModal.data.station_name
        && this.infoModal.data.device_code
        && this.infoModal.data.name
        && this.infoModal.data.code
        ) {
            console.log("!!!!!! saveData")
            if (this.sub_items.length){
                this.infoModal.data.no = this.sub_items[this.sub_items.length - 1].no + 1
            } else {
                this.infoModal.data.no = 1
            }
            this.sub_items.push({
                no: this.infoModal.data.no,

                "branch_code": this.infoModal.data.branch_code,
                "station_code": this.infoModal.data.station_code,
                "station_type": this.infoModal.data.station_type,
                "station_name": this.infoModal.data.station_name,
                "device_code": this.infoModal.data.device_code,
                "name": this.infoModal.data.name,
                "code": this.infoModal.data.code,
                "collect": this.infoModal.data.collect,

                tag: this.infoModal.data.tag,
                map: this.infoModal.data.map,
                period_min: ( isNaN(this.infoModal.data.period_min) ? 1 : this.infoModal.data.period_min ),
                mqtt_topic: this.infoModal.data.mqtt_topic,
                duplicate: this.infoModal.data.duplicate,
                map_id: this.infoModal.data.map_id
            })
            console.error("this.sub_items")
            console.log(this.sub_items)
            // "branch_code": "5531011",
            // "station_code": "KS",
            // "station_type": "DPB",
            // "station_name": 0,
            // "device_code": "TANK",
            // "name": 0,
            // "code": "LEVEL",
            this.items[this.infoModal.m_id].data.push({
                no: this.infoModal.data.no,


                "branch_code": this.infoModal.data.branch_code,
                "station_code": this.infoModal.data.station_code,
                "station_type": this.infoModal.data.station_type,
                "station_name": this.infoModal.data.station_name,
                "device_code": this.infoModal.data.device_code,
                "name": this.infoModal.data.name,
                "code": this.infoModal.data.code,
                "collect": this.infoModal.data.collect,


                tag: this.infoModal.data.tag,
                map: this.infoModal.data.map,
                period_min: ( isNaN(this.infoModal.data.period_min) ? 1 : this.infoModal.data.period_min ),
                mqtt_topic: this.infoModal.data.mqtt_topic,
                duplicate: this.infoModal.data.duplicate,
                map_id: this.infoModal.data.map_id
            })
            this.$store.commit('PUSH_MAPPING_DATA',{
                data: {


                    "branch_code": this.infoModal.data.branch_code,
                    "station_code": this.infoModal.data.station_code,
                    "station_type": this.infoModal.data.station_type,
                    "station_name": this.infoModal.data.station_name,
                    "device_code": this.infoModal.data.device_code,
                    "name": this.infoModal.data.name,
                    "code": this.infoModal.data.code,
                    "collect": this.infoModal.data.collect,


                    "tag": this.infoModal.data.tag,
                    "map": this.infoModal.data.map,
                    "c": ( isNaN(this.infoModal.data.period_min) ? 1 : this.infoModal.data.period_min ),
                    "topic": this.infoModal.data.mqtt_topic,
                    "dup": this.infoModal.data.duplicate,
                },
                index: this.infoModal.m_id
            })  
            console.log(this.items);
            this.update_all();
        }else {
            alert("กรอกข้อมูลให้ครบถ้วน")
        }
    },

    resetEditModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    delSelect(data){
      var removeindex = []
      if (confirm("Do you want to Delete?") == true) {
        this.check_del_item.forEach((item1, index1, arr1) => {
          var m_id = item1.item.tag;
          removeindex.push(m_id)
        })
      }
      removeindex.forEach((item1, index1, arr1)=>{
        this.$store.state.state_page.mapping[this.tag_data].data.forEach((item2,index2,arr2)=>{
          if (item2.tag === item1){
            this.$store.state.state_page.mapping[this.tag_data].data.splice(index2, 1);
          }
        });
      })
      var data = {
        data: this.$store.state.state_page.mapping[this.tag_data].data,
        index: this.tag_data
      }
      this.$store.commit("SET_MAPPING_REMOVE",data)
      this.update_all();
    },
    delParam(data) {
      var m_id = data.item.map_id;
      if (confirm("Do you want to Delete?") == true) {
        this.sub_items.splice(data.index, 1);
        this.items[m_id].data.splice(data.index, 1);
        this.$store.commit("REMOVE_MAPPING_DATA",{
            index_map: m_id,
            index_tag: data.index
        })
        this.update_all();
      } else {
      }
    },
    editParam(data) {
        // console.log(data);
        //   this.infoModal.title = data.item.tag;
        this.infoModal.tag = data.item.tag;
        this.infoModal.data = data.item;
        console.log("!!! edit param")
        console.log(data.item.no)
        console.log("!!! edit param")
        this.infoModal.tag = data.item.tag;
        this.infoModal.m_id = data.item.map_id;
        this.infoModal.index = data.item.no
        this.$root.$emit("bv::show::modal", "ed-modal-edit");
    },
    addTag() {
        this.$root.$emit("bv::show::modal", "modal-add-tag");
        this.infoModal.data = {
            no: '',
            "branch_code": '',
            "station_code": '',
            "station_type": '',
            "station_name": '',
            "device_code": "",
            "name": '',
            "code": "",
            "collect": true,
            tag: '',
            map: '',
            period_min: '',
            mqtt_topic: '',
            duplicate: false,
            map_id: '',
            index:0
        }
     
    }
  },
  computed: {
    check () {
      console.log(this.check_del_item)
      return this.check_del_item
    }
  },
  async mounted() {
    this.$root.$on("bv::modal::show", (bvEvent, modalId) => {
      console.log("Modal is about to be shown", bvEvent, modalId);
    });

    const Gmap = await this.apiMapping.getMap();
    const Tag = await this.apiMapping.getTag();
    this.$store.commit("SET_SCADA_TAG", Tag.data);

    var items = Gmap.data;

    this.$store.commit("SET_MAPPING", items);
  
    items.forEach((item, index, arr) => {
      var temp_items = [];
      item.data.forEach((item, index, arr) => {
        temp_items.push({
          no: index + 1,
          tag: item.tag,

          // new update
          "branch_code": item.branch_code,
          "station_code": item.station_code,
          "station_type": item.station_type,
          "station_name": item.station_name,
          "device_code": item.device_code,
          "name": item.name,
          "code": item.code,
          "collect": item.collect,
          map: item.map,
          period_min: item.c,
          mqtt_topic: item.topic,
          duplicate: item.dup
        });
      });

      this.items.push({
        no: index + 1,
        // "name": "KS_DPB",
        // "type": "DPB",
        // "code": "KS",
        // "station_name": 0,
        name: item.name,
        code: item.code,
        type: item.type,
        station_index: item.station_name,


        //station_type: item.code,
        station_name: this.mapTypeName(item.type),
        sql_map: item.sql_map,
        data: temp_items
      });
    });
    console.log("!!!!! items")
    console.log(this.items)
  }
};
</script>

<style scoped>
@import "../../../../css/style.branchDetail.css";
@import "../../../../css/style.mapping.css";
</style>