<template>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/static/images/login/img-05.jpg');">
            <div class="wrap-login100 p-t-10 p-b-30">
                <!-- <form class="login100-form validate-form"> -->
                    <div class="login100-form-avatar">
                        <img src="/static/images/login/pwa_icon.png" alt="LOGO" height="100%" width="100%">
                    </div>

                    <span class="login100-form-title p-t-20 p-b-45">
                        SCADA SYNC
                    </span>

                    <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
                        <!-- Username -->
                        <input class="input100 form-contro" type="text" v-model="username" placeholder="username" value="">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                        <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
                        <!-- Username -->
                        <input class="input100 form-contro" type="password" v-model="password" placeholder="password" value="">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="container-login100-form-btn p-t-10 validate-form">
                        <button class="login100-form-btn" @click="login">
                            Login
                        </button>
                    </div>
            </div>
        </div>
    </div>
</template>

<script>
import auth from '@/serviceAPIS/login/call'
export default {
    data () {
        return {
            username: '',
            password: ''
        }
    },
    methods: {
        async login () {
            if (this.username || this.password){
                if (this.password !== '' && this.username !== ''){
                    var user = {
                        user: {
                            username: this.username,
                            password: this.password
                        }
                    }
                    var res = await auth.login(user)
                    console.log(res)
                    if (res.data.user.data){
                        this.$store.commit('SET_USER', res.data.user.auth.username  );
                        this.$store.commit('SET_TOKEN', res.data.user.auth.token);
                        this.$store.commit('SET_EMAIL', res.data.user.auth.email);
                        this.$store.commit('SET_TYPE', res.data.user.auth.type)
                        window.localStorage.setItem('user', res.data.user.auth.username  );
                        window.localStorage.setItem('email', res.data.user.auth.email);
                        window.localStorage.setItem('token', res.data.user.auth.token);
                        window.localStorage.setItem('type', res.data.user.auth.type)
                        this.$router.push('/');   
                    }
                } else {
                    alert("can't login.")
                }
            }
            
        }
    }
}
</script>

<style scoped>

</style>