<template>
    <div class="card " style="margin-top: 10px;">
        <h5 class="card-header txt-align-l">ข้อมูลสาขา</h5>

        <!-- this loading error -->
        <div class="text-center text-danger my-2" :hidden='isBussy'>
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong><br>
            <strong>{{err}}</strong>
        </div>
        <!-- end -->

        <div class="card-body" :hidden='!isBussy'>
            <div class="row" >
                <div class='col-md-3 txt-align-l'>
                    เขต

                    <b-form-select v-model="selected_area" :options="settings" @change='area_branch_station_change()'></b-form-select>

                </div>
                <div class='col-md-3 txt-align-l'>
                    รหัสเขต 
                    <b-form-input v-model="settings[selected_area].id" placeholder=""></b-form-input>

                </div>  
                <div class='col-md-3 txt-align-l'>
                    สาขา

                    <b-form-select v-model="selected_branch" :options="settings[selected_area].branch" @change='area_branch_station_change()'></b-form-select>

                </div>
                <div class='col-md-3 txt-align-l'>
                    CODE

                    <b-form-input v-model="settings[selected_area].branch[selected_branch].id" placeholder=""></b-form-input>

                </div>
            </div>
            <hr>
            <div class='row ' > <!-- show-table-dinamic -->
                <div class="col-md-12">
                    เลือกสถานี

                    <b-form-select v-model="selected_station" :options="station_info" @change='area_branch_station_change()'></b-form-select>

                </div>
            </div>
            <div class='row padding-20-t txt-align-r' >
                <div class="col-md-12">
                    <!-- button -->
                </div>
            </div>

            <div class='row'>
                <div class='col-md-12'>
                    <h3 class='' >{{ selected_station !== "add_station" ? "จัดการสถานี : " + (this.station_info[this.selected_station].text) : "เพิ่มสถานี" }}</h3>

                    <b-table-simple hover caption-top responsive :hidden="selected_station === 'add_station'">


                        <b-thead>
                            <b-tr>
                                <b-th v-for='(item, index) in fields' :key='index' class="text-center">{{item.label}}</b-th>
                            </b-tr>
                        </b-thead>

                        <b-tbody>
                            <b-tr >
                                <b-td  rowspan="10" class="text-center">{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].value + 1 }}</b-td>
                                <b-td  rowspan="10" class="text-center">{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].text }}</b-td>
                                <b-td  rowspan="10" class="text-center" >{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].id }}</b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "SEDIMENT").type }} </b-td>
                                <b-td class="text-center">{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.SEDIMENT }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.SEDIMENT += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.SEDIMENT <= 1" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.SEDIMENT -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                                
                                <!-- pump detail -->
                                <b-td class="text-center" >
                                    <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.SEDIMENT <= 0" 
                                    @click="fnmanager('SEDIMENT')"
                                    >
                                    เพิ่มปั้ม
                                    </b-button>
                                </b-td>

                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "FILTATION").type }} </b-td>
                                <b-td class="text-center">{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.FILTATION }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.FILTATION += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.FILTATION <= 1" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.FILTATION -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.FILTATION <= 0" 
                                    @click="fnmanager('FILTATION')"
                                    >
                                    เพิ่มปั้ม
                                </b-button>
                                </b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "CHEMICAL").type }} </b-td>
                                <b-td class="text-center">{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.CHEMICAL }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.CHEMICAL += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.CHEMICAL <= 1" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.CHEMICAL -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.CHEMICAL <= 0" 
                                    @click="fnmanager('CHEMICAL')"
                                    >
                                    เพิ่มปั้ม
                                </b-button>
                                </b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "CLEARWELL").type }} </b-td>
                                <b-td class="text-center">{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.CLEARWELL }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.CLEARWELL += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.CLEARWELL <= 1" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.CLEARWELL -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.CLEARWELL <= 0" 
                                    @click="fnmanager('CLEARWELL')"
                                    >
                                    เพิ่มปั้ม
                                </b-button>
                                </b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "ELEVATE").type }} </b-td>
                                <b-td class="text-center">{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.ELEVATE }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.ELEVATE += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.ELEVATE <= 1" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.ELEVATE -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.ELEVATE <= 0" 
                                    @click="fnmanager('ELEVATE')"
                                    >
                                    เพิ่มปั้ม
                                </b-button>
                                </b-td>
                            </b-tr>
                            
                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "RWP").type }} </b-td>
                                <b-td class="text-center">{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.RWP }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.RWP += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.RWP <= 1" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.RWP -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.RWP <= 0" 
                                    @click="fnmanager('RWP')"
                                    >
                                    เพิ่มปั้ม
                                </b-button>
                                </b-td>
                            </b-tr>
                            
                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "HSP").type }} </b-td>
                                <b-td class="text-center">{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.HSP }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.HSP += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.HSP <= 1" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.HSP -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.HSP <= 0" 
                                    @click="fnmanager('HSP')"
                                    >
                                    เพิ่มปั้ม
                                </b-button>
                                </b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "DPB").type }} </b-td>
                                <b-td class="text-center">{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.DPB }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.DPB += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.DPB <= 1" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.DPB -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.DPB <= 0" 
                                    @click="fnmanager('DPB')"
                                    >
                                    เพิ่มปั้ม
                                </b-button>
                                </b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "BOOSTER").type }} </b-td>
                                <b-td class="text-center">{{ station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.BOOSTER }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.BOOSTER += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.BOOSTER <= 1" 
                                    @click="(station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.BOOSTER -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="station_info[(selected_station === 'add_station' ? 0 : selected_station)].st_count.BOOSTER <= 0" 
                                    @click="fnmanager('BOOSTER')"
                                    >
                                    เพิ่มปั้ม
                                </b-button>
                                </b-td>
                            </b-tr>


                        </b-tbody>
                    </b-table-simple>
                    
                    <hr>
                    <manager-pump :branch_pump="this.managerpump"/>

                    <b-table-simple hover caption-top responsive :hidden="selected_station !== 'add_station'">
                        <b-thead>
                            <b-tr>
                                <b-th v-for='(item, index) in fields' :key='index' class="text-center">{{item.label}}</b-th>
                            </b-tr>
                        </b-thead>

                        <b-tbody>

                            <b-tr >
                                <b-td  rowspan="10" class="text-center">
                                    <b-input-group class="mt-1">
                                        <b-input-group-append>
                                            #
                                        </b-input-group-append>
                                    </b-input-group>
                                </b-td>
                                <b-td  rowspan="10" class="text-center">
                                    <!-- <b-form-input v-model="insert_station[0].st_desc" placeholder="Enter your name"></b-form-input> -->
                                    <b-input-group prepend="ชื่อสถานี" class="mt-0">
                                        <b-form-input
                                            v-model="insert_station[0].st_desc"
                                            placeholder="กรอกชื่อสถานี"
                                        ></b-form-input>
                                        <b-input-group-append>
                                        </b-input-group-append>
                                    </b-input-group>
                                </b-td>
                                <b-td  rowspan="10" class="text-center" >
                                    <!-- <b-form-input v-model="insert_station[0].st_code" placeholder="Enter your name"></b-form-input> -->

                                    <b-input-group prepend="รหัสสถานี" class="mt-0">
                                        <b-form-input
                                            v-model="insert_station[0].st_code" 
                                            placeholder="กรอกรหัสสถานี"
                                        ></b-form-input>
                                        <b-input-group-append>
                                        </b-input-group-append>
                                    </b-input-group>



                                </b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "SEDIMENT").type }} </b-td>
                                <b-td class="text-center">{{ insert_station[0].st_count.SEDIMENT }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(insert_station[0].st_count.SEDIMENT += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="insert_station[0].st_count.SEDIMENT <= 1" 
                                    @click="(insert_station[0].st_count.SEDIMENT -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "FILTATION").type }} </b-td>
                                <b-td class="text-center">{{ insert_station[0].st_count.FILTATION }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(insert_station[0].st_count.FILTATION += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="insert_station[0].st_count.FILTATION <= 1" 
                                    @click="(insert_station[0].st_count.FILTATION -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "CHEMICAL").type }} </b-td>
                                <b-td class="text-center">{{ insert_station[0].st_count.CHEMICAL }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(insert_station[0].st_count.CHEMICAL += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="insert_station[0].st_count.CHEMICAL <= 1" 
                                    @click="(insert_station[0].st_count.CHEMICAL -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "CLEARWELL").type }} </b-td>
                                <b-td class="text-center">{{ insert_station[0].st_count.CLEARWELL }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(insert_station[0].st_count.CLEARWELL += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="insert_station[0].st_count.CLEARWELL <= 1" 
                                    @click="(insert_station[0].st_count.CLEARWELL -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "ELEVATE").type }} </b-td>
                                <b-td class="text-center">{{ insert_station[0].st_count.ELEVATE }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(insert_station[0].st_count.ELEVATE += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="insert_station[0].st_count.ELEVATE <= 1" 
                                    @click="(insert_station[0].st_count.ELEVATE -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                            </b-tr>
                            
                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "RWP").type }} </b-td>
                                <b-td class="text-center">{{ insert_station[0].st_count.RWP }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(insert_station[0].st_count.RWP += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="insert_station[0].st_count.RWP <= 1" 
                                    @click="(insert_station[0].st_count.RWP -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                            </b-tr>
                            
                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "HSP").type }} </b-td>
                                <b-td class="text-center">{{ insert_station[0].st_count.HSP }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(insert_station[0].st_count.HSP += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="insert_station[0].st_count.HSP <= 1" 
                                    @click="(insert_station[0].st_count.HSP -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                            </b-tr>

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "DPB").type }} </b-td>
                                <b-td class="text-center">{{ insert_station[0].st_count.DPB }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(insert_station[0].st_count.DPB += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="insert_station[0].st_count.DPB <= 1" 
                                    @click="(insert_station[0].st_count.DPB -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                            </b-tr> 

                            <b-tr>
                                <b-td class="text-center">{{ detail.find(element => element.tag === "BOOSTER").type }} </b-td>
                                <b-td class="text-center">{{ insert_station[0].st_count.BOOSTER }}</b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    @click="(insert_station[0].st_count.BOOSTER += 1)">
                                    เพิ่ม
                                </b-button>
                                </b-td>
                                <b-td class="text-center" >
                                <b-button variant="outline-primary" size="sm" class="w-100 h-100" 
                                    :disabled="insert_station[0].st_count.BOOSTER <= 1" 
                                    @click="(insert_station[0].st_count.BOOSTER -= 1)">
                                    ลด
                                </b-button>
                                </b-td>
                            </b-tr>


                        </b-tbody>
                    </b-table-simple>

                </div>
            </div>

            <div class='row padding-20-t txt-align-r' >
                <div class="col-md-12">
                    <b-button class='w-25' variant="outline-primary"  @click='remove_info(selected_station)' :hidden='selected_station === "add_station"'>ลบ</b-button>
                    <b-button class='w-25' variant="outline-primary" @click='insert_info()' :hidden='selected_station !== "add_station"'>เพิ่ม</b-button>
                    <b-button class='w-25' variant="primary" @click='update_info(selected_station)' :hidden='selected_station === "add_station"'>อัพเดท</b-button>
                </div>
            </div>
        </div>

        <!-- section model alert for user -->
        <b-modal id="modal-query-alert-form-update">
            <template v-slot:modal-header="{ }">
                <h5>Update Setting</h5>
            </template>

            <template>
                <p>คุณต้องการอัพเดทการตั้งค่าหรือไม่</p>
            </template>

            <template v-slot:modal-footer="{ ok, cancel }">
                <b-button size="lg" variant="success" @click="cancel()">
                    No
                </b-button>
                <b-button size="lg" variant="success" @click="ok()">
                    Yes
                </b-button>
            </template>
        </b-modal>
        <!-- section end -->


    </div>
</template>

<script>
import VueTableDynamic from 'vue-table-dynamic'
import ManagerPump from './managerpump'

export default {
    name: 'branchDetail',
    data () {
        return {
            // data --------
            managerpump: [],
            settings: [{
                value: null,
                text: '',
                id: '',
                branch: [{
                    value: null,
                    text:'',
                    id: 0
                }]
            }],
            station_info_temp:[],
            station_info:[{
                value: '',
                id: '',
                text: '',
                st_count: [
                    {
                        "SEDIMENT": 0,
                        "FILTATION": 0,
                        "CHEMICAL": 0,
                        "CLEARWELL": 0,
                        "ELEVATE": 0,
                        "RWP": 0,
                        "HSP": 0,
                        "DPB": 0,
                        "BOOSTER": 0
                    }
                ]
            }],
            // end =---------

            selected_branch: 0,
            selected_area: 0,
            selected_station: 0,
            branchInfo: [],

            fields: [
                { key: "index",label: '#', class: 'text-center'},
                { key: "station", label: 'สถานี', class: 'text-center' },
                { key: "station_id", label: 'รหัสสถานี', class: 'text-center' },
                { key: "station_type", label: 'ประเภทสถานี', class: 'text-center' },
                { key: "cnt", label: 'จำนวน', class: 'text-center' },
                { key: "increase", label: 'เพิ่ม', class: 'text-center' },
                { key: "decrease", label: 'ลด', class: 'text-center' },
                { key: "managepump", label: "จัดการ pump", class: 'text-center'}
            ],
            detail: [
                {
                    tag: 'SEDIMENT',
                    type: 'ถังตกตะกอน',
                    val: 0,
                },{
                    tag: 'FILTATION',
                    type: 'โรงกรองน้ำ',
                    val: 0,
                },{
                    tag: 'CHEMICAL',
                    type: 'โรงจ่ายสารเคมี',
                    val: 0,
                },{
                    tag: 'CLEARWELL',
                    type: 'ถังน้ำใส',
                    val: 0,
                },{
                    tag: 'ELEVATE',
                    type: 'หอถังสูง',
                    val: 0,
                },{
                    tag: 'RWP',
                    type: 'โรงสูบน้ำแรงต่ำ',
                    val: 0,
                },{
                    tag: 'HSP',
                    type: 'โรงสูบน้ำแรงสูง',
                    val: 0,
                },{
                    tag: 'DPB',
                    type: 'สถานีจ่ายน้ำ',
                    val: 0,
                },{
                    tag: 'BOOSTER',
                    type: 'สถานีเพิ่มแรงดัน',
                    val: 0,
                }
            ],
            insert_station: [{
                "st_code": "",
                "st_desc": "",
                "st_count": {
                    "SEDIMENT": 1,
                    "FILTATION": 1,
                    "CHEMICAL": 1,
                    "CLEARWELL": 1,
                    "ELEVATE": 1,
                    "RWP": 1,
                    "HSP": 1,
                    "DPB": 1,
                    "BOOSTER": 1
                }
            }],
            isBussy: false,
            err: ''
        }
    },
    props: {
        apiSetting: {
            type: Object
        }
    },
    components: {
        ManagerPump
    },
    computed: {
        
    },
    methods: {
        fnmanager (type) {
            this.managerpump = [this.station_info[(this.selected_station === 'add_station' ? 0 : this.selected_station)],type]
            console.log(this.managerpump)
        },
        async insert_info() {
            if (this.insert_station[0].st_code == '' || this.insert_station[0].st_desc == ''){
                this.$bvModal.msgBoxConfirm('กรุณากรอกข้อมูลให้ครบถ้วน', {
                    title: 'กรอกข้อมูลไม่ครบ',
                    size: 'lg',
                    buttonSize: 'md',
                    // okVariant: 'danger',
                    // okTitle: 'YES',
                    // cancelTitle: 'NO',
                    // footerClass: 'p-2',
                    // hideHeaderClose: false,
                    // centered: true
                })
                .then(value => {
                    if (value){

                    }
                })
                .catch(err => {
                    //console.log(err)
                })
            }else {
                this.$bvModal.msgBoxConfirm('กรุณากรอกข้อมูลให้ครบถ้วน', {
                    title: 'กรอกข้อมูลไม่ครบ',
                    size: 'lg',
                    buttonSize: 'md',
                    okVariant: 'danger',
                    okTitle: 'YES',
                    cancelTitle: 'NO',
                    footerClass: 'p-2',
                    hideHeaderClose: false,
                    centered: true
                })
                .then(value => {
                    if (value){
                        //console.log(this.insert_station)
                        var update_arr = []
                        var update_arr = {
                            "pwa_info": {
                                "reg": this.settings[this.selected_area].text,
                                "reg_desc": this.settings[this.selected_area].id,
                                "ww": this.settings[this.selected_area].branch[this.selected_branch].id,
                                "ww_desc":  this.settings[this.selected_area].branch[this.selected_branch].text,
                            }
                        }
                        update_arr.station = []
                        this.station_info.forEach( (item, index, arr) => {
                            //console.log(item)
                            if (item.id !== 'add_station'){
                                update_arr.station.push({
                                    "st_code": item.id,
                                    "st_desc": item.text,
                                    "st_count": {
                                        "SEDIMENT": item.st_count.SEDIMENT ,
                                        "FILTATION": item.st_count.FILTATION ,
                                        "CHEMICAL": item.st_count.CHEMICAL ,
                                        "CLEARWELL": item.st_count.CLEARWELL ,
                                        "ELEVATE": item.st_count.ELEVATE ,
                                        "RWP": item.st_count.RWP ,
                                        "HSP": item.st_count.HSP ,
                                        "DPB": item.st_count.DPB ,
                                        "BOOSTER": item.st_count.BOOSTER ,
                                    }
                                })
                            }
                        })
                        update_arr.station.push(this.insert_station[0])
                        this.apiSetting.update_station_info(update_arr).then((res)=> {
                            //console.log(res)
                            if (res.status === 200){
                                location.reload();
                            }
                        }).catch((err) => {
                            //console.log(err)
                        })
                    }
                })
                .catch(err => {
                    //console.log(err)
                })
            }
        },
        async update_info(selected_station) {
            if (selected_station !== 'add_station'){
                //console.log(this.station_info_temp)
                var update_arr = {
                    "pwa_info": {
                        "reg": this.settings[this.selected_area].id,
                        "reg_desc": this.settings[this.selected_area].text,
                        "ww": this.settings[this.selected_area].branch[this.selected_branch].id,
                        "ww_desc":  this.settings[this.selected_area].branch[this.selected_branch].text,
                    }
                }
                console.log(update_arr)
                update_arr.station = []
                this.station_info.forEach( (item, index, arr) => {
                    console.log(item)
                    if (item.id !== 'add_station'){
                        update_arr.station.push({
                            "st_code": item.id,
                            "st_desc": item.text,
                            "st_count": {
                                "SEDIMENT": item.st_count.SEDIMENT ,
                                "FILTATION": item.st_count.FILTATION ,
                                "CHEMICAL": item.st_count.CHEMICAL ,
                                "CLEARWELL": item.st_count.CLEARWELL ,
                                "ELEVATE": item.st_count.ELEVATE ,
                                "RWP": item.st_count.RWP ,
                                "HSP": item.st_count.HSP ,
                                "DPB": item.st_count.DPB ,
                                "BOOSTER": item.st_count.BOOSTER ,
                            },
                            "pump": (item.pump !== undefined ? item.pump : [])
                        })
                    }
                })
                console.log(update_arr)
                this.$bvModal.msgBoxConfirm('คุณต้องการอัพเดทสถานีไหม', {
                    title: 'Please Confirm',
                    size: 'lg',
                    buttonSize: 'md',
                    okVariant: 'danger',
                    okTitle: 'YES',
                    cancelTitle: 'NO',
                    footerClass: 'p-2',
                    hideHeaderClose: false,
                    centered: true
                })
                .then(value => {
                    if (value){
                        //console.log("!!!!!!!!!")
                        //console.log(update_arr)
                        this.apiSetting.update_station_info(update_arr).then((res)=> {
                            //console.log(res)
                            if (res.status === 200){
                                console.log(this.managerpump)
                                // location.reload();
                            }
                        }).catch((err) => {
                            //console.log(err)
                        })
                    }
                })
                .catch(err => {
                    //console.log(err)
                })
            }
        },
        remove_info(selected_station) {
            if (selected_station !== 'add_station'){
                this.$bvModal.msgBoxConfirm('คุณต้องการลบสถานีไหม', {
                    title: 'คุณต้องการลบข้อมูล',
                    size: 'lg',
                    buttonSize: 'md',
                    okVariant: 'danger',
                    okTitle: 'YES',
                    cancelTitle: 'NO',
                    footerClass: 'p-2',
                    hideHeaderClose: false,
                    centered: true
                })
                .then(value => {
                    if (value){
                        //console.log(selected_station)
                        // this.splice
                        //console.log(this.station_info_temp)
                        var update_arr = {
                            "pwa_info": {
                                "reg": this.settings[this.selected_area].text,
                                "reg_desc": this.settings[this.selected_area].id,
                                "ww": this.settings[this.selected_area].branch[this.selected_branch].id,
                                "ww_desc":  this.settings[this.selected_area].branch[this.selected_branch].text,
                            }
                        }
                        //console.log(update_arr)
                        update_arr.station = []
                        this.station_info.splice(selected_station,1)
                        this.station_info.forEach( (item, index, arr) => {
                            //console.log(item)
                            if (item.id !== 'add_station'){
                                update_arr.station.push({
                                    "st_code": item.id,
                                    "st_desc": item.text,
                                    "st_count": {
                                        "SEDIMENT": item.st_count.SEDIMENT ,
                                        "FILTATION": item.st_count.FILTATION ,
                                        "CHEMICAL": item.st_count.CHEMICAL ,
                                        "CLEARWELL": item.st_count.CLEARWELL ,
                                        "ELEVATE": item.st_count.ELEVATE ,
                                        "RWP": item.st_count.RWP ,
                                        "HSP": item.st_count.HSP ,
                                        "DPB": item.st_count.DPB ,
                                        "BOOSTER": item.st_count.BOOSTER ,
                                    }
                                })
                            }
                        })
                        //console.log(update_arr)
                        this.apiSetting.update_station_info(update_arr).then((res)=> {
                            //console.log(res)
                            if (res.status === 200){
                                location.reload();
                            }
                        }).catch((err) => {
                            //console.log(err)
                        })
                    }
                })
                .catch(err => {
                    //console.log(err)
                })
                // //console.log(update_arr.station.splice(selected_station,1))
            }
        },
        onclickclick (index, n) {
            //console.log(index)
            //console.log(n)
        },
        area_branch_station_change() {
            if (this.selected_station !== "add_station"){
                //console.log(this.settings[this.selected_area].text)
                //console.log(this.settings[this.selected_area].branch[this.selected_branch].text)
                //console.log(this.station_info[this.selected_station].text)
            }
        },
        async isOnload () {
            await this.apiSetting.area_branch().then( (res1) => {
                // section frist.
                //console.log('!!!! onload area_branch !!!!!!')
                // console.log(res1)
                var isArray = []
                
                res1.data.forEach( (item1, index1, arr) => {
                    var branch = []
                    item1.ww_all.forEach( (item2, index2, arr2) => {
                        branch.push({
                            value: index2,
                            text: item2.ww_desc,
                            id: item2.ww
                        })
                    })
                    isArray.push({
                        value: index1,
                        text: item1.reg_desc, 
                        id: item1.reg,
                        branch: branch
                    })
                })
                this.settings = isArray
                this.selected_branch = 0;
                this.selected_area = 0;
                //console.log(this.settings)


                //console.log('!!!!! in await !!!!!!!!')
                // section second.
                this.apiSetting.station_info().then( (res2) => {
                    //console.log('!!!! onload station_info !!!!!!')

                    
                    //console.log(res2.data.pwa_info.reg_desc)
                    //console.log(res2.data.pwa_info.ww)
                    console.log(res2.data)

                    res1.data.forEach( (item1, index1, arr1) => {
                        if (item1.reg == res2.data.pwa_info.reg_desc){
                            this.selected_area = index1
                            item1.ww_all.forEach( (item2, index2, arr2) => {
                                if (item2.ww == res2.data.pwa_info.ww){
                                    this.selected_branch = index2
                                }
                            })
                        }else {
                            // break;
                        }
                    })

                    var new_arr = []
                    this.station_info_temp = res2.data

                    res2.data.station.forEach( (item, index, arr) => {
                        new_arr.push({
                            value: index,
                            id: item.st_code,
                            text: item.st_desc,
                            st_count : item.st_count,
                            pump: item.pump
                        })
                    } )
                    new_arr.push({
                        value: 'add_station',
                        id: 'add_station',
                        text: '----- เพิ่มสถานี -----',
                        st_count : {
                            "SEDIMENT": 0,
                            "FILTATION": 0,
                            "CHEMICAL": 0,
                            "CLEARWELL": 0,
                            "ELEVATE": 0,
                            "RWP": 0,
                            "HSP": 0,
                            "DPB": 0,
                            "BOOSTER": 0
                        },
                        pump: []
                    })
                    if (new_arr.length === 1){
                        this.selected_station = 'add_station'
                    }
                    this.station_info = new_arr
                    this.managerpump.push({
                        "st": "",
                        "st_id": "",
                        "st_code": ""
                    })
                    this.managerpump.push("")
                    // this.station_info[1].pump = [
                    //     {
                    //         "st": "DPB",
                    //         "st_id": 1,
                    //         "st_code": "DPB0001-011"
                    //     }, {
                    //         "st": "DPB",
                    //         "st_id": 1,
                    //         "st_code": "DPB0001-012"  
                    //     }, {
                    //         "st": "DPB",
                    //         "st_id": 2,
                    //         "st_code": "DPB0001-021"  
                    //     }
                    // ]
                    console.log(this.station_info)
                    this.settings.forEach( (item1, index1, arr1) => {
                        if (item1.id == res2.data.pwa_info.reg){
                            this.selected_area = index1
                            this.settings[index1].branch.forEach( (item2, index2, arr2) => {
                                if (item2.id == res2.data.pwa_info.ww) {
                                    this.selected_branch = index2
                                }
                            })
                        }
                    })
                    if (res2.status === 200){
                        this.isBussy = !this.isBussy
                    }
                } ).catch( (err) => {
                    //console.log(err)
                    this.err += err
                } );
            }).catch( (err) => {
                //console.log(err)
                this.err += err
            });
        }
    },
    computed: {

    },
    async mounted (){
        this.isOnload();
    }
}
</script>

<style scoped>
    @import '../../../../css/style.branchDetail.css';
</style>