<template>
    <div class="card " style="margin-top: 10px;">
        <h5 class="card-header txt-align-l">การเชื่อมต่อ</h5>
        <div class="card-body">
            <div class='row padding-20-t txt-align-l'>
                <div class="col-md-12">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <!-- <button type="button" class="btn btn-blue width-80 btn-hover" @click='fn_btn_click_btn_group("internet")'>Internet</button>
                        <button type="button" class="btn btn-blue width-80 btn-hover" @click='fn_btn_click_btn_group("vpn")'>VPN</button>
                        <button type="button" class="btn btn-blue width-80 btn-hover" @click='fn_btn_click_btn_group("3g")'>3G</button> -->
                        <b-button-group>
                            <b-button class='w-100' variant="outline-primary" @click='fn_btn_click_btn_group("internet")'>Internet</b-button>
                            <b-button class='w-100' variant="outline-primary" @click='fn_btn_click_btn_group("vpn")'>VPN</b-button>
                            <b-button class='w-100' variant="outline-primary" @click='fn_btn_click_btn_group("3g")'>3G</b-button>
                        </b-button-group>
                    </div>
                </div>
                <div class="col-md-4 "></div>
                <div class='col-md-4'>
                    <h2><b-badge variant="primary" class='w-100'>{{connection}}</b-badge></h2>
                </div>
            </div>
            <br>
            <div class="row padding-20-t txt-align-r">
                <div class="col-md-12 ">
                    <!-- <b-button class='w-25' variant="outline-primary" @click='fn_btn_click_btn_group("update_connection")'>อัพเดท</b-button> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'connection',
    data () {
        return {
            pwa_area: '',
            pwa_branch: '',
            pwa_idBranch: '',
            connection: '',
        }
    },
    components: {

    },
    methods: {
        fn_btn_click_btn_group (param) {
            switch(param) {
                case 'internet':
                    //console.log('internet')
                    this.connection = 'Internet'
                break;
                case 'vpn':
                    //console.log('vpn')
                    this.connection = 'VPN'
                break;
                case '3g':
                    //console.log('3g')
                    this.connection = '3G'
                break;
                case 'update_connection':
                    //console.log('update_connection')
                break;
                default:
                    //console.log('error')
            }
        }
    },
    computed: {

    },
    mounted (){
        this.connection = 'Internet'
        return {}
    }
}
</script>

<style scoped>
    @import '../../../../css/style.branchDetail.css';
</style>