<template>
    <div class='container'>
        <div class="py-4 text-center">
            <h2>Settings</h2>
        </div>
        <branchDetail :apiSetting='this.apiSetting' />
        <!-- <connection /> -->
    </div>
</template>

<script>
import branchDetail from './branchDetail'
import connection from './connection'
// import apiSetting from '@/serviceAPIS/get-setting'

import AppApi from '@/serviceAPIS/AppApi'

export default {
    name: 'setting',
    data () {
        return {
            apiSetting: AppApi
        }
    },
    components: {
        branchDetail,
        connection
    },
    methods : { 
        get_api_connection() {
            return {
                data: {
                    
                }
            }
        }
    }
}
</script>

<style scoped>

</style>