<template>
    <div>
        <b-navbar toggleable="lg" type="dark" style = 'background-color: rgb(0, 70, 142);'>
            <b-navbar-brand href="#" class='hoverrr'>
                PWA
            </b-navbar-brand>
            <!-- <b-navbar-brand href="#" class='hoverrr'>
                EMQ
            </b-navbar-brand>
            <b-navbar-brand href="#" class='hoverrr'>
                FUZA
            </b-navbar-brand>
            <b-navbar-brand href="#" class='hoverrr'>
                SVG View
            </b-navbar-brand> -->

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav class="ml-auto">
                <!-- <b-navbar-brand href="#">
                    >>
                </b-navbar-brand> -->
                <!-- <b-nav-item-dropdown right>
                <template v-slot:button-content>
                    {{$store.state.email}} [{{$store.state.type}}]
                </template>
                <b-dropdown-item href="#">Profile</b-dropdown-item>
                <b-dropdown-item href="#/logout">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown> -->
            </b-navbar-nav>
            </b-collapse>
        </b-navbar>
        <b-container fluid class="bv-example-row mt-4">
            <b-row>
                <b-col>
                    <b-card
                        header="Data History"
                        header-tag="header"
                    >
                    <b-container fluid>
                        <b-row>
                            <b-col style = '
                                flex-direction: row;
                                float: left;
                                overflow-x: scroll;
                            '>
                                <b-table
                                    id="data_table"
                                    :items="table.datas"
                                    :fields="table.fields"
                                    :per-page="perPage"
                                    :current-page="currentPage"
                                    :sort-desc.sync="sortDesc"
                                    responsive
                                    bordered
                                    hover
                                    head-variant="light"
                                    striped="true"
                                    outlined='true'
                                    :busy="table.isBusy"
                                >
                                    <template v-slot:table-busy>
                                        <div class="text-center text-default my-2">
                                        <b-spinner class="align-middle"></b-spinner>
                                        <strong></strong>
                                        </div>
                                    </template>
                                </b-table>
                                <div class="overflow-auto">
                                    <div class="mt-3">
                                        <b-pagination
                                            v-model="currentPage"
                                            :total-rows="rows"
                                            :per-page="perPage"
                                            first-text="First"
                                            prev-text="Prev"
                                            next-text="Next"
                                            last-text="Last"
                                        ></b-pagination>
                                    </div>
                                </div>
                            </b-col>
                        </b-row>
                    </b-container>
                    </b-card>
                </b-col>
            </b-row>
        </b-container>   
    </div>
</template>

<script>
import callApi from '@/serviceAPIS/Table/call'

export default {
    data() {
      return {
        sortDesc: false,
        perPage: 10,
        currentPage: 1,
        table: {
            fields: [],
            datas: [],
            selected: null,
            selected_val: [],
            temp_data: [],
            isBusy: true
        }
      }
    },
    methods: {
        async render_load () {
            var removeDuplicates = (array) => {
                let x = {}
                array.forEach(function(i) {
                    if (!x[i]) {
                        x[i] = true
                    }
                })
                return Object.keys(x)
            }
            var influx = await callApi.influx()
            console.log(influx)
            var branchId = []
            influx.data.forEach((item, index, arr) => {
                for (const [key] of Object.entries(item)) {
                    this.table.selected_val.push(key)
                }
            })
            this.table.selected_val = (removeDuplicates(this.table.selected_val))
            influx.data.forEach((item, index, arr) => {
                var arrtemp = []
                this.table.selected_val.forEach((item1, index1, arr1) => {
                    arrtemp[item1] = item[item1]
                })
                this.table.datas.push(arrtemp)

            })
            this.table.isBusy = false


            // var res = await callApi.data()
            // console.log(res)
            // var branchId = []
            // res.data.item.forEach((item, index, arr) => {
            //     branchId.push(item.branch_id)
            // })
            // this.table.selected_val.push(removeDuplicates(branchId))
            // res.data.item.forEach((item, index, arr) => {
            //     for (const [key] of Object.entries(item.data)) {
            //         // console.log(key, value)
            //         this.table.fields.push(key)
            //         if (key === 'branch_id') {
            //             this.table.fields.push('timestamp')
            //         }
            //     }
            // })
            // this.table.fields = removeDuplicates(this.table.fields)
            // console.log(this.table.fields)
            // res.data.item.forEach((item, index, arr) => {
            //     console.log(item)
            //     var arrtemp = []
            //     for (const [key] of Object.entries(item.data)) {
            //         this.table.fields.forEach((itemFields, indexFields, arrFields) => {
            //             if (itemFields === 'timestamp') {
            //                 arrtemp[itemFields] = item.timestamp
            //             } else {
            //                 arrtemp[itemFields] = item.data[itemFields]
            //             }
            //         })
            //     }
            //     this.table.datas.push(arrtemp)
            // })
        }
    },
    mounted() {
        this.render_load();
    },
    computed: {
      rows() {
        return this.table.datas.length
      }
    }
  }
</script>

<style scoped>
    * {
        font-family: 'Open Sans', sans-serif !important;
    }
    .hoverrr {
        /* padding-right: auto;
        padding-left: auto; */
        width: 130px;
        text-align: center;
    }
    .hoverrr:hover {
        background-color: #0a65c3;
        border-radius: 4px;
        /* padding: 0px 10px 0px 10px; */
    }
</style>