<template>
    <div class="card">
        <h5 class="card-header">Query</h5>
        <div class="card-body">

            <b-card no-body>
                <b-tabs card>
                    <!-- Render Tabs, supply a unique `key` to each tab -->
                    <b-tab v-for="(item, index) in D_tabs_query.tabs" :key="item.id" :title="(item.query_name === '' ? 'Tab' : item.query_name)">
                                
                                <!-- for result -->
                                <b-modal hide-footer :id="'modal-query-confirm-form-result-query-' + index">
                                    <template v-slot:modal-header="{ }">
                                        <h5> Query</h5>
                                    </template>

                                    <template>

                                        <b-container :hidden='modal.status'> 
                                            <b-row>
                                                <b-col cols='4'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="'Query Name : '"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='8'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="item.query_name"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='4'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="'Database : '"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='8'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="D_tabs_query.select[( (D_tabs_query.selected === null) ? '0' : D_tabs_query.selected )].text"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='4'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="'Table : '"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='8'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="item.table"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='4'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="'Query : '"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='8'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="item.query"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                            </b-row>
                                        </b-container>
                                        <b-container :hidden='!modal.status'>
                                            <b-row>
                                                <b-col cols='12' class='d-flex justify-content-center'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="'โปรดรอ . . . .'"
                                                    >
                                                    </b-form-group>
                                                    <b-spinner label="Spinning" ></b-spinner>
                                                </b-col>
                                            </b-row>
                                        </b-container>
                                        
                                    </template>

                                    <template>
                                        <b-button :disabled="modal.status" class = 'float-right' size="lg" variant="primary" @click="modal_confirm('query_ok', index)">
                                            OK
                                        </b-button>
                                        <b-button :disabled="modal.status" class = 'float-right' size="lg" variant="dark" @click="modal_confirm('query_close', index)">
                                            Cancel
                                        </b-button>
                                    </template>
                                </b-modal>
                                <!-- modal end  -->

                                <!-- for confirm -->
                                <b-modal hide-footer :id="'modal-query-confirm-form-' + index">
                                    <template v-slot:modal-header="{ }">
                                        <h5> Confirm Save Item.</h5>
                                    </template>

                                    <template>

                                        <b-container :hidden='modal.status'> 
                                            <b-row>
                                                <b-col cols='4'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="'Query Name : '"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='8'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="item.query_name"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='4'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="'Database : '"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='8'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="D_tabs_query.select[( (D_tabs_query.selected === null) ? '0' : D_tabs_query.selected )].text"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='4'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="'Table : '"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='8'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="item.table"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='4'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="'Query : '"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                                <b-col cols='8'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="item.query"
                                                    >
                                                    </b-form-group>
                                                </b-col>
                                            </b-row>
                                        </b-container>
                                        <b-container :hidden='!modal.status'>
                                            <b-row>
                                                <b-col cols='12' class='d-flex justify-content-center'>
                                                    <b-form-group
                                                        variant="info"
                                                        label-cols-sm="12"
                                                        label-cols-lg="12"
                                                        :label="'โปรดรอ . . . .'"
                                                    >
                                                    </b-form-group>
                                                    <b-spinner label="Spinning" ></b-spinner>
                                                </b-col>
                                            </b-row>
                                        </b-container>
                                        
                                    </template>

                                    <template>
                                        <b-button :disabled="modal.status" class = 'float-right' size="lg" variant="primary" @click="modal_confirm('ok', index)">
                                            OK
                                        </b-button>
                                        <b-button :disabled="modal.status" class = 'float-right' size="lg" variant="dark" @click="modal_confirm('close', index)">
                                            Cancel
                                        </b-button>
                                    </template>
                                </b-modal>
                                <!-- modal end  -->

                        <b-container fluid class="bv-example-row">
                            <b-row>
                                <b-col cols="6">
                                    <b-form-group
                                        label-cols-sm="4"
                                        label-cols-lg="3"
                                        label="Query Name"
                                        label-for="input-horizontal"
                                    >
                                        <b-form-input 
                                            v-model="item.query_name"
                                        >
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col cols="6">
                                    <b-form-group
                                        label-cols-sm="4"
                                        label-cols-lg="3"
                                        label="Table"
                                        label-for="input-horizontal"
                                    >
                                        <b-form-input 
                                            v-model="item.table"
                                        >
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col cols="6">
                                    <b-form-group
                                        label-cols-sm="4"
                                        label-cols-lg="3"
                                        label="Databases"
                                        label-for="input-horizontal"
                                    >
                                        <b-form-select v-model="D_tabs_query.selected" :options="D_tabs_query.select">
                                            <template v-slot:first>
                                                <b-form-select-option :value="null" disabled>-- Please select an database --</b-form-select-option>
                                            </template>
                                        </b-form-select>
                                    </b-form-group>
                                </b-col>
                                <b-col cols='6'>

                                </b-col>
                                <b-col cols='10'>
                                    <b-form-group
                                        label-cols-sm="2"
                                        label-cols-lg="1"
                                        label="SQL :"
                                        label-for="input-horizontal"
                                    >
                                        <b-form-textarea
                                            v-model="item.query"
                                            rows="5"
                                        >
                                        </b-form-textarea>
                                    </b-form-group>
                                </b-col>
                                <b-col cols='2'>
                                    <b-button size='sm' variant="primary"  style = 'width:100px;' class="p-z mb-1 float-right" @click='update(index)'>
                                        Save
                                    </b-button>
                                    <b-button size='sm' variant="primary" style = 'width:100px;' class="p-z mb-1 float-right" @click='sqlQuery(index)'>
                                        Query
                                    </b-button>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col cols='12' >
                                    <b-button size="sm" style = 'width:100px; margin-right: 10px;' variant="primary" class="p-z mb-1 float-right" @click="closeTab(index)" >
                                        Delete
                                    </b-button>
                                    <b-alert :hidden='!modal.last_status_alert' :variant="modal.class" class="w-100 p-2 mb-1 float-left" show> {{modal.content_alert}} <b-icon icon="alert-circle-fill" :variant="modal.class + ' h2 float-right'"></b-icon></b-alert>
                                </b-col>
                            </b-row>
                        </b-container>
                    </b-tab>

                    <template v-slot:tabs-end>
                    <b-nav-item @click.prevent="newTab" href="#"><b>+</b></b-nav-item>
                    </template>

                    <template v-slot:empty>
                    <div class="text-center text-muted">
                        There are no open tabs<br>
                        Open a new tab using the <b>+</b> button above.
                    </div>
                    </template>
                    <b-container :hidden='!modal.status'>
                        <b-row>
                            <b-col cols='12' class='d-flex justify-content-center'>
                                <b-form-group
                                    variant="info"
                                    label-cols-sm="12"
                                    label-cols-lg="12"
                                    :label="'โปรดรอ . . . .'"
                                >
                                </b-form-group>
                                <b-spinner label="Spinning" ></b-spinner>
                            </b-col>
                        </b-row>
                    </b-container>
                    <b-container :hidden='!modal.status_2'>
                        <b-row>
                            <b-col cols='12' class='d-flex justify-content-center'>
                                <b-form-group
                                    variant="info"
                                    label-cols-sm="12"
                                    label-cols-lg="12"
                                    :label="'โปรดรอ . . . .'"
                                >
                                </b-form-group>
                                <b-spinner label="Spinning" ></b-spinner>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-tabs>
            </b-card>
        </div>

        <!-- section model alert for user -->
        <b-modal id="modal-query-alert-form">
            <template v-slot:modal-header="{ }">
                <h5>{{ modal.header }}</h5>
            </template>

            <template>
                <p>{{ modal.alert_message }}</p>
            </template>

            <template v-slot:modal-footer="{ cancel }">
                <b-button size="lg" variant="success" @click="cancel()">
                    Cancel
                </b-button>
            </template>
        </b-modal>
        <!-- section end -->
        

        <!-- section model delete -->
        <b-modal hide-footer :id="'modal-query-delete-form-'">
            <template v-slot:modal-header="{ }">
                <h5>ยืนยันการลบข้อมูล {{ }}</h5>
            </template>

            <template>

                <b-container >
                    <b-row :hidden='modal.status_2'>
                        <b-col cols='12'>
                            <p>ลบข้อมูล</p>
                        </b-col>
                    </b-row>
                    <b-row :hidden='!modal.status_2'>
                        <b-col cols='12' class='d-flex justify-content-center'>
                            <b-form-group
                                variant="info"
                                label-cols-sm="12"
                                label-cols-lg="12"
                                :label="'โปรดรอ . . . .'"
                            >
                            </b-form-group>
                            <b-spinner label="Spinning" ></b-spinner>
                        </b-col>
                    </b-row>
                </b-container>
                
            </template>

            <template>
                <b-button :disabled="modal.status_2" class = 'float-right' size="lg" variant="primary" @click="modal_confirm('delete_ok', null)">
                    OK
                </b-button>
                <b-button :disabled="modal.status_2" class = 'float-right' size="lg" variant="dark" @click="modal_confirm('delete_close', null)">
                    Cancel
                </b-button>
            </template>
        </b-modal>
        <!-- section end -->



    </div>
</template>

<script>

export default {
    name: 'query',
    data () {
        return {
            setTimeout: 1,
            selected: 'a',
            text: '',
            options: [
                { value: null, text: 'Please select an option' },
                { value: 'a', text: 'This is First option' },
                { value: 'b', text: 'Selected Option' },
                { value: { C: '3PO' }, text: 'This is an option with object value' },
                { value: 'd', text: 'This one is disabled', disabled: true }
            ],
            D_tabs_query: {
                    tabs: [],
                    select: []
            }, // for tabs 
            tabCounter: 1,
            table:'',
            query_id: 1,
            query: '',
            name: '',
            query_result: '', //Showing rows 0 - 24 (1325612 total, Query took 0.0004 seconds.)
            active: -1,
            dbcon: '',
            logtable: '',
            type: '',
            class_result: 'green-result',
            modal: {
                header: '',
                alert_message: 'hello',
                status: false,
                class: 'success',
                content_alert: 'Success',
                last_status_alert: false,
                status_2: false
            },
            index_delete: null
        }
    },
    props: {
        getQuery: {
            type: Object
        },
        query_red: {
            type: Object
        }
    },
    components: {
        
    },
    watch : {

    },
    methods : {
        async sqlQuery (index) {
            if (this.D_tabs_query.selected === null 
                || this.D_tabs_query.tabs[index].query_name === '' 
                || this.D_tabs_query.tabs[index].table === '' 
                || this.D_tabs_query.tabs[index].query === ''
            ){
                this.modal.alert_message = 'กรุณาเลือกฐานข้อมูล'
                this.modal.header = 'แจ้งเตือน!'
                this.$bvModal.show("modal-query-alert-form")
            } else {
                this.$bvModal.show("modal-query-confirm-form-result-query-"+index)
            }
            // var db = (this.D_tabs_query.select[this.D_tabs_query.selected].text === undefined ? 1 : this.D_tabs_query.select[this.D_tabs_query.selected].text)
            // var db = this.D_tabs_query.selected
            // if (db === null){
            //     this.modal.alert_message = 'กรุณาเลือกฐานข้อมูล'
            //     this.modal.header = 'แจ้งเตือน!'
            //     this.$bvModal.show("modal-query-alert-form")
            // }
            // var sql = this.D_tabs_query.tabs[index].query
            // const res_query = await getQuery.sendQuery(db, sql)
        },
        newTab() {
            this.D_tabs_query.tabs.push({
                query_name: "Untitled",
                table: '',
                type: '',
                dbcon: '',
                logtable: '',
                query: "",
                tabs_name: "Untitled"
            })
            // ใช้ไปก่อน
            // this.D_tabs_query.select.push({
            //     text: '',
            //     value: null
            // })
        },
        closeTab(index) {
            this.index_delete = index
            this.$bvModal.show("modal-query-delete-form-")
        },
        async modal_confirm (event, index) {
            switch(event) {
                case 'ok':
                    // wait
                    this.modal.status = true
                    var new_arr = []
                    this.D_tabs_query.tabs[index].dbcon = this.D_tabs_query.select[this.D_tabs_query.selected].text
                    for (var i = 0;i < this.D_tabs_query.tabs.length;i++){
                        if (this.D_tabs_query.tabs[i].query_name !== 'Untitled'){
                            // this.D_tabs_query.tabs.splice(i, 1) 
                            new_arr.push(this.D_tabs_query.tabs[i])
                        }
                    }
                    this.D_tabs_query.tabs = new_arr
                    this.$store.commit('SET_QUERY', this.D_tabs_query.tabs);
                    const res_save = await this.getQuery.saveQuery(this.$store.state.state_page.dquery.query.data)
                    if (res_save.status === 200){
                        setTimeout( () => {
                            this.modal.status = false
                            this.modal.last_status_alert = true
                            this.$bvModal.hide("modal-query-confirm-form-"+index)
                        }, this.setTimeout * 1000);
                        setTimeout( () => {
                            this.modal.last_status_alert = false
                        }, this.setTimeout * 1000 * 2);
                    } else {
                        this.modal.class = 'danger'
                        this.modal.content_alert = 'Unseccess.'
                        setTimeout( () => {
                            this.modal.status = false
                            this.modal.last_status_alert = true
                            this.$bvModal.hide("modal-query-confirm-form-"+index)
                        }, this.setTimeout * 1000);
                        setTimeout( () => {
                            this.modal.last_status_alert = false
                            this.modal.class = 'success'
                            this.modal.content_alert = 'Seccess.'
                        }, this.setTimeout * 1000 * 2);
                    }
                    
                break;
                case 'close':
                    this.$bvModal.hide("modal-query-confirm-form-"+index)
                break;
                case 'delete_ok':
                    // enable spinner
                    this.modal.status_2 = true

                    setTimeout( () => {
                        this.modal.status_2 = false
                        this.modal.last_status_alert = true
                        this.$bvModal.hide("modal-query-delete-form-")
                        this.$store.commit('SET_QUERY', this.D_tabs_query.tabs);
                        var new_arr = []
                        new_arr = this.D_tabs_query.tabs
                        // delete is select.    
                        new_arr.forEach ((item, index_, arr) => {
                            if (index_ === this.index_delete){
                                arr.splice(index_, 1) 
                            }
                        })
                        // delete Untitled.
                        var all_new_arr = []
                        new_arr.forEach( (item, index_, arr) => {
                            if (item.query_name !== 'Untitled'){
                                all_new_arr.push(item)
                            }
                        })
                        this.$store.commit('SET_QUERY', all_new_arr);
                        const res_delete = this.getQuery.saveQuery(all_new_arr)
                        res_delete.then((result) => {
                            if (result.status === 200){
                                setTimeout( () => {
                                    this.modal.last_status_alert = false
                                }, this.setTimeout * 1000 * 2);
                            } else {
                                this.modal.class = 'danger'
                                this.modal.content_alert = 'Unseccess.'
                                setTimeout( () => {
                                    this.modal.last_status_alert = false
                                    this.modal.class = 'success'
                                    this.modal.content_alert = 'Seccess.'
                                }, this.setTimeout * 1000 * 2);
                            }
                        }).catch( (err) => {
                            //console.log(err)
                        })
                    }, 2000);

                break;
                case 'delete_close':
                    this.$bvModal.hide("modal-query-delete-form-")
                break;
                case 'query_ok':
                    this.$bvModal.hide("modal-query-confirm-form-result-query-"+index)
                    var db = this.D_tabs_query.select[( (this.D_tabs_query.selected === null) ? '0' : this.D_tabs_query.selected )].text
                    var sql = this.D_tabs_query.tabs[index].query

                    const res_query_red = await this.query_red.sendQuery("MSSQL_DB1", {
                        sql: sql
                    })

                    // const res_query = await this.getQuery.sendQuery("MSSQL_DB1", {
                    //     sql: sql
                    // })

                    this.$store.state.state_page.dquery.result = res_query.data

                    this.$bvModal.hide("modal-query-confirm-form-result-query-"+index)
                break;
                case 'query_close':
                    this.$bvModal.hide("modal-query-confirm-form-result-query-"+index)
                break;
                default:

            }
        },
        update(index) {
            if (this.D_tabs_query.selected === null 
                || this.D_tabs_query.tabs[index].query_name === '' 
                || this.D_tabs_query.tabs[index].table === '' 
                || this.D_tabs_query.tabs[index].query === ''
            ){
                this.modal.alert_message = 'กรอกข้อมูลให้ครบถ้วน'
                this.modal.header = 'กรอกข้อมูลให้ครบถ้วน'
                this.$bvModal.show('modal-query-alert-form')
            } else {
                this.$bvModal.show("modal-query-confirm-form-"+index)
                //console.log('================== UPDATED ==================')
                // this.D_tabs_query.tabs[index].tabs_name = this.D_tabs_query.tabs[index].query_name
                // //console.log(id)
                //console.log(this.D_tabs_query.tabs)
                //console.log(this.D_tabs_query.selected)
                //console.log('================== UPDATED ==================')
                // this.updateState(this.query_id, this.query, this.name, this.table);
            }
        },

        async setQuery () {
            const res = this.getQuery.query().then((res) => {
                //console.log('------------- this is setQuery -------------')
                //console.log(res)
                //console.log('--------------------------------------------')
                this.$store.commit('SET_QUERY', res.data);
                if (!res.data.length){

                    this.D_tabs_query.tabs.push({
                        "tabs_name":"Untitled",
                        "id": 0,
                        "query_name": "Untitled",
                        "table": "Untitled",
                        "type": "Untitled",
                        "dbcon": "Untitled",
                        "logtable": "Untitled",
                        "query": ""
                    })
                    this.D_tabs_query.select.push(
                        {
                            value: 0, text: 'MYSQL_CON2'
                        }
                    )
                    this.D_tabs_query.selected = null
                    //console.log(this.D_tabs_query)
                }else{
                    var arr_db_name = []
                    this.$store.state.state_page.dquery.query.data.forEach((item, index, arr) => {
                        item.tabs_name = item.query_name
                        this.D_tabs_query.tabs.push(item)
                        arr_db_name.push(item.dbcon)
                    })
                    // temp data
                    console.log(arr_db_name)
                    var new_array = [...new Set(arr_db_name)]
                    console.log(new_array)

                    new_array.forEach((item,index, arr) => {
                        this.D_tabs_query.select.push({
                            value: index, text: item
                        })
                    })
                    console.log(this.D_tabs_query.select)
                    this.D_tabs_query.selected = null
                }
            }).catch((err) => {
                //console.log(err)
            });

        }
    },
    computed: {

    },
    mounted (){
        this.setQuery()
        
        // Ragnarok refine item
        // //console.log('================ debug regnarok refine =============================')
        // /**
        //  * 
        //  * weapon lv1 += 20000
        //  * weapon lv2 += 30000
        //  * weapon lv3 += 40000
        //  * weapon lv4 += 60000
        //  * 
        //  */
        // //console.log(refine)
        // refine.Armor.Rates.forEach( (item, index, arr) => {
        //     item.Bonus += 4000
        // })
        // refine.WeaponLv1.Rates.forEach( (item, index, arr) => {
        //     if (item.Bonus !== undefined){
        //         item.Bonus += 20000
        //     }
        // } )

        // refine.WeaponLv1.StatsPerLevel += 10000
        // refine.WeaponLv1.RandomBonusValue += 10000

        // refine.WeaponLv2.Rates.forEach ( (item, index, arr) => {
        //     if (item.Bonus !== undefined){
        //         item.Bonus += 30000
        //     }
        // })

        // refine.WeaponLv2.StatsPerLevel += 30000
        // refine.WeaponLv2.RandomBonusValue += 30000

        // refine.WeaponLv3.Rates.forEach ( (item, index, arr) => {
        //     if (item.Bonus !== undefined){
        //         item.Bonus += 40000
        //     }
        // })

        // refine.WeaponLv3.StatsPerLevel += 40000
        // refine.WeaponLv3.RandomBonusValue += 40000

        // refine.WeaponLv4.Rates.forEach ( (item, index, arr) => {
        //     if (item.Bonus !== undefined){
        //         item.Bonus += 60000
        //     }
        // })

        // refine.WeaponLv4.StatsPerLevel += 60000
        // refine.WeaponLv4.RandomBonusValue += 60000



        // //console.log(JSON.stringify(refine))
        // //console.log('====================================================================')
    }
}
</script>

<style scoped>
    @import '../../../../css/style.query.css';
</style>