<template>
    <div class="card" style="margin-top: 10px;">
        <h5 class="card-header">Result</h5>
        <div class="card-body">
            <div class="row">
                <!-- <div class='col-md-12'>
                    <div class='result-table'>
                        <h4 class="mb-3 "><i class="fa fa-warehouse"></i>TABLE</h4>
                        <vue-table-dynamic style = 'font-size: 18px;text-align:center;' :params="params"></vue-table-dynamic>
                    </div>
                </div> -->
                <div class='col-md-12'>
                    <h4 class="mb-3 "><i class="fa fa-warehouse"></i>JSON</h4>
                    <div class='result-json-pretty'>
                        <vue-json-pretty
                            :highlightMouseoverNode='true'
                            :highlightSelectedNode='true'
                            :selectOnClickNode='true'
                            :showDoubleQuotes='true'
                            :showLine='true'
                            :path="'res'"
                            :data="this.$store.state.state_page.dquery.result"
                            @click="handleClick_for_vue_json_pretty">
                        </vue-json-pretty>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import VueJsonPretty from 'vue-json-pretty'
import VueTableDynamic from 'vue-table-dynamic'

export default {
    name: 'result',
    data () {
        return {
            key: '',
            value: '',
            arr: [],
             params: {
                data: [],
                header: 'row',
                border: true,
                stripe: true,
                // highlight: { column: [-2] },
                // highlightedColor: 'rgb(243, 235, 200)',
                enableSearch: true,
                pagination:true,
                pageSize: 10,
                pageSizes: [10, 20, 50, 100, 1000, 10000],
                // filter:[{column: 0, content: [{text: '> 2', value: 2}], method: (value, cell) => { return cell.data > value }}]
                // sort: [0, 1]
            }
        }
    },
    components: {
        VueJsonPretty
    },
    methods: {
        handleClick_for_vue_json_pretty (){
            //console.log('hello')
        },
        split_key () {
            var user = this.$store.state.state_page.dquery.result, key;
            user.forEach(function (item, index, arr) {
                for (key in item) {
                    //console.log(key + " " +item[key])
                } 
            }) 
        }
    },
    computed: {

    },
    mounted (){

    }
}
</script>

<style scoped>
    @import '../../../../css/style.result.css';
</style>