<template>
    <div class="card " style="margin-top: 10px;">
        <h5 class="card-header txt-align-l">ข้อมูลสาขา</h5>
        <div class="card-body">
            <b-container class="bv-example-row">
                <b-row>
                    <b-col>
                        <template>
                            <div>
                                <b-table :items="items" :tbody-tr-class="rowClass" style='text-align: center;'></b-table>
                            </div>
                        </template>
                    </b-col>
                </b-row>
            </b-container>
            <!-- <div class="row" >
                <template>
                    
                    <div>
                        <b-table :items="items" :tbody-tr-class="rowClass"></b-table>
                    </div>
                </template> -->
                <!-- <b-table  style="font-family: 'Roboto' !important; text-align: center;" stacked :busy="isBusy" :items="items">
                    <template v-slot:table-busy>
                        <div class="text-center text-danger my-2">
                            <b-spinner class="align-middle"></b-spinner>
                            <strong>Loading...</strong>
                        </div>
                    </template>
                </b-table> -->
                <!-- <div class='col-md-4 txt-align-l'>
                    กปภ.เขต
                    <input class="form-control" type = 'text' v-model="pwa_area"  placeholder=""/>
                </div>
                <div class='col-md-4 txt-align-l'>
                    กปภ.สาขา
                    <input class="form-control" type = 'text' v-model="pwa_branch"  placeholder=""/>
                </div>
                <div class='col-md-4 txt-align-l'>
                    กปภ.รหัสสาขา
                    <input class="form-control" type = 'text' v-model="pwa_idBranch"   placeholder=""/>
                </div> -->
            <!-- </div> -->
            <div class='row padding-20-t txt-align-l' hidden>
                <div class="col-md-12">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <!-- <button type="button" class="btn btn-blue width-80 btn-hover" @click='fn_btn_click_btn_group("internet")'>Internet</button>
                        <button type="button" class="btn btn-blue width-80 btn-hover" @click='fn_btn_click_btn_group("vpn")'>VPN</button>
                        <button type="button" class="btn btn-blue width-80 btn-hover" @click='fn_btn_click_btn_group("3g")'>3G</button> -->
                        <div>
                            Connection:
                            <b-badge class='width-80' :variant="connections[0] ? 'primary' : 'light' ">Internet</b-badge>
                            <b-badge class='width-80' :variant="connections[1] ? 'primary' : 'light' ">VPN</b-badge>
                            <b-badge class='width-80' :variant="connections[2] ? 'primary' : 'light' ">3G</b-badge>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'branchDetail',
    data () {
        return {
            isBusy: true,
            pwa_area: '',
            pwa_branch: '',
            pwa_idBranch: '',
            items: [],
            connections: [false, true, false]
        }
    },
    props: {
        AppApi: {
            type: Object
        },
    },
    components: {

    },
    methods: {
        fn_btn_click_btn_group (param) {
            switch(param) {
                case 'internet':
                    //console.log('internet')
                break;
                case 'vpn':
                    //console.log('vpn')
                break;
                case '3g':
                    //console.log('3g')
                break;
                default:
                    //console.log('error')
            }
        }
    },
    computed: {

    },
    mounted (){
        this.AppApi.station_info().then( (res) => {
            //console.log(res)
            this.items = [
                { 'กปภ.เขต': res.data.pwa_info.reg, 'กปภ.สาขา': res.data.pwa_info.ww_desc, 'กปภ.รหัสสาขา': res.data.pwa_info.ww }
            ]
            if(res.status === 200){
                this.isBusy = !this.isBusy
            }
        } ).catch( (err) => {
            //console.log(err)
        });
    }
}
</script>

<style scoped>
    * {
        font-family: 'Roboto' !important;
        text-align: left;
    }
    .card {
        border:1px solid #c8c6c6 !important;
    }
    @import '../../../../css/style.branchDetail.css';
    @import '../../../../css/font-roboto.css';
</style>