<template>
    <div class="card" style="margin-top: 10px; maring-buttom: 10px;">
        <h5 class="card-header txt-align-l">Database Connection</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="sc-db-connect">
                        <div  v-for='(item, index) in this.$store.state.state_page.dquery.connection.data' :key='index' class="btn db-card" @click='select_DB(index)' @mouseover="hover(index)" @mouseleave="leave(index)">
                            <!-- <div class="db-card-h">
                                header
                            </div> -->
                            <div :class="'db-card-b' + ((index === index_select || index === hover_select) ? ' db-select-ed' : '')">   <!-- '/static/images/mysqllogo/maria-sql.svg' -->
                                <img :src="((item.type === 'MICROSOFT_DB') ? '/static/images/mysqllogo/microsoft-sql.svg' : (item.type === 'MARIA_DB' ? '/static/images/mysqllogo/maria-sql.svg' : (item.type === 'MONGO_DB' ? '/static/images/mysqllogo/mongo.png' : '/static/images/mysqllogo/influx-db.svg')))" width='170px' height="120px" />
                                <br><br><p class='p-font-size-2em'>{{ item.connection_name }}</p>
                                <p style = 'font-size:0.9em;'>{{item.ip}}:{{item.port}}</p>
                                <p style = 'font-size:0.9em;'>DB: {{item.db_name}}</p>
                            </div>
                            <div :class="'db-card-f ' + ((item.status) ? 'db-card-f-connect' : 'db-card-f-disconnect') + ((index === index_select || index === hover_select) ? ' db-select-ed' : '')">
                                {{ (((item.status) ? 'Connect' : 'Disconnect')) }}
                            </div>

                        </div> 

                    </div>
                </div>
            </div>
            <div class='row' hidden>
                <div class="col-md-12">
                    <p class="p-font-size-2em p-padding-top-10-px"> Custom : {{db_name}} </p>
                </div>
            </div>
            <div class='row' hidden>
                <div class="col-md-4">
                    HOST<br>
                    <input class="form-control" v-model="ip" type="text" placeholder="input host"/>
                </div>
                <div class="col-md-4">
                    PORT<br>
                    <input class="form-control" v-model="port" type="text" placeholder="input port"/>
                </div>
                <div class="col-md-4">
                    DB
                    <input class="form-control" v-model="db_name" type="text" placeholder="input database"/>
                </div>
            </div>
            <div class='row' hidden>
                <!-- <div class="col-md-4">
                    USER<br>
                    <input class="form-control" v-model="user" type="text" placeholder="input username"/>
                </div>
                <div class="col-md-4">
                    PASS<br>
                    <input class="form-control" v-model="pass" type="password" placeholder="input password"/>
                </div> -->
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <br>
                    <button class="btn btn-blue" type="buttom"> UPDATE </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'dbconnection',
    data () {
        return {
            hover_select: 0,
            index_select: 0,
            db_name: "",
            ip: "",
            port: "",
            type: "",
            user: "",
            pass: ""
        }
    },
    components: {

    },
    methods: {
        hover (index) {
            this.hover_select = index
        },
        leave (index) {
            this.hover_select = -1
        },
        select_DB (index) {
            this.index_select = index
            this.db_name = this.$store.state.state_page.dquery.connection.data[index].db_name
            this.ip = this.$store.state.state_page.dquery.connection.data[index].ip
            this.port = this.$store.state.state_page.dquery.connection.data[index].port
            this.user = this.$store.state.state_page.dquery.connection.data[index].user
            this.pass = this.$store.state.state_page.dquery.connection.data[index].pass
        },
        drag_and_click_tag1 (){
            const slider = document.querySelector('.sc-db-connect');
            let isDown = false;
            let startX;
            let scrollLeft;

            slider.addEventListener('mousedown', (e) => {
                isDown = true;
                // slider.classList.add('active');
                startX = e.pageX - slider.offsetLeft;
                scrollLeft = slider.scrollLeft;
            });
            slider.addEventListener('mouseleave', () => {
                isDown = false;
                // slider.classList.remove('active');
            });
            slider.addEventListener('mouseup', () => {
                isDown = false;
                // slider.classList.remove('active');
            });
            slider.addEventListener('mousemove', (e) => {
                if(!isDown) return;
                e.preventDefault();
                const x = e.pageX - slider.offsetLeft;
                const walk = (x - startX) * 3; //scroll-fast
                slider.scrollLeft = scrollLeft - walk;
            });
        },
    },
    computed: {

    },
    mounted (){
        this.drag_and_click_tag1()
    }
}
</script>

<style scoped>
    @import '../../../../css/style.dbconnection.css';
    @import '../../../../css/style.branchDetail.css';
</style>