<template>
    <div class="card" style="margin-top: 10px;">
        <h5 class="card-header txt-align-l">Service Status</h5>
        <div class="card-body">
            <div class="row">
                <!-- service 1 -->
                <div class='col-md-1'>
                    <!-- here -->
                    <img :src="'/static/images/icons/influxdb_.png'" width='200px' height="50px" />
                </div>
                <div class='col-md-2'>
                    <!-- here -->
                    <!-- InfluxDB -->
                </div>
                <div class='col-md-3'></div>
                <div class='col-md-1'  style = "padding-top:10px;">
                    <!-- here -->
                    <button :class='"btn " + btn.influxdb.class' @click="stop_service('influx')">{{btn.influxdb.content}}</button>
                </div>
                <!-- <div class='col-md-2'></div>
                <div class='col-md-1'>
                </div> -->
            </div>
            <hr>
            <!-- service 2 -->
            <div class="row">
                <div class='col-md-1'>
                    <!-- here -->
                    <img :src="'/static/images/icons/chronograf_.png'" width='200px' height="50px" />
                </div>
                <div class='col-md-2'>
                    <!-- here -->
                    <!-- Grafana  -->
                </div>
                <div class='col-md-3'></div>
                <div class='col-md-1' style = "padding-top:10px;">
                    <!-- here -->
                    <button :class='"btn " + btn.grafana.class' @click="stop_service('grafana')" >{{btn.grafana.content}}</button>
                </div>
                <!-- <div class='col-md-3'></div>
                <div class='col-md-1'>
                </div> -->
            </div>


        </div>
    </div>
</template>

<script>

export default {
    name: 'ServiceStatus',
    data () {
        return {
            btn: {
                influxdb : {
                    content: 'STOP',
                    class : 'btn-blue'
                },
                grafana : {
                    content: 'START',
                    class: 'btn-blue'
                }
            }
        }
    },
    components: {

    },
    methods: {
        stop_service (service_name){
            switch(service_name) {
                case 'grafana':
                    if (this.btn.grafana.content === "START"){
                        // api start service
                        this.btn.grafana.content = 'STOP'
                        this.btn.grafana.class = 'btn-blue'
                    }else if (this.btn.grafana.content === 'STOP'){
                        // api start service
                        this.btn.grafana.content = 'START'
                        this.btn.grafana.class = 'btn-blue'
                    }
                break;
                case 'influx':
                    if (this.btn.influxdb.content === "START"){
                        // api start service
                        this.btn.influxdb.content = 'STOP'
                        this.btn.influxdb.class = 'btn-blue'
                    }else if (this.btn.influxdb.content === 'STOP'){
                        // api start service
                        this.btn.influxdb.content = 'START'
                        this.btn.influxdb.class = 'btn-blue'
                    }
                break;
                default:
                    console.log('error')
            }
        }
    },
    computed: {

    },
    mounted (){
        return {}
    }
    // grafana-cli --pluginsDir "C:\Program Files\GrafanaLabs\grafana\data\plugins" plugins install grafana-worldmap-panel
    // grafana-cli  plugins install grafana-worldmap-panel
}
</script>

<style scoped>
    /* @import '../../../../css/style.result.css'; */
    @import '../../../../css/style.branchDetail.css';
</style>