<template>
    <div class="card " style="margin-top: 10px;">
        <h5 class="card-header txt-align-l">ข้อมูลสาขา</h5>
        <div class="card-body">
            <b-container class="bv-example-row">
                <b-row>
                    <b-col>
                        <template>
                            <div>
                                <b-table :items="items" style='text-align: center;'></b-table>
                            </div>
                        </template>
                    </b-col>
                </b-row>
            </b-container>
            <!-- <div class="row" >
                <template>
                    
                    <div>
                        <b-table :items="items" :tbody-tr-class="rowClass"></b-table>
                    </div>
                </template> -->
                <!-- <b-table  style="font-family: 'Roboto' !important; text-align: center;" stacked :busy="isBusy" :items="items">
                    <template v-slot:table-busy>
                        <div class="text-center text-danger my-2">
                            <b-spinner class="align-middle"></b-spinner>
                            <strong>Loading...</strong>
                        </div>
                    </template>
                </b-table> -->
                <!-- <div class='col-md-4 txt-align-l'>
                    กปภ.เขต
                    <input class="form-control" type = 'text' v-model="pwa_area"  placeholder=""/>
                </div>
                <div class='col-md-4 txt-align-l'>
                    กปภ.สาขา
                    <input class="form-control" type = 'text' v-model="pwa_branch"  placeholder=""/>
                </div>
                <div class='col-md-4 txt-align-l'>
                    กปภ.รหัสสาขา
                    <input class="form-control" type = 'text' v-model="pwa_idBranch"   placeholder=""/>
                </div> -->
            <!-- </div> -->
            <div class='row padding-20-t txt-align-l' hidden>
                <div class="col-md-12">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <div>
                            Connection:
                            <b-badge class='width-80' :variant="connections[0] ? 'primary' : 'light' ">Internet</b-badge>
                            <b-badge class='width-80' :variant="connections[1] ? 'primary' : 'light' ">VPN</b-badge>
                            <b-badge class='width-80' :variant="connections[2] ? 'primary' : 'light' ">3G</b-badge>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'branchDetail',
    data () {
        return {
            isBusy: true,
            pwa_area: '',
            pwa_branch: '',
            pwa_idBranch: '',
            items: [{
                'Server' : '',
                'Lost time (m)': '',
                'ระยะเวลาเก็บข้อมูล (วัน)': ''
            }],
            connections: [false, true, false]
        }
    },
    props: {
        AppApi: {
            type: Object
        },
    },
    components: {

    },
    methods: {
        fn_btn_click_btn_group (param) {
            switch(param) {
                case 'internet':
                    //console.log('internet')
                break;
                case 'vpn':
                    //console.log('vpn')
                break;
                case '3g':
                    //console.log('3g')
                break;
                default:
                    //console.log('error')
            }
        },
        async API_commomsetting () {
            const commonsetting = await this.AppApi.LIST_COMMONSETTING();
            console.log(commonsetting.data)
            if (commonsetting.status === 200){
                this.$store.commit("SET_COMMONSETTING", commonsetting.data);
                this.items = [
                    {
                        'Server' : this.$store.state.state_page.commonsetting.server,
                        'Lost time (m)': this.$store.state.state_page.commonsetting.collect_data_time,
                        'ระยะเวลาเก็บข้อมูล (วัน)': this.$store.state.state_page.commonsetting.collect_date
                    }
                ]
            }else {
                alert(commonsetting);
            }
        },
    },
    computed: {

    },
    mounted (){
        this.API_commomsetting();
        // this.AppApi.station_info().then( (res) => {
        //     //console.log(res)
        //     this.items = [
        //         // { 'กปภ.เขต': res.data.pwa_info.reg, 'กปภ.สาขา': res.data.pwa_info.ww_desc, 'กปภ.รหัสสาขา': res.data.pwa_info.ww }
        //         {
        //             'Server' : this.$store.state.state_page.commonsetting.server,
        //             'Lost time (m)': this.$store.state.state_page.commonsetting.collect_data_time,
        //             'ระยะเวลาเก็บข้อมูล (วัน)': this.$store.state.state_page.commonsetting.collect_date
        //         }
        //     ]
        //     if(res.status === 200){
        //         this.isBusy = !this.isBusy
        //     }
        // } ).catch( (err) => {
        //     //console.log(err)
        // });
    }
}
</script>

<style scoped>
    * {
        font-family: 'Roboto' !important;
        text-align: left;
    }
    .card {
        border:1px solid #c8c6c6 !important;
    }
    @import '../../../../css/style.branchDetail.css';
    @import '../../../../css/font-roboto.css';
</style>