<template>
    <div class='container'>
        <div class="py-4 text-center">
            <h2>Summary</h2>
            <br>
            <branchDetail :AppApi="this.AppApi"/>
            <br>
            <databasesStatus />
            <br>
            <!-- <ServiceStatus /> -->
        </div>
    </div>
</template>

<script>
import branchDetail from './branchDetail'
import databasesStatus from './databasesStatus'
import ServiceStatus from './ServiceStatus'
import getFlow from '@/serviceAPIS/get-flow'
import getQuery from '@/serviceAPIS/get-query'
import callApi from '@/serviceAPIS/AppApi'
import AppApi from '@/serviceAPIS/AppApi'

export default {
    components: {
        branchDetail,
        databasesStatus,
        ServiceStatus
    },
    data () {
        return {
            AppApi: AppApi
        }
    },
    methods : {

    },
    async mounted (){
        
        this.getQuery = callApi

        const response2 = await getFlow.query();
        //console.log(response2)
        const response3 = await getFlow.status();
        //console.log(response3)
        this.$store.commit('SET_QUERY', response2.data);
    
        this.$store.state.state_page.dquery.connection.fdata  = (response3.data);
        this.$store.state.state_page.dquery.connection.data  = (response3.data.con);
       
    }
}
</script>

<style scoped>

</style>