<template>
  <div id="app">
    <!-- <img class = "s-img" src="./assets/spongebob.jpg"> -->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;
  color: #2c3e50; */
  /* margin-top: 60px; */
  background-color: #f1f2f4;
}
/* .s-img{
  height: 100px;
  width: 150px;
} */
</style>
