<template>
    <b-table-simple hover caption-top responsive>
        <b-thead>
            <b-tr>
                <b-th v-for='(item, index) in fields' :key='index' class="text-center">{{item.label}}</b-th>
            </b-tr>
        </b-thead>

        <b-tbody>

            <b-tr v-for="(item, index) in (branch_pump[0] ? branch_pump[0].pump : [])" :key="index">
                <b-td class="text-center" v-if="branch_pump[1] === item.st">
                    {{(branch_pump[1] ? branch_pump[1] : 'เลือกประเภทสถานี')}}
                </b-td>
                <!-- <b-td class="text-center" v-if="branch_pump[1] === item.st" >
                    {{(branch_pump[1] === item.st ? item.st_id : '')}}
                </b-td> -->
                <b-td class="text-center" v-if="branch_pump[1] === item.st">
                    {{(branch_pump[1] === item.st ? item.st_code : '')}}
                </b-td>
                <b-td class="text-center" v-if="branch_pump[1] === item.st">
                    <b-button variant="outline-primary" size="sm" class="w-100 h-100"
                    @click="remove(index)"
                    >
                    ลบ
                    </b-button>
                </b-td>
            </b-tr>

            <b-tr>
                <b-td class="text-center" >
                    {{(branch_pump[1] ? branch_pump[1] : 'เลือกประเภทสถานี')}}
                </b-td>
                <!-- <b-td class="text-center" >
                    <b-input-group>
                        <b-form-input
                            v-model="tag"
                            placeholder="tag"
                        ></b-form-input>
                        <b-input-group-append>
                            
                        </b-input-group-append>
                    </b-input-group>
                </b-td> -->
                <b-td class="text-center" >
                    <b-input-group>
                        <b-form-input
                            v-model="pump_name"
                            placeholder="pump name"
                        ></b-form-input>
                        <b-input-group-append>
                            
                        </b-input-group-append>
                    </b-input-group>
                </b-td>
                <b-td class="text-center" >
                <b-button variant="primary" size="sm" class="w-100 h-100"
                    @click="add()"
                    :disabled="(branch_pump[1] ? false : true)"
                >
                    เพิ่ม
                </b-button>
                </b-td>
            </b-tr>

        </b-tbody>
    </b-table-simple>
</template>

<script>

export default {
    name: 'ManagerPump',
    data () {
        return {
            tag: '',
            pump_name: '',
            fields: [
                { key: "station",label: 'Station', class: 'text-center'},
                // { key: "tag_station",label: 'สถานีที่', class: 'text-center'},
                { key: "pump_name",label: 'Pump Name', class: 'text-center'},
                { key: "delete",label: 'ลบ', class: 'text-center'},
            ]
        }
    },
    props: {
        branch_pump: {
            type: Array
        }
    },
    methods : { 
        remove (index){
            this.branch_pump[0].pump.splice(index, 1)
        },
        add(){
            console.log(this.branch_pump)
            if (this.pump_name || this.tag){
                this.branch_pump[0].pump.push({
                    st: this.branch_pump[1],
                    st_id: this.tag,
                    st_code: this.pump_name
                })
            }
            // console.log(this.branch_pump)
            this.tag = ""
            this.pump_name = ''
        }
    },
    mounted() {
        console.log("from managerpump")
    }
}
</script>

<style scoped>

</style>