<!-- <b-table 
                            :items="items" 
                            :fields="fields" 
                            outlined  
                            bordered
                            hover
                            responsive
                        >

                            <template v-slot:cell(index)="row">
                                <b-td rowspan="9">{{row.item.index}}</b-td>
                            </template>



                            <template v-slot:cell(increase)="row">
                                <b-container class="bv-example-row">
                                    <b-row>
                                        <b-col cols=12>
                                            <b-button variant="success" size="sm" @click="onclickclick(row.item.index, 1)" class="w-100 h-100">
                                                เพิ่ม
                                            </b-button>
                                        </b-col>
                                    </b-row>
                                </b-container>
                            </template>

                            <template v-slot:cell(decrease)="row">
                                <b-container class="bv-example-row">
                                    <b-row>
                                        <b-col cols=12>
                                            <b-button variant="danger" size="sm" @click="onclickclick(row.item.index, -1)" class="w-100 h-100">
                                                ลด
                                            </b-button>
                                        </b-col>
                                    </b-row>
                                </b-container>
                            </template>

                        </b-table> -->
                    <!-- <b-table 
                        :items="items" 
                        :busy="isBusy" 
                        class="mt-3" 
                        outlined  
                        bordered
                        hover
                        responsive
                    >
                        <template 
                            v-slot:table-busy
                            v-slot:cell(เพิ่ม)="data"
                        >
                            <span v-html="data.value"></span>
                            <div class="text-center text-danger my-2">
                                <b-spinner class="align-middle"></b-spinner>
                                <strong>Loading...</strong>
                            </div>
                        </template>
                    </b-table> -->