<template>
    <div class="card " style="margin-top: 10px;">
        <h5 class="card-header txt-align-l">ข้อมูลสาขา</h5>
        <div class="card-body">
            <div class="row" >
                <div class='col-md-3 txt-align-l'>
                    เขต
                    <!-- <input class="form-control" type = 'text' v-model="pwa_area"  placeholder=""/> -->
                    <select class="form-control" @change="select_change_area" >
                        <option value = 'choose'>Choose...</option>
                        <option v-for='(item, index) in this.province.data' :key='index' :value='item.reg' :data-name="item.reg_desc">{{item.reg_desc}} </option> <!-- :selected='(item.reg_desc === getInfo.pwa_info.reg_desc)' -->
                    </select>
                    <!-- :selected='item.reg_desc == getInfo.pwa_info.reg_desc' -->
                </div>
                <div class='col-md-3 txt-align-l'>
                    รหัสเขต 
                    <input class="form-control" type = 'text' v-model="area_id"  placeholder="" />
                </div>
                <div class='col-md-3 txt-align-l'>
                    สาขา
                    <select class="form-control" @change="select_change_branch">
                        <option selected value = 'choose'>Choose...</option>
                        <option v-for='(item, index) in this.branch' :key='index' :value='item.ww' :data-name="item.ww_desc">{{item.ww_desc}}</option> <!-- :selected='(item.ww_desc === getInfo.pwa_info.ww_desc)' -->
                    </select>
                </div>
                <div class='col-md-3 txt-align-l'>
                    CODE
                    <input class="form-control" type = 'text' v-model="CODE"   placeholder=""  />
                </div>
            </div>
            <hr>
            <div class='row ' v-if='!table_add.show_add_area'> <!-- show-table-dinamic -->
                <div class="col-md-12">
                    <h3>จัดการสถานี</h3><br>
                    เลือกสถานี
                    <select class="form-control" @change="select_change_branch__">
                        <option selected value = 'choose'>Choose...</option>
                        <option v-for='(item, index) in this.info_to_update' :key='index' :value='item.st_code' :data-name="item.st_desc">{{item.st_desc}}</option>
                    </select>
                    <table class="table table-bordered" style= 'margin-top: 40px;'>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">สถานี</th>
                                <th scope="col">รหัสถานี</th>
                                <th scope="col">ประเภทสถานี</th>
                                <th scope="col">จำนวน</th>
                                <th scope="col">เพิ่ม</th>
                                <th scope="col">ลด</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" :rowspan='table_data.detail.length + 1'>1</th>
                                <td :rowspan='table_data.detail.length + 1'>{{table_data.area}}</td>
                                <td :rowspan='table_data.detail.length + 1'>{{table_data.area_id}}</td>
                            </tr>

                            <tr v-for='(item, index) in table_data.detail' :key='index'>
                                <td>{{item.type}}</td>
                                <td>{{item.val}}</td>
                                <td><button type='button' class="btn btn-success width-80 " @click='increase(index)' :disabled="disable_button">เพิ่ม</button></td>
                                <td><button type='button' class="btn btn-danger width-80 " @click='decrease(index)' :disabled="disable_button">ลด</button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class='row padding-20-t txt-align-r' v-if='!table_add.show_add_area'>
                <div class="col-md-12">
                    <button type="button" class="btn btn-blue width-80 btn-hover" @click='fn_btn_click_btn_group("delete")' :disabled="disable_button">ลบ</button>
                    <button type="button" class="btn btn-blue width-80 btn-hover" @click='fn_btn_click_btn_group("add")' :disabled="disable_button">เพิ่ม</button>
                    <button type="button" class="btn btn-blue width-80 btn-hover" @click='fn_btn_click_btn_group("update")' :disabled="disable_button">อัพเดท</button>
                </div>
            </div>
            <div class='row' v-if='table_add.show_add_area'>
                <div class='col-md-12'>
                    <h3>เพิ่มสถานี</h3>
                    <table class="table table-bordered" style= 'margin-top: 40px;'>
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">สถานี</th>
                                <th scope="col">รหัสถานี</th>
                                <th scope="col">ประเภทสถานี</th>
                                <th scope="col">จำนวน</th>
                                <th scope="col">เพิ่ม</th>
                                <th scope="col">ลด</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" :rowspan='table_data.detail.length + 1'>1</th>
                                <td :rowspan='table_data.detail.length + 1'><input class="form-control" type = 'text' v-model='area_desc_add'  placeholder="Query name"/></td>
                                <td :rowspan='table_data.detail.length + 1'><input class="form-control" type = 'text' v-model='area_id_add'  placeholder="Query name"/></td>
                            </tr>

                            <tr v-for='(item, index) in table_data.detail' :key='index'>
                                <td>{{item.type}}</td>
                                <td>{{item.val}}</td>
                                <td><button type='button' class="btn btn-success width-80 " @click='increase(index)' :disabled="disable_button">เพิ่ม</button></td>
                                <td><button type='button' class="btn btn-danger width-80 " @click='decrease(index)' :disabled="disable_button">ลด</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class='row padding-20-t txt-align-r' v-if='table_add.show_add_area'>
                <div class="col-md-12">
                    <button type="button" class="btn btn-blue width-80 btn-hover" @click='fn_btn_click_btn_group("add_data")' :disabled="disable_button">เพิ่ม</button>
                    <button type="button" class="btn btn-close width-80 btn-hover" @click='fn_btn_click_btn_group("close")' :disabled="disable_button">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VueTableDynamic from 'vue-table-dynamic'

export default {
    name: 'branchDetail',
    data () {
        return {
            pwa_area: '',
            pwa_area_id: '',
            pwa_branch: '',
            pwa_branch_id: '',
            params: {
                data: [
                    ['Index', 'Data1', 'Data2', 'Data3'],
                    [1, 'b3ba90', '7c95f7', '9a3853'],
                    [2, 'ec0b78', 'ba045d', 'ecf03c'],
                    [3, '63788d', 'a8c325', 'aab418'],
                ],
                header: 'row',
                border: true,
                stripe: true,
                showCheck: true,
                // highlight: { column: [-2] },
                // highlightedColor: 'rgb(243, 235, 200)',
                enableSearch: true,
                pagination:true,
                pageSize: 10,
                pageSizes: [10, 20, 50, 100, 1000, 10000],
                edit: {
                    row: [1],
                    column: [1],
                    cell: [[-1, -1]]
                }
                // filter:[{column: 0, content: [{text: '> 2', value: 2}], method: (value, cell) => { return cell.data > value }}]
                // sort: [0, 1]
            },
            province: Object,
            area_id: '',
            branch: Object,
            CODE: '',
            table_data: {
                id:1,
                area: '',
                area_id: '',
                detail: [
                    {
                        tag: 'SEDIMENT',
                        type: 'ถังตกตะกอน',
                        val: 0,
                    },{
                        tag: 'FILTATION',
                        type: 'โรงกรองน้ำ',
                        val: 0,
                    },{
                        tag: 'CHEMICAL',
                        type: 'โรงจ่ายสารเคมี',
                        val: 0,
                    },{
                        tag: 'CLEARWELL',
                        type: 'ถังน้ำใส',
                        val: 0,
                    },{
                        tag: 'ELEVATE',
                        type: 'หอถังสูง',
                        val: 0,
                    },{
                        tag: 'RWP',
                        type: 'โรงสูบน้ำแรงต่ำ',
                        val: 0,
                    },{
                        tag: 'HSP',
                        type: 'โรงสูบน้ำแรงสูง',
                        val: 0,
                    },{
                        tag: 'DPB',
                        type: 'สถานีจ่ายน้ำ',
                        val: 0,
                    },{
                        tag: 'BOOSTER',
                        type: 'สถานีเพิ่มแรงดัน',
                        val: 0,
                    }
                ]
            },
            table_add : {
                show_add_area: false
            },
            area_id_add:'',
            area_desc_add: '',
            info_to_update: [],
            disable_button: true,
            getInfo: []
        }
    },
    props: {
        apiSetting: {
            type: Object
        }
    },
    components: {

    },
    methods: {
        async select_change_branch__ (e){
             if(e.target.options.selectedIndex > 0) {
                // //console.log(e.target.options[e.target.options.selectedIndex].dataset.name)
                // //console.log(e.target.options[e.target.options.selectedIndex].value)
                const res = await this.apiSetting.getInfo()
                //console.log(res.data)
                if (this.area_id !== '' && this.CODE !== '') {
                    const res = await this.apiSetting.getInfo()
                    // //console.log(res)
                    res.data.station.forEach( (item, index, arr) => {
                        if (item.st_desc === e.target.options[e.target.options.selectedIndex].dataset.name && item.st_code === e.target.options[e.target.options.selectedIndex].value){
                            //console.log("OK")
                            this.table_data.area = e.target.options[e.target.options.selectedIndex].dataset.name
                            this.table_data.area_id = e.target.options[e.target.options.selectedIndex].value
                            this.table_data.detail[0].val = item.st_count.SEDIMENT
                            this.table_data.detail[1].val = item.st_count.FILTATION
                            this.table_data.detail[2].val = item.st_count.CHEMICAL
                            this.table_data.detail[3].val = item.st_count.CLEARWELL
                            this.table_data.detail[4].val = item.st_count.ELEVATE
                            this.table_data.detail[5].val = item.st_count.RWP
                            this.table_data.detail[6].val = item.st_count.HSP
                            this.table_data.detail[7].val = item.st_count.DPB
                            this.table_data.detail[8].val = item.st_count.BOOSTER
                            this.disable_button = false
                        }else {
                            // this.info_to_update.splice(0, this.info_to_update.length)
                            // this.disable_button = true
                        }
                    })
                    //console.log(this.info_to_update)
                }else {
                    this.disable_button = true
                }
            }else{
                this.disable_button = true
            }
            //console.log(this.disable_button)
        },
        increase (index){
            this.table_data.detail[index].val = this.table_data.detail[index].val +1
        },
        decrease (index) {
            if (this.table_data.detail[index].val !== 1){
                this.table_data.detail[index].val = this.table_data.detail[index].val -1
            }
        },
        select_change_branch (e) {            
            if(e.target.options.selectedIndex > 0) {
                this.branch.forEach( (item, index, arr) => {
                    if (item.ww == e.target.options[e.target.options.selectedIndex].value){
                        this.CODE = item.ww
                    }
                })
                this.pwa_branch = e.target.options[e.target.options.selectedIndex].dataset.name
                this.pwa_branch_id = e.target.options[e.target.options.selectedIndex].value
            }
            this.info_to_update.splice(0, this.info_to_update.length)
            this.map()
        },
        select_change_area (e) {
            this.CODE = ''
            if(e.target.options.selectedIndex > 0) {
                this.area_id = e.target.options[e.target.options.selectedIndex].value
                // //console.log(e.target.options[e.target.options.selectedIndex].value)
                this.province.data.forEach( (item, index, arr) => {
                    if (item.reg === e.target.options[e.target.options.selectedIndex].value){
                        this.branch = item.ww_all
                    }
                })
                this.pwa_area = e.target.options[e.target.options.selectedIndex].dataset.name
                this.pwa_area_id = e.target.options[e.target.options.selectedIndex].value
            }
            this.info_to_update.splice(0, this.info_to_update.length)
            this.map()
        },
        onCellChange (rowIndex, columnIndex, data) {
            //console.log('onCellChange: ', rowIndex, columnIndex, data)
            //console.log('table data: ', this.$refs.table.getData())
        },
        onSelect (isChecked, index, data) {
            //console.log('onSelect: ', isChecked, index, data)
            // //console.log('Checked Data:', this.$refs.table.getCheckedRowDatas(true))
        },
        async update_station () {
            this.table_data.area
            this.table_data.area_id
            const res = await this.apiSetting.getInfo()
            res.data.station.forEach( (item, index, arr) => {
                if (item.st_code == this.table_data.area_id && item.st_desc == this.table_data.area){
                    res.data.station[index].st_count.SEDIMENT = this.table_data.detail[0].val
                    res.data.station[index].st_count.FILTATION = this.table_data.detail[1].val
                    res.data.station[index].st_count.CHEMICAL= this.table_data.detail[2].val
                    res.data.station[index].st_count.CLEARWELL= this.table_data.detail[3].val
                    res.data.station[index].st_count.ELEVATE= this.table_data.detail[4].val
                    res.data.station[index].st_count.RWP= this.table_data.detail[5].val
                    res.data.station[index].st_count.HSP= this.table_data.detail[6].val
                    res.data.station[index].st_count.DPB= this.table_data.detail[7].val
                    res.data.station[index].st_count.BOOSTER= this.table_data.detail[8].val
                }
            })
            //console.log(res.data)
            const res2 = await this.apiSetting.updateInfo(res.data)
            // this.$router.go(0);
            // this.$router.push({path:'/setting'});
            location.reload(); 
        },
        async delete_station () {
            this.table_data.area
            this.table_data.area_id
            const res = await this.apiSetting.getInfo()
            res.data.station.forEach( (item, index, arr) => {
                if (item.st_code == this.table_data.area_id && item.st_desc == this.table_data.area){
                   res.data.station.splice(index,  res.data.station.length)
                }
            })
            //console.log(res.data)
            const res2 = await this.apiSetting.updateInfo(res.data)
            // this.$router.go(0);
            // router.push({path:'/setting'});
            location.reload(); 
        },
        fn_btn_click_btn_group (param) {
            switch(param) {
                case 'add':
                    this.table_add.show_add_area = true;
                break;
                case 'update':
                    this.update_station()
                break;
                case 'add_data':
                    this.add_branch();
                    this.table_add.show_add_area = false
                break;
                case 'close':
                    this.table_add.show_add_area = false;
                break;
                case 'delete':
                    this.delete_station()
                break;
                default:
                    //console.log('error')
            }
        },
        async add_branch(){
            var obj_area = {
                "pwa_info": {
                    "reg": this.pwa_area_id,
                    "reg_desc": this.pwa_area,
                    "ww": this.pwa_branch_id,
                    "ww_desc": this.pwa_branch
                },
                "station": [
                    {
                        "st_code": this.area_id_add,
                        "st_desc": this.area_desc_add,
                        "st_count": {
                            "SEDIMENT": this.table_data.detail[0].val,
                            "FILTATION": this.table_data.detail[1].val,
                            "CHEMICAL": this.table_data.detail[2].val,
                            "CLEARWELL": this.table_data.detail[3].val,
                            "ELEVATE": this.table_data.detail[4].val,
                            "RWP": this.table_data.detail[5].val,
                            "HSP": this.table_data.detail[6].val,
                            "DPB": this.table_data.detail[7].val,
                            "BOOSTER": this.table_data.detail[8].val
                        }
                    }
                ]
            }
            //console.log(obj_area)
            const res = await this.apiSetting.getInfo()
            res.data.pwa_info.reg = obj_area.pwa_info.reg
            res.data.pwa_info.reg_desc = obj_area.pwa_info.reg_desc
            res.data.pwa_info.ww = obj_area.pwa_info.ww
            res.data.pwa_info.ww_desc = obj_area.pwa_info.ww_desc
            res.data.station.push(obj_area.station[0])
            //console.log(res.data)
            const res2 = await this.apiSetting.updateInfo(res.data)
            //console.log(res2)
            setTimeout( () => {
                this.map()
            }, 2000);
        },
        async map () {
            if (this.area_id !== '' && this.CODE !== '') {
                const res = await this.apiSetting.getInfo()
                //console.log(this.area_id)
                //console.log(res.data.pwa_info.reg)
                //console.log(this.CODE)
                //console.log(res.data.pwa_info.ww)
                if (this.area_id == res.data.pwa_info.reg && this.CODE == res.data.pwa_info.ww){
                    this.info_to_update.splice(0, this.info_to_update.length)
                    res.data.station.forEach( (item, index, arr) => {
                        this.info_to_update.push(item)
                        //console.log("OKOKOKOKOKOK")
                    })
                    this.disable_button = true
                }else {
                    this.info_to_update.splice(0, this.info_to_update.length)
                    this.disable_button = true
                }
            }else {
                
            }
        }
    },
    computed: {

    },
    async mounted (){
        this.province = await this.apiSetting.province()
        var ggggg = await this.apiSetting.getInfo()
        //console.log('========================== debug ==========================')
        this.getInfo = ggggg.data
        this.area_id = this.getInfo.pwa_info.reg
        this.CODE = this.getInfo.pwa_info.ww
        // this.area_id = this.getInfo[0].reg
        //console.log(this.getInfo)
        // //console.log(this.province)        
    }
}
</script>

<style scoped>
    @import '../../../../css/style.branchDetail.css';
</style>