.card {
    border:1px solid #c8c6c6 !important;
}
* {
    font-family: 'Roboto' !important;
}
/* textarea {
    resize: none;
    outline: 1px solid #aba5a5;
    padding: 10px;
    width:100%;
} */
/* input {
    outline: 1px solid #aba5a5;
    padding: 10px;
    height: 30px;
    margin-right: 10px;
} */
.btn {
    margin-right: 10px;
}
.btn-Bblue{
    background-color: #0037ff;
    color: ivory;
    font-size: 0.7rem;
}
.btn-blue-add {
    /* color: #fff;
    background-color: #0c59a6; */
    all: none;
}
.btn:focus {
    box-shadow: 0 0 0 0 rgba(0,0,0,.0);
}
.btn-active {
    background-color: #003367;
    color: ivory;
    font-size: 0.7rem;
    font-weight: 500;
}
.btn-blue {
    background-color: #0c7bec;
    color: ivory;
    font-size: 0.7rem;
}
.query-log2 {
    margin-bottom: 30px;
    overflow-x: scroll;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    flex-direction: flex-end ;
    display: flex;
}
.btn-content{
    display: contents;
}
.btn-remove {
    margin: 0px;
    padding: 7px;
    color: #fff;
    cursor: url("http://localhost:8080/static/images/curser/custom_cursor.png"), pointer;
}
.p-12 {
    margin-top: 30px;
}
.his {
    /* width: 100px;
    height: 40px; */
    border: 1px solid rgb(126, 128, 131);
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    -moz-box-shadow: 3px 3px 6px #bbb;
    -webkit-box-shadow: 3px 3px 6px #bbb;
    box-shadow: 3px 3px 6px #bbb;
    /* display: inline-block; */
}
.header-log {
    margin-bottom: 20px;
    font-weight: bold;
    color: #444;
    padding: 5px 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #aaa;
    background-color: #fff;
    -moz-box-shadow: 3px 3px 15px #bbb;
    -webkit-box-shadow: 3px 3px 15px #bbb;
    box-shadow: 3px 3px 15px #bbb;
    max-width: 100%;
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    width: 300px;
}
.show-query {
    padding-left: 10px;
    margin-top: 2px;
    color: #000;
    /* border: 1px solid #0c7bec;
    background-color: #0153a6;
    border-radius: 0px 0px 5px 5px; */
    position: relative;
    display: none;
}
.show-query-active {
    display: block;
}
.show-query-inactive {
    display: none;
}
/* height */
::-webkit-scrollbar {
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.green-result {
    color: #01c71f;
}
.red-result {
    color: red;
}