.card {
    border:1px solid #c8c6c6 !important;
}
* {
        font-family: 'Roboto' !important;
    }
    input {
        padding: 10px;
        margin-right: 10px;
    }
    .btn {
        margin-right: 10px;
        /* width: 200px;
        height: 300px; */
    }
    .btn-blue-add {
        /* color: #fff;
        background-color: #0c59a6; */
        all: none;
    }
    .btn:focus {
        box-shadow: 0 0 0 0 rgba(0,0,0,.0);
    }
    .btn-active {
        background-color: #003367;
        color: ivory;
        font-size: 0.8rem;
        font-weight: 500;
    }
    .btn-blue {
        background-color: #0c7bec;
        color: ivory;
        font-size: 0.7rem;
    }
    .query-log {
        margin-bottom: 30px;
        overflow-x: scroll;
        width: 100%;
        height: 50px;
        margin: 0 auto;
        flex-direction: flex-end ;
        display: flex;
    }
    .btn-content{
        display: contents;
    }
    .btn-remove {
        margin: 0px;
        padding: 7px;
        color: #fff;
    }
    .p-12 {
        margin-top: 30px;
    }
    .his {
        /* width: 100px;
        height: 40px; */
        border: 1px solid rgb(126, 128, 131);
        margin: 5px;
        padding: 10px;
        border-radius: 3px;
        -moz-box-shadow: 3px 3px 6px #bbb;
        -webkit-box-shadow: 3px 3px 6px #bbb;
        box-shadow: 3px 3px 6px #bbb;
        /* display: inline-block; */
    }
    .header-log {
        margin-bottom: 20px;
        font-weight: bold;
        color: #444;
        padding: 5px 10px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border: 1px solid #aaa;
        background-color: #fff;
        -moz-box-shadow: 3px 3px 15px #bbb;
        -webkit-box-shadow: 3px 3px 15px #bbb;
        box-shadow: 3px 3px 15px #bbb;
        max-width: 100%;
        display: block;
        padding-inline-start: 2px;
        padding-inline-end: 2px;
        width: 300px;
    }
    .show-query {
        padding-left: 10px;
        margin-top: 2px;
        color: #000;
        /* border: 1px solid #0c7bec;
        background-color: #0153a6;
        border-radius: 0px 0px 5px 5px; */
        position: relative;
        display: none;
    }
    .show-query-active {
        display: block;
    }
    .show-query-inactive {
        display: none;
    }
    /* height */
    ::-webkit-scrollbar {
        height: 0px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    .green-result {
        color: #01c71f;
    }
    .red-result {
        color: red;
    }
    /** databases conenction */
    .sc-db-connect {
        margin-bottom: 30px;
        overflow-x: scroll;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        flex-direction: row ;
        display: flex;
    }
    .card-border-margin {
        margin-left: 10px;
        display: inline-block;
        margin-right: 10px;
    }
    .db-card {
        width: auto;
        height: auto;
    }
    .db-card-b {
        display: inline-block;
        position: relative;
        padding: 10px;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-top-color: rgba(0, 0, 0, 0.125);
        border-top-style: solid;
        border-top-width: 1px;
        border-right-color: rgba(0, 0, 0, 0.125);
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: rgba(0, 0, 0, 0.125);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgba(0, 0, 0, 0.125);
        border-left-style: solid;
        border-left-width: 1px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem; 
    }
    .db-card-f-connect {
        background-color: #0de42da1;
    }
    .db-card-f-disconnect {
        background-color:#7e808394;
    }
    .db-card-f {
        padding: 10px;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-top-color: rgba(0, 0, 0, 0.125);
        border-top-style: solid;
        border-top-width: 0px;
        border-right-color: rgba(0, 0, 0, 0.125);
        border-right-style: solid;
        border-right-width: 1px;
        border-bottom-color: rgba(0, 0, 0, 0.125);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgba(0, 0, 0, 0.125);
        border-left-style: solid;
        border-left-width: 1px;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
    .p-font-size-2em { 
        font-size: 2em;
    }
    .p-padding-top-10-px {
        padding-top:10px;
    }
    .db-select-ed {
        box-shadow: 2px 2px 2px 1px #7e808394;
    }
    /* .db-card-b:hover, .db-card-f:hover, .db-card-h:hover {
        box-shadow: 2px 2px 2px 1px #7e808394;
    } */