<template>
    <div class="card " style="margin-top: 10px;">
        <h5 class="card-header txt-align-l"> จัดการผู้ใช้งาน</h5>

        <div class="card-body" :hidden='false'>
            <b-table
                sticky-header
                :fields="fields_user"
                :items="user"
                :bordered="true"
                :hover="true"
                responsive
            >
                <template v-slot:cell(edit)="data">
                    <b-button v-b-modal="'edit-mapping-'+ data.index" variant="outline-primary">Edit</b-button>


                        <!-- edit mapping -->
                        <b-modal :id="'edit-mapping-' + data.index" size="xl" :title="'แก้ไขข้อมูล : '+data.item.name" @ok="editItemUser(data.index)">

                            <b-container class="bv-example-row">
                                <b-row>
                                    <b-col>

                                        <div class="mt-2">
                                            Name:
                                            <b-form-input v-model='user[data.index].name'></b-form-input>
                                        </div>

                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>

                                        <div class="mt-2">
                                            Username:
                                            <b-form-input  v-model='user[data.index].username'></b-form-input>
                                        </div>

                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>

                                        <div class="mt-2">
                                            Password:
                                            <b-form-input v-model='pass' type='password' ></b-form-input>
                                        </div>

                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>

                                        <div class="mt-2">
                                            Confirm Password:
                                            <b-form-input v-model='cpass' type='password' ></b-form-input>
                                        </div>

                                    </b-col>
                                </b-row>
                            </b-container>

                            <template v-slot:modal-footer="{ ok, cancel }">
                                <!-- <b>Custom Footer</b> -->
                                <b-button size="lg" variant="outline-primary" @click="ok()">OK</b-button>
                                <b-button size="lg" variant="outline-primary" @click="cancel()">Cancel</b-button>
                            </template>
                        </b-modal>

                        
                </template>
                <template v-slot:cell(delete)="data">
                    <!-- <b-button @click="deleteUser(data.index)" variant="outline-primary">DELETE</b-button> -->
                    <b-button v-b-modal="'delete-mapping-'+ data.index" variant="outline-primary">DELETE</b-button>


                        <!-- delete mapping -->
                        <b-modal :id="'delete-mapping-' + data.index" size="xl" :title="'ลบผู้ใช้ : '+data.item.name" @ok="deleteItemUser(data.index)">

                            <b-container class="bv-example-row">
                                <b-row>
                                    คุณต้องการลบผู้ใช้ไหม
                                </b-row>
                            </b-container>

                            <template v-slot:modal-footer="{ ok, cancel }">
                                <b-button size="lg" variant="outline-primary" @click="ok()">OK</b-button>
                                <b-button size="lg" variant="outline-primary" @click="cancel()">Cancel</b-button>
                            </template>
                        </b-modal>

                </template>
            </b-table>
            <b-button v-b-modal="'add-mapping-add'" variant="outline-primary">Add User</b-button>


                        <!-- add mapping -->
                        <b-modal :id="'add-mapping-add'" size="xl" :title="'เพิ่มผู้ใช้งานระบบ'" @ok="addUser()">

                            <b-container class="bv-example-row">
                                <b-row>
                                    <b-col>

                                        <div class="mt-2">
                                            Name:
                                            <b-form-input v-model='user_add.name'></b-form-input>
                                        </div>

                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>

                                        <div class="mt-2">
                                            Username:
                                            <b-form-input  v-model='user_add.username'></b-form-input>
                                        </div>

                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>

                                        <div class="mt-2">
                                            Password:
                                            <b-form-input v-model='user_add.pass' type='password' ></b-form-input>
                                        </div>

                                    </b-col>
                                </b-row>
                                <b-row>
                                    <b-col>

                                        <div class="mt-2">
                                            Confirm Password:
                                            <b-form-input v-model='user_add.cpass' type='password' ></b-form-input>
                                        </div>

                                    </b-col>
                                </b-row>
                            </b-container>

                            <template v-slot:modal-footer="{ ok, cancel }">
                                <b-button size="lg" variant="outline-primary" @click="ok()">OK</b-button>
                                <b-button size="lg" variant="outline-primary" @click="cancel()">Cancel</b-button>
                            </template>
                        </b-modal>
        </div>
    </div>
</template>

<script>

import user from './user.json'

export default {
    name: 'managerUser',
    data () {
        return {
            pass: '',
            cpass:'',
            user_add: {
                name: '',
                username: '',
                pass: '',
                cpass: ''
            },
            user_vuex: user,
            user: [],
            fields_user: [
                {
                    key: "index",
                    label: "#"
                }, {
                    key: "name",
                    label: "Name"
                }, {
                    key: "edit",
                    label: "EDIT"
                }, {
                    key: "delete",
                    label: "DELETE"
                }
            ]
        }
    },
    components: {

    },
    methods: {
        deleteUser(index) {
            console.log(index)
        },
        editUser(index) {
            console.log(index)
        },
        editItemUser(index) {
            if (this.pass === this.cpass){
                this.user[index].password = this.pass
            }else {
                alert('ไม่สามารถแก้ไขผู้ใช้ได้กรอดรหัสผ่านไม่ถูกต้อง')
            }
            console.log(this.user)
        },
        deleteItemUser(index) {
            this.user.splice(index, 1);
            console.log(this.user)
        },
        addUser() {
            console.log(this.user_add)
            if (this.user_add.cpass === this.user_add.pass){
                //add user
            }else {
                alert('ไม่สามารถเพิ่มผู้ใช้ได้กรอดรหัสผ่านไม่ถูกต้อง')
            }
        }
    },
    computed: {

    },
    mounted (){
        console.log(this.user)
        var temp = []
        this.user_vuex.forEach((item, index, arr) => {
            if (item.type === 'user'){
                temp.push(item)
            }
        })
        this.user = temp
        console.log(this.user)
    }
}
</script>

<style scoped>
    @import '../../../../css/style.dbconnection.css';
</style>