<template>
    <div class="card">
        <h5 class="card-header">Query</h5>
        <div class="card-body">

            <b-card no-body>
                <b-tabs card>
                    <!-- Render Tabs, supply a unique `key` to each tab -->
                    <b-tab v-for="i in tabs" :key="'dyn-tab-' + i" :title="'Tab ' + i">
                    Tab contents {{ i }}
                    <b-button size="sm" variant="danger" class="float-right" @click="closeTab(i)">
                        Close tab
                    </b-button>
                    </b-tab>

                    <!-- New Tab Button (Using tabs-end slot) -->
                    <template v-slot:tabs-end>
                    <b-nav-item @click.prevent="newTab" href="#"><b>+</b></b-nav-item>
                    </template>

                    <!-- Render this if no tabs -->
                    <template v-slot:empty>
                    <div class="text-center text-muted">
                        There are no open tabs<br>
                        Open a new tab using the <b>+</b> button above.
                    </div>
                    </template>
                </b-tabs>
            </b-card>
            <!-- <div class='row'>
                <div class='col-md-12'>
                    <div class='query-log2'>
                        <div v-for="(item, index) in this.$store.state.state_page.dquery.query.data"  :key="item.id" class='btn-content'>
                            <div :class="'btn btn-blue-hover btn-' + (item.id === active ? 'active' : 'blue')" style = 'text-align: center;' @click="TAB_SELECT(index, $event, item.id)">
                                {{(item.query_name === '' ? "Tab" : item.query_name)}}
                                <button @click="deleteState(index)" type = 'button' class="btn btn-remove"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div> 
                        </div>
                        <button @click="addStateQuery()" type="button" class="btn btn-blue-add"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                    <br>
                </div>
                <div class='col-md-3'>
                    Query Name: 
                    <input class="form-control" type = 'text' v-model="name" @keyup="update_query_fn"  placeholder="Query name"/>
                </div>
                <div class='col-md-3'>
                    Table:
                    <input class="form-control" type = 'text' v-model="table" @keyup="update_query_fn"  placeholder="Query name"/>
                </div>
                 <div class="form-group col-md-6">
                    Databases:
                    <select class="form-control" @change="select_change">
                        <option selected value = 'choose'>Choose...</option>
                        <option v-for='(item, index) in this.$store.state.state_page.dquery.connection.data' :key='index' :value='item.connection_name' :data-type="item.type">{{item.connection_name}}</option>
                    </select>
                </div>
                <div class='col-md-1 p-12 '>
                    <p class="font-weight-bold">SQL : </p>
                </div>
                <div class='col-md-11 p-12'>
                    <textarea class="" rows='5' v-model="query" @keyup="update_query_fn" placeholder="Input Query"></textarea>
                    <button type='button' class='btn btn-blue float-right' @click='update' :disabled='this.active === -1' >UPDATE</button>
                    <button type='button' class='btn btn-Bblue float-right' @click='call_sql' :disabled='this.query === ""'>QUERY</button>
                    <span :class='class_result'>{{ query_result }}</span>
                </div>
            </div> -->

            <!-- start  /B "" "D:\Ragnarok\rAthena\Server\01_emulator\rathena_RENEWAL\char-server.exe"    sc create "My_RO1RUN_char-server" binPath="D:\Ragnarok\rAthena\Server\01_emulator\rathena_RENEWAL\char-server.exe"    -->

            <!--

                start /B D:\Ragnarok\rAthena\Server\01_emulator\rathena_RENEWAL\char-server.exe && start /B D:\Ragnarok\rAthena\Server\01_emulator\rathena_RENEWAL\map-server.exe && start /B D:\Ragnarok\rAthena\Server\01_emulator\rathena_RENEWAL\login-server.exe        


                sc create "ro1run_char_server" binPath="C:\Program Files\rathena_RENEWAL\char-server.exe" 
                && sc create "ro2run_map-server" binPath="C:\Program Files\rathena_RENEWAL\map-server.exe" 
                && sc create "ro3run_login-server" binPath="C:\Program Files\rathena_RENEWAL\login-server.exe"

                mssm.exe "RO_SERVER_RUN_1" C:\Program Files\rathena_RENEWAL\char-server.exe
                mssm.exe "RO_SERVER_RUN_2" C:\Program Files\rathena_RENEWAL\map-server.exe
                mssm.exe "RO_SERVER_RUN_3" C:\Program Files\rathena_RENEWAL\login-server.exe

                sc create "RO_SERVER_SERVICE" binPath="C:\Users\bandi\OneDrive\Desktop\run.bat" 
            -->
        </div>
    </div>
</template>

<script>

export default {
    name: 'query',
    data () {
        return {
            tabs: [],
            tabCounter: 0,
            table:'',
            query_id: 1,
            query: '',
            name: '',
            query_result: '', //Showing rows 0 - 24 (1325612 total, Query took 0.0004 seconds.)
            active: -1,
            dbcon: '',
            logtable: '',
            type: '',
            class_result: 'green-result'
        }
    },
    props: {
        getQuery: {
            type: Object
        }
    },
    components: {
        
    },
    watch : {

    },
    methods : {
        closeTab(x) {
            for (let i = 0; i < this.tabs.length; i++) {
                if (this.tabs[i] === x) {
                    this.tabs.splice(i, 1)
                }
            }
        },
        newTab() {
            this.tabs.push(this.tabCounter++)
        },
        call_sql () {
            this.query_sql();
        },
        async query_sql () {
            console.log(this.query)
            const res = await this.getQuery.send_query('MSSQL_DB1', {"sql": this.query});
            console.log(res.data);
            this.$store.state.state_page.dquery.result = res.data;
        },
        select_change (e) {
            if(e.target.options.selectedIndex > 0) {
                this.dbcon = e.target.options[e.target.options.selectedIndex].value
                this.type = e.target.options[e.target.options.selectedIndex].dataset.type
            }
        },
        update() {
            this.updateState(this.query_id, this.query, this.name, this.table);
        },
        update_query_fn () {

        },
        TAB_SELECT (id, e, Did) {
            // console.log(this.$store.state.state_page.dquery.query.data)
            //console.log(Did)
            // //console.log(e.toElement.tagName)
            if (e.toElement.tagName === "DIV"){
                // //console.log(e.toElement.tagName)
                this.query = this.$store.state.state_page.dquery.query.data[id].query
                this.name = this.$store.state.state_page.dquery.query.data[id].query_name
                this.query_id = Did 
                this.active = Did
                this.table = this.$store.state.state_page.dquery.query.data[id].table
                this.type = this.$store.state.state_page.dquery.query.data[id].type
            }
        },
        getstate () {
            var arr = []

            this.$store.state.state_page.dquery.query.data.forEach(function (item, index, arr) {

            })
        },
        addStateQuery () {
            this.$store.state.state_page.dquery.query.data.push({

                id: (this.$store.state.state_page.dquery.query.data[this.$store.state.state_page.dquery.query.data.length - 1].id + 1),
                query: '',
                query_name: 'Untitled',//(this.name === '' ? "Untitled" : (this.name)),
                table: '',
                logtable: '',
                type: '',
                dbcon: this.dbcon,
            })
            this.query = ''
            this.name = 'Untitled'
            this.table = ''
            this.active = (this.$store.state.state_page.dquery.query.data[this.$store.state.state_page.dquery.query.data.length - 1].id)
            this.query_id = (this.$store.state.state_page.dquery.query.data[this.$store.state.state_page.dquery.query.data.length - 1].id)
            this.dbcon = '',
            this.logtable = '',
            this.type = ''

        },
        async updateState (updateID, query, name, table) {
            this.active = updateID
            var dbcon = this.dbcon
            var type = this.type
            this.$store.state.state_page.dquery.query.data.forEach(function (item, index, arr) {
                if (item.id === (updateID)){
                    arr[index].query_name = name
                    arr[index].query = query
                    arr[index].table = table
                    arr[index].id = updateID
                    arr[index].dbcon = dbcon
                    arr[index].type = type
                }
            })
            var arr1 = []
            this.$store.state.state_page.dquery.query.data.forEach(function (item, index, arr){
                if (item.query_name !== 'Untitled'){
                    arr1.push(item)
                }
            })
            console.log(arr1)
            this.$store.state.state_page.dquery.query.data = arr1
            // for (var i = 0;i < this.$store.state.state_page.dquery.query.data.length;i++){
            //     if (item.query_name === 'Untitled'){
            //         arr.splice(index, 1)
            //     }
            // }
            for (name in this.$store.state.state_page.dquery){
                console.log("name : " + name + " data : " + this.$store.state.state_page.dquery[name]);
            }
            const res = await this.getQuery.squery(this.$store.state.state_page.dquery.query.data)
            if (res.status === 200){
                this.query_result = '** Update Succeed.'
                this.class_result = 'green-result'
                this.active = -1
            }
            // const res1 = await this.getQuery.send_query('MSSQL_DB1', 'SELECT TOP(1) * from dbo.DATATBL_DPB WHERE Device LIKE \'%_BP1_%\' ORDER BY DataDateTime DESC;')
            // console.log(res1)
            setTimeout( () => {
                this.query_result = ''
                this.class_result = 'green-result'
            }, 3000);
        },
        async deleteState (deleteID){
            //console.log(deleteID)

            // this.$store.state.state_page.dquery.query.data.forEach(function (item, index, arr) {
            //     if (item.id === (deleteID)){
            //         arr.splice(index, 1)
            //     }
            // })
            
            this.$store.state.state_page.dquery.query.data.splice(deleteID, 1)
            this.query = ''
            this.name = ''
            this.id = ''
            this.active = -1
            this.dbcon = ''
            this.table = ''
            this.type = ''
            // console.log(this.$store.state.state_page.dquery.query.data)

            const res = await this.getQuery.squery(this.$store.state.state_page.dquery.query.data)
            if (res.status === 200){
                this.query_result = '** Delete Succeed.'
                this.class_result = 'green-result'
                this.active = -1
            }
            setTimeout( () => {
                this.query_result = ''
                this.class_result = 'green-result'
            }, 3000);

        },
        drag_and_click_tag (){
            // const slider2 = document.querySelector('.query-log2');
            // let isDown = false;
            // let startX;
            // let scrollLeft;

            // slider2.addEventListener('mousedown', (e) => {
            //     isDown = true;
            //     slider2.classList.add('active');
            //     startX = e.pageX - slider2.offsetLeft;
            //     scrollLeft = slider2.scrollLeft;
            // });
            // slider2.addEventListener('mouseleave', () => {
            //     isDown = false;
            //     slider2.classList.remove('active');
            // });
            // slider2.addEventListener('mouseup', () => {
            //     isDown = false;
            //     slider2.classList.remove('active');
            // });
            // slider2.addEventListener('mousemove', (e) => {
            //     if(!isDown) return;
            //     e.preventDefault();
            //     const x = e.pageX - slider2.offsetLeft;
            //     const walk = (x - startX) * 3; //scroll-fast
            //     slider2.scrollLeft = scrollLeft - walk;
            // });
        },
        onload () {
            // console.log(this.$store.state.state_page.dquery.query.data)
            // this.id = this.$store.state.state_page.dquery.query.data
            // this.query_id = this.$store.state.state_page.dquery.query.data[0].id
            // this.name = this.$store.state.state_page.dquery.query.data[0].query_name
            // this.query = this.$store.state.state_page.dquery.query.data[0].query
        },
    },
    computed: {

    },
    mounted (){
        // this.showState()
        this.onload()
        this.drag_and_click_tag()
    }
}
</script>

<style scoped>
    @import '../../../../css/style.query.css';
</style>