<template>
    <div class="card" style="margin-top: 10px; maring-buttom: 10px;">
        <h5 class="card-header">Database Connection</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="sc-db-connect">
                        <div  v-for='(item, index) in this.$store.state.state_page.dquery.connection.data' :key='index' class="btn db-card" @click='select_DB(index)' @mouseover="hover(index)" @mouseleave="leave(index)">
                            <!-- <div class="db-card-h">
                                header
                            </div> -->
                            <div :class="'db-card-b' + ((index === index_select || index === hover_select) ? ' db-select-ed' : '')">   <!-- '/static/images/mysqllogo/maria-sql.svg' -->
                                <!-- <img :src="((item.type === 'MICROSOFT_DB') ? '/static/images/mysqllogo/microsoft-sql.svg' : (item.type === 'MARIA_DB' ? '/static/images/mysqllogo/maria-sql.svg' : '/static/images/mysqllogo/influx-db.svg'))" width='170px' height="120px" /> -->
                                <img :src="((item.type === 'MICROSOFT_DB') ? '/static/images/mysqllogo/microsoft-sql.svg' : (item.type === 'MARIA_DB' ? '/static/images/mysqllogo/maria-sql.svg' : (item.type === 'MONGO_DB' ? '/static/images/mysqllogo/mongo.png' : '/static/images/mysqllogo/influx-db.svg')))" width='170px' height="120px" />
                                <br><br><p class='p-font-size-2em'>{{ item.connection_name }}</p>
                                <p style = 'font-size:0.9em;'>{{item.ip}}:{{item.port}}</p>
                                <p style = 'font-size:0.9em;'>DB: {{item.db_name}}</p>
                            </div>
                            <div :class="'db-card-f ' + ((item.status) ? 'db-card-f-connect' : 'db-card-f-disconnect') + ((index === index_select || index === hover_select) ? ' db-select-ed' : '')">
                                {{ (((item.status) ? 'Connect' : 'Disconnect')) }}
                            </div>
                        </div> 

                    </div>
                </div>
            </div>
            <div class='row'>
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <b-button v-b-modal.modal-add-connection squared variant="outline-primary">ADD Database</b-button>

                    <!-- modal for ADD -->
                    <b-modal 
                        id="modal-add-connection" 
                        size="xl" 
                        title="Add Database"
                        @ok="dbAdd"
                    >
                        <b-container class="bv-example-row">

                            <b-row>
                                <b-col cols="6">
                                    <b-form-group label-cols="4" label-cols-lg="2" label="DB Name" label-for="input-db_name">
                                        <b-form-input id="input-db_name" v-model='add_connection.db_name'></b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col cols="6">
                                    <b-form-group label-cols="4" label-cols-lg="2" label="Host" label-for="input-ip">
                                        <b-form-input id="input-ip" v-model='add_connection.ip'></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                            <b-row>
                                <b-col cols="6">
                                    <b-form-group label-cols="4" label-cols-lg="2" label="Port" label-for="input-port">
                                        <b-form-input type = 'number' min="0" max="65535" id="input-port" v-model='add_connection.port'></b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col cols="6">
                                    <b-form-group label-cols="4" label-cols-lg="2" label="username" label-for="input-user">
                                        <b-form-input id="input-user" v-model='add_connection.user'></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                            <b-row>
                                <b-col cols="6">
                                    <b-form-group label-cols="4" label-cols-lg="2" label="Password" label-for="input-pass">
                                        <b-form-input type = 'password' id="input-pass" v-model='add_connection.pass'></b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col cols="6">
                                    <b-button @click='test_conenction()' squared variant="outline-primary">Test Connection</b-button>
                                    <span :class='"result " + result_test_connection.class'>{{result_test_connection.text}}</span>
                                </b-col>
                            </b-row>

                        </b-container>
                    </b-modal>


                    <!-- <button class='btn btn-blue ' style='float: right;' @click="edit_connection()">
                        Edit Connection
                    </button> -->

                </div>
            </div>
            <div class='row' >
                <div class="col-md-12">
                    <p class="p-font-size-2em p-padding-top-10-px"> Custom : {{db_name}} </p>
                </div>
            </div>
            <div class='row' >
                <div class="col-md-4">
                    HOST<br>
                    <input class="form-control" v-model="ip" type="text" placeholder=""/>
                </div>
                <div class="col-md-4">
                    PORT<br>
                    <input class="form-control" v-model="port" type="text" placeholder=""/>
                </div>
                <div class="col-md-4">
                    DB
                    <input class="form-control" v-model="db_name" type="text" placeholder=""/>
                </div>
            </div>
            <div class='row' >
                <div class="col-md-4">
                    USER<br>
                    <input class="form-control" v-model="user" type="text" placeholder=""/>
                </div>
                <div class="col-md-4">
                    PASS<br>
                    <input class="form-control" v-model="pass" type="password" placeholder=""/>
                </div>
                <!-- <div class="col-md-8"></div> -->
                <div class="col-md-4">
                    <br>
                    <!-- <b-button v-b-modal.modal-add-connection squared variant="outline-primary" style = 'width: 80px;' @click='dbAdd()'>ADD</b-button> -->
                    <b-button squared variant="outline-primary" style = 'width: 80px;' @click='dbUpdate()'>UPDATE</b-button>
                    <b-button squared variant="outline-primary" style = 'width: 80px;' @click='dbDelete()'>DELETE</b-button>

                    <!-- <button class="btn btn-event-add-update-delete" type="buttom" style = 'width: 80px;'> ADD </button>
                    <button class="btn btn-event-add-update-delete" type="buttom" style = 'width: 80px;'> UPDATE </button>
                    <button class="btn btn-event-add-update-delete" type="buttom" style = 'width: 80px;'> DELETE </button> -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: 'dbconnection',
    data () {
        return {
            result_test_connection: {
                class: 'ok',
                text: ''
            },
            connection_name: 1,
            add_connection : {
                db_name: "",
                ip: "",
                port: "",
                type: "",
                user: "",
                pass: ""
            },
            hover_select: 0,
            index_select: 0,
            db_name: "",
            ip: "",
            port: "",
            type: "",
            user: "",
            pass: ""
        }
    },
    props: {
        getFlow: {
            type: Object
        }
    },
    components: {

    },
    methods: {
        async test_conenction () {
            if (
                this.add_connection.db_name === "" && 
                this.add_connection.ip === "" &&
                this.add_connection.port === "" &&
                this.add_connection.user === ""
            ){
                alert ("กรุณากรอกข้อมูลให้ครบ")
            } else {
                const result_test_connection = await this.getFlow.testConnection({
                    db_name: this.add_connection.db_name,
                    ip: this.add_connection.ip,
                    port: this.add_connection.port,
                    user: this.add_connection.user,
                    pass: this.add_connection.pass
                });
                if (result_test_connection.data.result){
                    this.result_test_connection.class = 'Success'
                    this.result_test_connection.text = 'Connection Success'
                } else {
                    this.result_test_connection.class = 'unuccessfull'
                    this.result_test_connection.text = 'Connection Unsuccess'
                }
                // {
                //     result: true
                // }
            }
        },
        async updateAll() {
            var data = this.$store.state.state_page.dquery.connection.fdata 
            data.con = this.$store.state.state_page.dquery.connection.data
            const result_update_dbcon = await this.getFlow.dbUpdate(data);
            if (result_update_dbcon.status == 200){
                alert("Success")
                location.reload();
            }
        },
        dbAdd (bvModalEvt) {
            if (
                this.add_connection.db_name !== '' &&
                this.add_connection.ip !== '' &&
                this.add_connection.port !== '' &&
                this.add_connection.user !== '' &&
                this.add_connection.pass !== ''
            ){
                this.$store.commit('PUSH_CONNECTION', {
                    connection_name: this.connection_name,
                    db_name: this.add_connection.db_name,
                    ip: this.add_connection.ip,
                    pass: this.add_connection.pass,
                    port: this.add_connection.port,
                    status: false,
                    type:"MICROSOFT_DB",
                    user: this.add_connection.user
                });
                console.log(this.add_connection)
                // Hide Modal
                this.$nextTick(() => {
                    this.$bvModal.hide('modal-add-connection')
                    this.add_connection.db_name = ''
                    this.add_connection.ip = ''
                    this.add_connection.port = ''
                    this.add_connection.user = ''
                    this.add_connection.pass = ''
                })
                this.Genarate_Connection_name();
                this.updateAll();
            } else {
                alert("กรุกรอกข้อมูลให้ครบ")
            }
            bvModalEvt.preventDefault()
        },
        dbUpdate () {
            console.log({
                index_select: this.index_select,
                db_name: this.db_name,
                ip: this.ip,
                pass: this.pass,
                port: this.port,
                status: false,
                type: this.$store.state.state_page.dquery.connection.data[this.index_select].type,
                user: this.user
            })
            this.$store.commit('UPDATE_CONNECTION', {
                index_select: this.index_select,
                db_name: this.db_name,
                ip: this.ip,
                pass: this.pass,
                port: this.port,
                status: false,
                type: this.$store.state.state_page.dquery.connection.data[this.index_select].type,
                user: this.user
            });
            this.updateAll();
        },
        dbDelete () {
            if (    this.$store.state.state_page.dquery.connection.data[this.index_select].connection_name !== "MSSQL_DB1" && 
                    this.$store.state.state_page.dquery.connection.data[this.index_select].connection_name !== "mongo_con"
            ) {
                this.$store.commit('DELETE_CONNECTION', this.index_select);
                this.updateAll();
            } else {
                alert("Can't remove Connection")
            }
        },
        edit_connection() {
            window.open(
                'http://localhost:8080/red/',
                '_blank' 
            );
        },
        hover (index) {
            this.hover_select = index
        },
        leave (index) {
            this.hover_select = -1
        },
        select_DB (index) {
            this.index_select = index
            this.db_name = this.$store.state.state_page.dquery.connection.data[index].db_name
            this.ip = this.$store.state.state_page.dquery.connection.data[index].ip
            this.port = this.$store.state.state_page.dquery.connection.data[index].port
            this.user = this.$store.state.state_page.dquery.connection.data[index].user
            this.pass = this.$store.state.state_page.dquery.connection.data[index].pass
        },
        drag_and_click_tag1 (){
            const slider = document.querySelector('.sc-db-connect');
            let isDown = false;
            let startX;
            let scrollLeft;

            slider.addEventListener('mousedown', (e) => {
                isDown = true;
                // slider.classList.add('active');
                startX = e.pageX - slider.offsetLeft;
                scrollLeft = slider.scrollLeft;
            });
            slider.addEventListener('mouseleave', () => {
                isDown = false;
                // slider.classList.remove('active');
            });
            slider.addEventListener('mouseup', () => {
                isDown = false;
                // slider.classList.remove('active');
            });
            slider.addEventListener('mousemove', (e) => {
                if(!isDown) return;
                e.preventDefault();
                const x = e.pageX - slider.offsetLeft;
                const walk = (x - startX) * 3; //scroll-fast
                slider.scrollLeft = scrollLeft - walk;
            });
        },
        Genarate_Connection_name () {
            // Genarate Connection Name
            var arr_connection_name_temp = []
            this.$store.state.state_page.dquery.connection.data.forEach((item, index, arr) => {
                if (item.type === "MICROSOFT_DB") {
                    arr_connection_name_temp.push(item.connection_name)
                }
            })
            if (arr_connection_name_temp.length === 0){
                this.connection_name = 'MSSQL_DB1'
            } else {
                this.connection_name = "MSSQL_DB" + (Number(arr_connection_name_temp[arr_connection_name_temp.length - 1].split('MSSQL_DB')[1]) + 1)
            }
            console.log(this.connection_name)
        }
    },
    computed: {

    },
    async mounted (){
        this.drag_and_click_tag1()

        const response2 = await this.getFlow.query();
        const response3 = await this.getFlow.status();
        this.$store.commit('SET_QUERY', response2.data);
    
        this.$store.state.state_page.dquery.connection.fdata  = (response3.data);
        this.$store.state.state_page.dquery.connection.data  = (response3.data.con);
        
        this.select_DB(0)
        this.Genarate_Connection_name();

    }
}
</script>

<style scoped>
    @import '../../../../css/style.dbconnection.css';
</style>