<template>
    <div class='container'>
        <div class="py-4 text-center">
            <h2>Databases Config</h2>
        </div>
        <dbconfig :getFlow='this.getFlow'/>
        <!-- <dbconnection :getFlow='this.getFlow'/>
        <br>
        <query :getQuery='this.getQuery'/>
        <br>
        <result /> -->

        <br>
    </div>
</template>

<script>
import dbconfig from './dbconfig'
import getFlow from '@/serviceAPIS/get-flow'
import getQuery from '@/serviceAPIS/get-query'
import callApi from '@/serviceAPIS/AppApi'


export default {
    name: 'dbquery',
    data () {
        return {
            getQuery,
            getFlow: getFlow
        }
    },
    components: {
      dbconfig,
    },
    methods : {

    },
    async mounted (){
        
        this.getQuery = callApi
       
    }
}


</script>

<style scoped>

</style>