.card {
    border:1px solid #c8c6c6 !important;
}
* {
    font-family: 'Roboto' !important;
}
.txt-align-c  {
    text-align :center;
}
.txt-align-r  {
    text-align :right;
}
.txt-align-l  {
    text-align :left;
}
.padding-20-t {
    padding-top: 20px;
}
.btn-blue {
    background-color: #0c7bec;
    color: ivory;
    font-size: 0.7rem;
    width: 80px;
}
.width-80{
    width: 80px;
}
.border-1px-blud-r {
    border-right: 1px solid #0c7bec;
}
.border-1px-blud-l {
    border-left: 1px solid #0854a2;
}
.btn-hover:hover{
    background-color: #0854a2;
}
.btn-stop {
    background-color: #f05e5e;
    color: ivory;
    font-size: 0.7rem;
    width: 80px;
}
.btn-stop:hover {
    background-color: #ff0000;
}
.show-table-dinamic {
    margin-top: 20px;
    border: 1px solid #8f8e9275;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 3px #bbb;
    -webkit-box-shadow: 1px 1px 3px #bbb;
    box-shadow: 1px 1px 3px #bbb;
}
.btn-start {
    background-color: #80cd04;
    color: ivory;
    font-size: 0.7rem;
    width: 80px;
}
.btn-start:hover{
    background-color: #66a207;
}
.btn-close {
    background-color: #930916;
    color: ivory;
    font-size: 0.7rem;
    width: 80px;
}
.btn-close:hover{
    background-color: #dc3545;
}